.DS_Store
node_modules
dist/**/*.html
dist/web/assets/css
dist/web/assets/images
dist/web/assets/js
web/**/*.html
web/assets/css
web/assets/images
web/assets/js
dist/assets/css
dist/assets/images/
dist/assets/js
src/web/assets/css/sprite
src/assets/css/sprite
Data/
ftp/