@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

// a11y
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

// form
.select {
	display: inline-flex;
	position: relative;
	min-width: 123px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 19px;
		top: 50%;
		margin-top: -3px;
		@include icons.retina-sprite(icons.$bg-select-group);
	}
}
.select--sorting {
	min-width: 110px;
	select {
		height: 44px;
		border-radius: 16px;
	}
}

.check {
	.check__inner {
		display: inline-flex;
		&:not(:first-child) {
			margin-left: 35px;
		}
		align-items: center;

		input[type='checkbox'] {
			& + label {
				padding-left: 7px;
			}
		}
		input[type='radio'] {
			& + label {
				padding-left: 5px;
			}
		}
	}

	@include breakpoints.mobile() {
		.check__inner {
			&:not(:first-child) {
				margin-left: 30px;
			}
		}

		input[type='radio'] {
			& + label {
				padding-left: 10px;
			}
		}
	}
}

// button
.button {
	.button__container {
		display: flex;
		justify-content: center;
		.button__item {
			&:not(:first-child) {
				margin-left: 8px;
			}
		}
	}
	.button__container--left {
		justify-content: flex-start;
	}
	.button__item {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		height: 30px;
		padding: 0 12px;
		border: 1px solid #000;
		border-radius: 100vw;
		font-size: 13px;
		letter-spacing: -0.025em;
		text-align: center;
	}
	.button__item--black {
		background-color: #000;
		color: #fff;
	}
	.button__item--medium {
		height: 44px;
		padding: 0 16px;
		font-weight: 500;
		font-size: 16px;
	}
	.button__item--large {
		min-width: 148px;
		height: 60px;
		font-weight: 500;
		font-size: 18px;
	}
	.button__ico--arrow-right {
		@include mixins.iconArrow($direction: 'right', $width: 25px, $height: 12px, $thick: 1px, $color: #000, $display: inline-block, $position: relative);
	}

	@include breakpoints.mobile() {
		.button__container {
			.button__item {
				&:not(:first-child) {
					margin-left: 5px;
				}
			}
		}
		.button__item {
			height: 26px;
			padding: 0 8px;
			letter-spacing: -0.012em;
		}
		.button__item--large {
			min-width: 140px;
			height: 50px;
			font-size: 14px;
		}
		.button__item--medium {
			height: 36px;
			padding: 0 12px;
			font-size: 13px;
		}
	}
}

// bullet
.bullet {
	.bullet__grid {
		display: grid;
		// grid-auto-columns: 1fr;
		// grid-auto-rows: 1fr;
		// grid-auto-flow: column dense;
		// grid-auto-rows: repeat(auto);
		// grid-auto-columns: max-content;
		grid-template-columns: repeat(auto-fit, minmax(50%, auto));
		// grid-template-rows: 200px repeat(auto-fill, 100px) 300px;
		margin-top: -40px;
		.bullet__group {
			margin-top: 40px;
			&:nth-child(3n) {
				// order : 1;
					// grid-row: span 1 / auto;
				// grid-column-start: 1;
				// grid-column-end: 2;
				// grid-column: 2;
				// grid-row-start: span 0;
				// grid-row-end: span 2;
			}
		}
	}
	.bullet__title {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: -0.04em;
		@include mixins.PtdMedium();
	}
	.bullet__list {
		line-height: 24px;
		letter-spacing: -0.025em;
		@include mixins.PtdRegular();
	}
	.bullet__item {
		&:not(li) {
			line-height: 24px;
			letter-spacing: -0.025em;
			@include mixins.PtdRegular();
		}
		&:not(:first-child) {
			
		}
		.bullet__row {
			display: flex;
			gap: 3px;
		}
	}
}

// pinterest list
.card_board {
	position: relative;
	li {
		position: absolute;
		overflow:hidden;
	}
}

// list bottom area
.list__bottom {
	display: flex;
	.btn__underline {
		text-decoration: underline;
	}

  @include breakpoints.mobile() {
		margin-left: 15px;
		margin-right: 15px;
	}
}

// layer
.layer__body {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
	overflow: hidden;
	.layer__wrap {
		position: absolute;
		top:50%;
		left:50%;
		@include mixins.translate(-50%, -50%);
		min-height: 300px;
		background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 42px;
    overflow: hidden;
		z-index: 101;
	}
	.layer__button {
		display: flex;
		text-align: center;
		.btn {
			flex: 1;
			margin: 0 5px;
			padding: 14px 0;
			font-size: 16px;
			border-radius: 42px;
		}	
	}
	.layer__close {
		position: absolute;
		right: 30px;
		top: 40px;
		z-index: 1;
		.btn__close {
			display: block;
			@include icons.retina-sprite(icons.$ico-close-group);
			cursor: pointer;
		}
	}
	@include breakpoints.mobile() {
		.layer__wrap {
			border-radius: 35px;
		}
		.layer__close {
			top: 30px;
			right: 15px;
		}
		.layer__button {
			.btn {
				font-size: 14px;
			}
		}
	}
}

.table__form {
	display: flex;
	&.form__margin {
		padding: 20px 0;
	}
}