@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

// a11y
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

// select
.select {
	display: inline-flex;
	position: relative;
	min-width: 123px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 18px;
		top: 50%;
		margin-top: -3.5px;
		// @include icons.retina-sprite(icons.$bg-select-group);
		width: 12px;
		height: 7px;
		background-image: url('../images/bg_select.svg');
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	select {
		background-image: none;
	}
}
.select--sorting {
	min-width: 110px;
	select {
		height: 44px;
		border-radius: 16px;
	}
}

.check {
	display: flex;
	.check__inner {
		display: inline-flex;
		&:not(:first-child) {
			margin-left: 35px;
		}
		align-items: center;
	}

	input[type='checkbox'] {
		& + label {
			padding-left: 7px;
		}
	}
	input[type='radio'] {
		& + label {
			padding-left: 5px;
		}
	}

	@include breakpoints.mobile() {
		.check__inner {
			&:not(:first-child) {
				margin-left: 30px;
			}
		}

		input[type='radio'] {
			& + label {
				padding-left: 10px;
			}
		}
	}
}

// button
.button {
	.button__container {
		display: flex;
		justify-content: center;
		.button__item {
			&:not(:first-child) {
				margin-left: 8px;
			}
		}
	}
	.button__container--left {
		justify-content: flex-start;
	}
	.button__container--right {
		justify-content: flex-end;
	}
	.button__item {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		height: 30px;
		padding: 0 12px;
		border: 1px solid #000;
		border-radius: 100vw;
		font-size: 13px;
		letter-spacing: -0.025em;
		text-align: center;
	}
	.button__item--black {
		background-color: #000;
		color: #fff;
	}
	.button__item--medium {
		height: 44px;
		padding: 0 16px;
		font-weight: 500;
		font-size: 16px;
	}
	.button__item--large {
		min-width: 148px;
		height: 60px;
		font-weight: 500;
		font-size: 18px;
	}
	.button__item--underline {
		height: auto !important;
		padding: 0 !important;
		border: 0;
		font-size: inherit;
		text-decoration: underline;
	}
	.button__ico--arrow-right {
		@include mixins.iconArrow($direction: 'right', $width: 25px, $height: 12px, $thick: 1px, $color: #000, $display: inline-block, $position: relative);
	}

	@include breakpoints.mobile() {
		.button__container {
			.button__item {
				&:not(:first-child) {
					margin-left: 5px;
				}
			}
		}
		.button__item {
			height: 26px;
			padding: 0 8px;
			letter-spacing: -0.012em;
		}
		.button__item--large {
			min-width: 140px;
			height: 50px;
			font-size: 14px;
		}
		.button__item--medium {
			height: 36px;
			padding: 0 12px;
			font-size: 13px;
		}
	}
}

// bullet
.bullet {
	.bullet__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
	}
	.bullet__title {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: -0.04em;
		@include mixins.PtdMedium();
	}
	.bullet__list {
		line-height: 18px;
		letter-spacing: -0.025em;
		@include mixins.PtdRegular();
	}
	.bullet__item {
		&:not(li) {
			line-height: 18px;
			letter-spacing: -0.025em;
			@include mixins.PtdRegular();
		}
		&:not(div):not(p):not(span) {
			margin-top: 6px;
		}
		.bullet__row {
			display: flex;
			gap: 3px;
		}
	}
	
	@include breakpoints.mobile() {
		.bullet__grid {
			grid-template-columns: 1fr;
			gap: 30px;
		}
		.bullet__title {
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: -0.012em;
		}
		.bullet__list {
			font-size: 12px;
			letter-spacing: -0.012em;
			@include mixins.PtdRegular();
		}
		.bullet__item {
			&:not(li) {
				letter-spacing: -0.012em;
			}
			.bullet__row {
				display: flex;
				gap: 2px;
			}
		}
	}
}

// form
.form {
	.form__row {
		&:not(:first-child) {
			margin-top: 30px;
		}
	}
	.form__row--small {
		max-width: 123px;
	}
	.form__row--xsmedium {
		width: 30%;
	}
	.form__row--smedium {
		width: 45%;
	}
	.form__row--medium {
		width: 55%;
	}
	.form__row--large {
		width: 80%;
	}
	.form__row--xlarge {
		width: 90%;
	}
	.form__label {
		display: flex;
		padding: 0 9px;
		.form__text {
			letter-spacing: -0.025em;
			@include mixins.PtdMedium();
		}
	}
	.form__set {
		&:not(:first-child) {
			margin-top: 12px;
		}
	}
	.form__field {
		display: flex;
		align-items: center;
		.form__col {
			display: flex;
			flex: 1;
			margin-left: 2px;
			align-items: center;
			&:first-child {
				margin-left: 0;
			}
		}
		.form__col--unit {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: none;
			width: 22px;
			margin: 0;
			font-size: 18px;
			letter-spacing: -0.025em;
			@include mixins.PtdMedium();
			& + .form__col {
				margin-left: 0;
			}
		}
		.form__col--offset {
			padding: 0 9px;
		}
		.form__btn {
			margin-left: 8px;
		}
		.form__id {
			font-size: 20px;
			@include mixins.PtdRegular();
		}
		
		::-webkit-input-placeholder {
			@include mixins.PtdRegular();
		}
		::-moz-placeholder {
			@include mixins.PtdRegular();
		}
	}
	.form__field--email {
		.form__col {
			&:last-child {
				flex: .7;
				margin-left: 7px;
			}
		 }
	}
	.form__field--mix {
		.form__col {
			max-width: 123px;
			&:last-child {
				flex-basis: 0%;
				max-width: auto;
				margin-left: 15px;
				white-space: nowrap;
			}
		 }
	}
	.form__msg {
		line-height: 18px;
		letter-spacing: -0.025em;
		@include mixins.PtdRegular();
		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	.select {
		width: 100%;
		min-width: 0;
	}

	@include breakpoints.mobile() {
		.form__row {
			&:not(:first-child) {
				margin-top: 15px;
			}
		}
		.form__row--small {
			max-width: 182px;
		}
		.form__row--xsmedium {
			width: 55%;
		}
		.form__row--smedium {
			width: 70%;
		}
		.form__row--medium {
			width: 80%;
		}
		.form__row--large {
			width: auto;
		}
		.form__row--xlarge {
			width: auto;
		}
		.form__label {
			.form__text {
				font-size: 12px;
				letter-spacing: -0.012em;
			}
		}
		.form__set {
			&:not(:first-child) {
				margin-top: 10px;
			}
		}
		.form__field {
			.form__col--unit {
				width: 15px;
				font-size: 14px;
				letter-spacing: -0.012em;
			}
			.form__id {
				font-size: 14px;
				letter-spacing: -0.012em;
			}
		}
		.form__field--email {
			.form__col {
				&:last-child {
					flex: 1;
					margin-left: 2px;
				}
			 }
		}
		.form__field--mix {
			flex-wrap: wrap;
			.form__col {
				max-width: 123px;
				&:last-child {
					flex: none;
					width: 100%;
					max-width: none;
					margin-left: 0;
					margin-top: 11.5px;
				}
			 }
		}
		.form__msg {
			font-size: 12px;
			line-height: 16px;
			letter-spacing: -0.012em;
		}
	}
}

.table {
	letter-spacing: -0.025em;
	@include mixins.PtdRegular();
	.table__header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 40px;
		&:not(:first-child) {
			margin-top: 60px;
		}
		.table__right {

			.required {
				padding-right: 0;
				padding-left: 18px;
				&:before {
					left: 0;
					top: 50%;
					right: auto;
					width: 10px;
					height: 10px;
					margin-top: -5px;
				}
			}
		}
		.table__title {
			font-weight: 500;
			font-size: 24px;
		}
	}
	.table__table {
		.table__row {
			display: grid;
			grid-template-columns: 140px 1fr;
			// align-items: baseline;
			align-items: center;
			align-content: center;
			padding: 1px 0;
			min-height: 58px;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
			}
			.table__left {
				// width: 140px;
				font-weight: 500;
			}
			.table__right {
				flex: 1;
				line-height: 18px;
			}
			input + span {
				display: block;
				padding-left: 10px;
				margin-top: 5px;
				font-size: 12px;
				@include mixins.PtdRegular();
			}
		}
		.table__row--separate {
			padding-top: 30px;
		}
	}

	.form {
		&:not(:first-child) {
			margin-top: 10px;
		}
		.form__row {
			&:not(:first-child) {
				margin-top: 2px;
			}
		}
		.form__field {
			::-webkit-input-placeholder {
				text-align: right;
			}
			::-moz-placeholder {
				text-align: right;
			}
		}
	}

	@include breakpoints.mobile() {
		letter-spacing: -0.012em;
		.table__header {
			margin-bottom: 30px;
			&:not(:first-child) {
				margin-top: 40px;
			}
			.table__right {

				.required {
					padding-left: 16.5px;
					&:before {
						width: 9px;
						height: 9px;
						margin-top: -4.5px;
					}
				}
			}
			.table__title {
				font-size: 18px;
			}
		}
		.table__table {
			.table__row {
				display: block;
				min-height: 0;
				padding: 0;
				&:last-child {
					padding-top: 0;
				}
				&:not(:first-child) {
					margin-top: 20px;
				}
				.table__left {
					// width: auto;
					margin-bottom: 10px;
					font-size: 12px;
				}
				.table__right {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}

		.form {
			.form__field {
				::-webkit-input-placeholder {
					text-align: left;
				}
				::-moz-placeholder {
					text-align: left;
				}
			}
		}
	}
}

.required {
	position: relative;
	padding-right: 13px;
	letter-spacing: -0.025em;
	@include mixins.PtdMedium();
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 3px;
		right: 0;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #31cdd6;
	}

	@include breakpoints.mobile() {
		padding-right: 11px;
		font-size: 12px;
		letter-spacing: -0.012em;
		&:before {
			top: 3px;
			width: 4px;
			height: 4px;
		}
	}
}

// pinterest list
.card_board {
	position: relative;
	li {
		position: absolute;
		overflow:hidden;
	}
	@include breakpoints.mobile() {
		li {
			position: relative !important;
			width: 100% !important;
			left: inherit !important;
			top: inherit !important;
			border-bottom: 1px solid #000000;
			margin-bottom: 20px;
			padding-bottom: 10px;
		}
	}
}

// list bottom area
.list__bottom {
	display: flex;
	.btn__underline {
		text-decoration: underline;
	}

  @include breakpoints.mobile() {
		margin-left: 15px;
		margin-right: 15px;
	}
}

// layer
.layer__body {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
	overflow: hidden;
	.layer__wrap {
		position: absolute;
		top:50%;
		left:50%;
		@include mixins.translate(-50%, -50%);
		min-height: 300px;
		background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 42px;
    overflow: hidden;
		z-index: 101;
	}
	.layer__button {
		display: flex;
		text-align: center;
		.btn {
			flex: 1;
			margin: 0 5px;
			padding: 14px 0;
			font-size: 16px;
			border-radius: 42px;
		}	
	}
	.layer__close {
		position: absolute;
		right: 30px;
		top: 40px;
		z-index: 1;
		.btn__close {
			display: block;
			// @include icons.retina-sprite(icons.$ico-close-group);
			width: 22px;
			height: 22px;
			cursor: pointer;
			background: {
				image: url('../images/ico_close_10.svg');
				size: 22px;
				repeat: no-repeat;
				position: 0 0;
			}
		}
	}
	.layer__header {
		margin-bottom: 50px;
		.layer__title {
			font-size: 32px;
			letter-spacing: -0.025em;
			@include mixins.PtdMedium();
		}
	}
	.layer__note {
		letter-spacing: -0.025em;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		.layer__title {
			margin-bottom: 14px;
			@include mixins.PtdSemiBold();
		}
		.layer__desc {
			line-height: 20px;
			@include mixins.PtdRegular();
		}
	}
	
	.button {
		margin-top: 10px;
		.button__container {
			.button__item--medium {
				min-width: 101px;
			}
		}
	}
	@include breakpoints.mobile() {
		.layer__wrap {
			border-radius: 35px;
		}
		.layer__close {
			top: 30px;
			right: 15px;
		}
		.layer__button {
			.btn {
				font-size: 14px;
			}
		}
		.layer__header {
			margin-bottom: 22px;
			.layer__title {
				font-size: 20px;
				letter-spacing: -0.012em;
			}
		}
		.layer__note {
			letter-spacing: -0.012em;
			.layer__title {
				font-size: 12px;
			}
			.layer__desc {
				font-size: 12px;
				line-height: 16px;
			}
		}

		.button {
			margin-top: 10px;
			.button__container {
				.button__item--medium {
					min-width: 90px;
				}
			}
		}
	}
}

.table__form {
	display: flex;
	&.form__margin {
		padding: 20px 0;
	}
}

// svg
.svg-ico {
	display: block;
	width: 100%;
	height: 100%;
}