@use 'mixins';
@use 'sprite';

// header
.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	.header__container {
		display: flex;
		justify-content: center;
		position: relative;
		padding-top: 30px;
		.logo {
			position: absolute;
			left: 40px;
			top: 42px;
		}
	}
	.header__right {
		display: flex;
		align-items: center;
		position: absolute;
		right: 30px;
		top: 33px;
	}
	.header__funkplay {
		display: block;
		margin-left: 26px;
		@include sprite.retina-sprite(sprite.$bg-header-funkplay-off-group);
	}
	.header__funkplay--active {
		@include sprite.retina-sprite(sprite.$bg-header-funkplay-on-group);
	}
	.search {
		.search__trigger {
			display: block;
			@include sprite.retina-sprite(sprite.$ico-header-search-group);
		}
	}
}

// nav
.nav {
	.nav__container {
		display: flex;
	}
	.nav__trigger {
		display: flex;
		justify-content: center;
		width: 117px;
		height: 33px;
		border: 1px solid #000;
		border-radius: 33px;
		background-color: #fff;
		font-weight: 600;
		font-size: 18px;
		line-height: 35px;
		text-align: center;
		&:not(:first-child) {
			margin-left: 10px;
		}
		.nav__ico {
			display: flex;
			align-self: center;
			position: relative;
			width: 27px;
			height: 8px;
			margin-right: 9px;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #000;
			}
			&:before {
				top: 0;
			}
			&:after {
				top: 100%;
			}
		}
	}
	.nav__trigger--active {
		background-color: #000;
		color: #fff;
		.nav__ico {
			&:before,
			&:after {
				top: 50%;
				background-color: #fff;
			}
		}
		& + .nav__layer {
			display: block;
		}
	}
	.nav__layer {
		display: none;
		position: absolute;
		left: 50%;
		top: 15px;
		z-index: -1;
		width: 380px;
		padding-top: 90px;
		margin-left: -190px;
		border: 1px solid #000;
		border-radius: 42px;
		background-color: #fff;
	}
	.nav__menu {
		&:last-child {
			padding-bottom: 60px;
		}
	}
	.nav__menu--category {
		.nav__link {
			&:focus,
			&:hover {
				color: #5eecfa;
			}
		}
	}
	.nav__menu--theme {
		margin-top: 30px;
		.nav__item {
			&:not(:first-child) {
				margin-top: 8px;
			}
		}
		.nav__link {
			font-weight: 400;
			font-size: 12px;
		}
	}
	.nav__item {
		text-align: center;
		&:not(:first-child) {
			margin-top: 20px;
		}
	}
	.nav__link {
		font-weight: 500;
		font-size: 24px;
	}
	.nav__link--cart {
		span {
			color: #5eecfa;
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			vertical-align: text-top;
		}
	}
	.nav__carousel {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 60px;
		margin-top: 30px;
		border-top: 1px solid #000;
		border-radius: 0 0 42px 42px;
		.nav__text {
			font-size: 26px;
			span {
				position: relative;
				font-size: 14px;
			}
		}
		.carousel {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			.carousel__mask {
				display: flex;
				align-items: center;
				overflow: hidden;
				height: 100%;
				border-radius: 0 0 42px 42px;
				background-color: #fc4f03;
			}
			.carousel__loop {
				white-space: nowrap;
				&:first-child {
					animation: menuCarousel01 30s linear infinite;
					animation-delay: -30s;
				}
				&:last-child {
					animation: menuCarousel02 30s linear infinite;
					animation-delay: -15s;
				}
				.carousel__text {
					margin: 0 12px;
					font-size: 26px;
				}
			}
		}
	}
}

// footer
.footer {
	height: 500px;
}