@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

// menu
.menu {
	.menu__container {
		overflow: hidden;
	}
	.menu__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -4px;
	}
	.menu__item {
		overflow: hidden;
		position: relative;
		width: calc(100% / 3 - 4px);
		margin-left: 4px;
	}
	.menu__link {
		display: block;
		height: 100%;
	}
	.menu__round {
		position: relative;
		padding-top: 40.63vw;
		clip-path: inset(0 round 72px);
		.menu__inner {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	.menu__tags {
		position: absolute;
		left: 36px;
		top: 36px;
		z-index: 5;
	}
	.menu__tag {
		display: flex;
		align-items: center;
		height: 40px;
		padding: 0 12px;
		border: 1px solid #000;
		border-radius: 100vw;
		background-color: #fff;
		font-size: 30px;
		letter-spacing: -0.05em;
		i {
			display: block;
			width: 22px;
			height: 22px;
			margin-right: 7px;
			background-repeat: no-repeat;
			background-position: 0 0;
		}
	}
	.menu__tag--celeb {
		i {
			// @include icons.retina-sprite(icons.$ico-menu-tag-celeb-group);
			background-image: url('../images/ico_menu_tag_celeb.svg');
		}
	}
	.menu__tag--picks {
		i {
			// @include icons.retina-sprite(icons.$ico-menu-tag-picks-group);
			background-image: url('../images/ico_menu_tag_picks.svg');
		}
	}
	.menu__tag--funkplay {
		i {
			// @include icons.retina-sprite(icons.$ico-menu-tag-funkplay-group);
			background-image: url('../images/ico_menu_tag_funkplay.svg');
		}
	}
	.menu__tag--mdpick {
		i {
			// @include icons.retina-sprite(icons.$ico-menu-tag-mdpick-group);
			background-image: url('../images/ico_menu_tag_mdpick.svg');
		}
	}
	.menu__colors {
		display: flex;
		position: absolute;
		right: 44px;
		top: 44px;
		z-index: 5;
		.menu__color {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #000;
			&:not(:first-child) {
				margin-left: 16px;
			}
		}
	}
	.menu__swiper {
		height: 100%;

		.swiper-wrapper {
			transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
		}
		.swiper-pagination {
			display: none;
		}
	}
	.menu__img {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.menu__info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 10px 20px 55px;
		.menu__right {
			flex: 1;
			display: flex;
			align-items: center;
		}
	}
	.menu__name {
		margin-right: 8px;
		font-size: 14px;
		line-height: 18px;
		@include mixins.PtdRegular();
		span {
			font-size: inherit !important;
			line-height: inherit !important;
			color: #000 !important;
		}
	}
	.menu__event {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		margin-right: auto;
		padding: 0 6px 0 7px;
		border: 1px solid #000;
		border-radius: 1em;
		font-weight: 500;
		font-size: 10px;
		letter-spacing: -0.05em;
		& + .menu__discount {
			margin-left: 10px;
		}
	}
	.menu__price {
		margin-left: auto;
		line-height: 18px;
		@include mixins.PtdRegular();
	}
	.menu__discount {
		color: #999;
		margin: 0 10px 0 auto;
		line-height: 18px;
		text-decoration: line-through;
		@include mixins.PtdRegular();
		& + .menu__price {
			margin-left: 0;
		}
	}
	.menu__layer {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		
		.button {
			display: block;
			position: static;
			@include mixins.translate(0, 0);
			.button__item {
				background-color: #000;
				color: #fff;
			}
		}
	}
	.menu__layer--opened {
		display: block;
	}
	.menu__option {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
	}
	.menu__sizes {
		display: flex;
		flex-wrap: wrap;
		margin: -11px 0 auto -11px;
		padding: 14px 14px 0;
		> div {
			position: relative;
			padding-top: calc(100% / 3 - 11px);
			width: calc(100% / 3 - 11px);
			margin: 11px 0 0 11px;
		}
		.menu__size {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border: 1px solid #000;
			border-radius: 50%;
			// font-size: 6.25vw;
			// letter-spacing: -2px;
			overflow: hidden;
			word-break: keep-all;
			&:focus,
			&:hover {
				background-color: #fff;
			}
			span {
				// display: block;
				word-break: keep-all;
				line-height: 70%;
				letter-spacing: -5px;
			}
		}
		.menu__size--selected {
			background-color: #fff;
		}
		.menu__size--disabled {
			opacity: .2;
			pointer-events: none;
		}
	}
	.menu__count {
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 84px;
		margin: 0 4px 4px;
		padding: 0 25px;
		border-radius: 100vw;
		background-color: #fff;
	}
	.menu__current {
		font-weight: 500;
		font-size: 36px;
		letter-spacing: -0.04em;
	}
	.menu__close {
		position: absolute;
		right: 27px;
		bottom: 266px;
		width: 42px;
		height: 42px;
		border: 1px solid #000;
		border-radius: 50%;
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 21px;
			height: 2px;
			border-radius: 100vw;
			background-color: #000;
		}
		&:before {
			@include mixins.transform(translate(-50%, -50%) rotate(45deg));
		}
		&:after {
			@include mixins.transform(translate(-50%, -50%) rotate(-45deg));
		}
	}

	.button {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0 4px 4px;
		z-index: 5;
		@include mixins.translate(-100%, 0);
		.button__item {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 142px;
			border: 0;
			border-radius: 100vw;
			background-color: #fff;
			color: #000;
			font-weight: 500;
			font-size: 36px;
			letter-spacing: -0.025em;
			&:not(:first-child) {
				margin-left: 4px;
			}
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}

		.button__item--cart {
			position: relative;
			img {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				// visibility: hidden;
				z-index: 1;
			}

			@include breakpoints.mobile() {
				display: none;
			}
		}
	}
	.button--visible {
		@include mixins.translate(0, 0);
		animation-name: menuButtonShow;
		animation-duration: .1s;
		animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
		animation-fill-mode: forwards;
	}
	.button--hidden {
		@include mixins.translate(0, 0); 
		animation-name: menuButtonHide, menuButtonReset;
		animation-duration: .1s, .00001s;
		animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
		animation-fill-mode: forwards, forwards;
		animation-delay: 0s, .1s;
	}

	.marquee {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 56px;
		background-color: #fc4f03;
	}
	
	@include breakpoints.mobile() {
		.menu__list {
			margin-left: -2px;
		}
		.menu__item {
			width: calc(50% - 2px);
			margin-left: 2px;
		}
		.menu__item--soldout {
			.menu__swiper {
				.swiper-pagination {
					display: none;
				}
			}
		}
		.menu__round {
			padding-top: 66.67vw;
			clip-path: inset(0 round 26px);
		}
		.menu__tags {
			left: 12px;
			top: 12px;
		}
		.menu__tag {
			height: 17px;
			padding: 0 5.5px 0 4.5px;
			font-size: 11px;
			letter-spacing: -0.025em;
			i {
				width: 11px;
				height: 11px;
				margin-right: 4.5px;
				background-size: 100% 100%;
			}
		}
		// .menu__tag--celeb {
		// 	i {
		// 		@include mixins.sprite(mo_icons.$ico-menu-tag-celeb);
		// 	}
		// }
		// .menu__tag--picks {
		// 	i {
		// 		@include mixins.sprite(mo_icons.$ico-menu-tag-picks);
		// 	}
		// }
		// .menu__tag--funkplay {
		// 	i {
		// 		@include mixins.sprite(mo_icons.$ico-menu-tag-funkplay);
		// 	}
		// }
		// .menu__tag--mdpick {
		// 	i {
		// 		@include mixins.sprite(mo_icons.$ico-menu-tag-mdpick);
		// 	}
		// }
		.menu__colors {
			right: 15px;
			top: 15px;
			.menu__color {
				width: 6px;
				height: 6px;
				&:not(:first-child) {
					margin-left: 6px;
				}
			}
		}
		.menu__swiper {
			.swiper-pagination {
				display: block;
				left: 50%;
				top: auto;
				bottom: 56px;
				width: 20.67vw;
				height: 2px;
				margin: 0 auto;
				background-color: rgba(0,0,0,.14);
				@include mixins.transform(translate3d(-50%, 0, 1px));
			}
			.swiper-pagination-progressbar-fill {
				background-color: #fff;
			}
		}
		.menu__info {
			display: block;
			padding: 10px 7px 19px;
			.menu__right {
				flex-wrap: wrap;
			}
		}
		.menu__name {
			font-size: 11px;
			line-height: 13px;
		}
		.menu__event {
			align-items: flex-start;
			height: 12px;
			margin: 2px 3px 0 0;
			padding: 0 4px 0 3px;
			font-size: 9px;
			line-height: 11.5px;
			& + .menu__discount {
				margin-left: 0;
			}
		}
		.menu__price {
			margin-left: 0;
			font-size: 11px;
			line-height: 13px;
		}
		.menu__discount {
			margin: 0 5px 0 0;
			font-size: 11px;
			line-height: 13px;
		}
		.menu__sizes {
			margin: -3px 0 auto -3px;
			padding: 4px 4px 0;
			> div {
				width: calc(100% / 3 - 3px);
				padding-top: calc(100% / 3 - 3px);
				margin: 3px 0 0 3px;
			}
			.menu__size {
				border-width: 0.5px;
				font-size: 10.13vw;
			}
		}
		.menu__count {
			height: 40px;
			margin-bottom: 2.5px;
			padding: 0 15px;
		}
		.menu__current {
			font-size: 10px;
			letter-spacing: -0.025em;
		}
		.menu__close {
			right: 14px;
			bottom: 96px;
			width: 21px;
			height: 21px;
			border-width: 0.5px;
			&:before,
			&:after {
				width: 10px;
				height: 1px;
			}
		}

		.marquee {
			height: 28.5px;
			.marquee__mask {
				height: 28.5px;
			}
		}

		.button {
			.button__item {
				height: 40px;
				font-size: 10px;
				&:not(:first-child) {
					margin-left: 2.5px;
				}
			}
		}
	}
}

@keyframes menuButtonShow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes menuButtonHide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes menuButtonReset {
	0% {
		@include mixins.translate(0, 0);
	}
	100% {
		@include mixins.translate(-100%, 0);
	}
}