@use 'variables';

* {
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
}

*,
:after,
:before {
	box-sizing: border-box;
	flex-shrink: 0;
}

:root {
	-webkit-tap-highlight-color: transparent;
	text-size-adjust: 100%;
	color: #000;
	font-family: 'NS DL','Malgun Gothic',Dotum,'돋움',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','굴림',arial,sans-serif;
	font-size: 16px;
	cursor: default;
	line-height: 1;
	overflow-wrap: break-word;
	tab-size: 4;
}

ol,
ul {
	list-style:none
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
}

fieldset,
img,
textarea,
iframe {
	border: 0;
}

button {
	appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

input,
button,
select {
	vertical-align: middle;
}

label {
	cursor: pointer;
}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email] {
	appearance: none;
	width: 100%;
	height: 50px;
	padding: 13px 15px;
	border: 1px solid #ddd;
	border-radius: 0;
	background-color: #fff;
	color: #000;
	font-size: 16px;
	font-family: 'NS MD','Malgun Gothic',Dotum,'돋움',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','굴림',arial,sans-serif;
	line-height: 26px;
	&:not([readonly]):not([disabled]):not([aria-invalid="true"]) {
		&:focus {
			border-color: #2CBBB6;
			outline: 0;
		}
	}
	&[disabled] {
		background-color: #F7F7F7;
		color: #777;
	}
	&[readonly] {
		background-color: #F7F7F7;
		color: #777;
	}
	&[aria-invalid="true"] {
		position: relative;
		padding-right: 60px;
		border-color: red;
	}
	::-webkit-input-placeholder {
		font-size: 16px;
		color: #777;
	}
	::-moz-placeholder {
		font-size: 16px;
		color: #777;
	}
}

input[type=checkbox],
input[type=radio] {
	appearance: none;
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	&:checked + label {
		&:before {
			background-position: -60px -255px;
		}
	}
}

select{
	appearance: none;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0 15px;
	border: 1px solid #ddd;
	border-radius: 0;
	color: #000;
	font-family:'NS MD','Malgun Gothic',Dotum,'돋움',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','굴림',arial,sans-serif;
	background: {
		color: #fff;
		image: url(../images/bg_select.png);
		repeat: no-repeat;
		size: 20px 20px;
		position: 92% center;
	}
	outline: none;
	font-size: 16px;
	cursor: pointer;
	&:not([readonly]):not([disabled]):not([aria-invalid="true"]) {
		&:focus {
			border-color: #2CBBB6;
		}
	}
	&[disabled] {
		background-color: #F7F7F7;
		color: #777;
	}
	&[readonly] {
		background-color: #F7F7F7;
		color: #777;
	}
	&[aria-invalid="true"] {
		position: relative;
		padding-right: 60px;
		border-color: red;
	}
}

textarea {
	appearance: none;
	display: block;
	width: 100%;
	min-height: 120px;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #fff;
	color: #000;
	font-family: 'NS MD','Malgun Gothic',Dotum,'돋움',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','굴림',arial,sans-serif;
	font-size: 16px;
	resize: none;
	&:not([readonly]):not([disabled]):not([aria-invalid="true"]) {
		&:focus {
			border-color: #2CBBB6;
		}
	}
	&[disabled] {
		background-color: #F7F7F7;
		color: #777;
	}
	&[readonly] {
		background-color: #F7F7F7;
		color: #777;
	}
	&[aria-invalid="true"] {
		position: relative;
		padding-right: 60px;
		border-color: red;
	}
	::-webkit-input-placeholder {
		font-size:16px;
		color: #777;
	}
	::-moz-placeholder {
		font-size:16px;
		color: #777;
	}
}