@use 'mixins';
@use 'breakpoints';

// list
.archive-list {

	.menu {
		.menu__container {
			padding: 0 1.67vw;
		}
		.menu__list {
			margin-left: -6.15vw;
		}
		.menu__item {
			width: calc(100% / 3 - 6.15vw);
			margin-left: 6.15vw;
		}
		.menu__round {
			padding-top: 32.29vw;
			clip-path: inset(0 round 3.75vw);
		}
		.menu__info {
			padding-bottom: 42px;
		}
		.menu__name {
			margin-right: 0;
			font-size: 20px;
			line-height: 26px;
			letter-spacing: -0.02em;
			@include mixins.ATr();
		}
	}

	@include breakpoints.mobile() {

		.menu {
			.menu__container {
				padding: 0;
			}
			.menu__list {
				margin-left: -2px;
			}
			.menu__item {
				width: calc(50% - 2px);
				margin-left: 2px;
			}
			.menu__round {
				padding-top: 66.67vw;
				clip-path: inset(0 round 6.93vw);
			}
			.menu__info {
				padding-bottom: 26px;
			}
			.menu__name {
				height: 37.5px;
				font-size: 10px;
				line-height: 12px;
				letter-spacing: -0.01em;
				@include mixins.ellipse(3);
			}
		}
	}
}

.archive-detail {
	position: relative;
	padding-top: 0;
	.archive-detail__container {
		position: relative;
	}
	.archive-detail__floating {
		position: absolute;
		left: 40px;
		top: 160px;
		z-index: 20;
	}
	.archive-detail__trigger {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 45px;
		height: 45px;
		background-color: #fff;
		border-radius: 14px;
		.archive-detail__ico {
			position: relative;
			width: 17px;
			height: 17px;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				width: 100%;
				height: 3px;
				border-radius: 100vw;
				background-color: #000;
			}
			&:before {
				@include mixins.transform(translate(-50%, -50%) rotate(45deg));
			}
			&:after {
				@include mixins.transform(translate(-50%, -50%) rotate(-45deg));
			}
		}
	}
	.archive-detail__trigger--active {
		.archive-detail__ico {
			width: 17px;
			height: 17px;
			&:before {
				left: 50%;
				top: 0;
				width: 3px;
				height: 100%;
				margin-left: -1.5px;
				@include mixins.transform(none);
			}
			&:after {
				left: 0;
				top: 50%;
				width: 100%;
				height: 3px;
				margin-top: -1.5px;
				@include mixins.transform(none);
			}
		}
		& + .archive-detail__contents {
			display: none;
		}
	}
	.archive-detail__contents {
		width: 454px;
		margin-top: 12px;
		.archive-detail__row {
			border-radius: 14px;
			background-color: #f6f6f6;
			&:not(:first-child) {
				margin-top: 12px;
			}
		}
		.archive-detail__season {
			padding: 10px;
			border-radius: 14px 14px 0 0;
			background-color: #fff;
			.archive-detail__text {
				display: inline-flex;
				padding: 4px 10px 4px 9px;
				border-radius: 100vw;
				background-color: #000;
				color: #fff;
				font-size: 14px;
				letter-spacing: -0.02em;
			}
		}
		.archive-detail__inner {
			padding: 20px;
			.archive-detail__text {
				font-size: 16px;
				line-height: 24px;
				@include mixins.PtdMedium();
				&:not(:first-of-type) {
					margin-top: 30px;
				}
			}
		}
		.archive-detail__title {
			font-size: 22px;
			line-height: 24px;
		}
	}
	.archive-detail__info {
		align-items: center;
		justify-content: space-between;
		align-items: center;
		position: sticky;
		display: flex;
		left: 0;
		bottom: 0;
		z-index: 15;
		width: 100%;
		height: 54px;
		padding: 0 32px;
		background-color: #fff;
		font-size: 18px;
	}
	.archive-detail__name {
		line-height: 36px;
	}
	.archive-detail__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 32px;
		padding: 0 16px;
		border: 1px solid #000;
		border-radius: 100vw;
		font-weight: 500;
		letter-spacing: -0.04em;
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}

	.menu {
		.menu__list {
			margin: -4px 0 0 -4px;
		}
		.menu__item {
			width: calc(50% - 4px);
			margin: 4px 0 0 4px;
			&:nth-child(odd) {
				.archive-detail__products {
					left: 10px;
				}
			}
			&:nth-child(even) {
				.archive-detail__products {
					right: 10px;
				}
			}
		}
		.menu__round {
			padding-top: calc(56.25vw - 54px);
			clip-path: inset(0 round 36px);
		}

		.archive-detail__products {
			position: absolute;
			bottom: 10px;
			.archive-detail__product {
				&:not(:first-child) {
					margin-top: 10px;
				}
				img {
					display: block;
					border-radius: 36px;
				}
			}
		}

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@include breakpoints.mobile() {
		padding-top: 60px;
		.archive-detail__floating {
			position: sticky;
			left: auto;
			top: auto;
			bottom: 63px;
		}
		.archive-detail__trigger {
			position: absolute;
			right: 15px;
			bottom: 15px;
			z-index: 25;
			width: 35px;
			height: 35px;
			border-radius: 10px;
			background-color: #ededed;
			.archive-detail__ico {
				width: 16px;
				height: 16px;
			}
		}
		.archive-detail__contents {
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 15px;
			z-index: 20;
			width: auto;
			margin-top: 0;
			padding: 25px;
			border-radius: 10px;
			background-color: #ededed;
			.archive-detail__row {
				border-radius: 0;
				background-color: transparent;
			  &:not(:first-child) {
					margin-top: 0;
				}
			}
			.archive-detail__season {
				padding: 0 0 9px 0;
				background-color: transparent;
				.archive-detail__text {
					padding: 4.5px 6.5px 4.5px 6px;
					font-size: 12px;
				}
			}
			.archive-detail__inner {
				padding: 0;
				.archive-detail__text {
					font-size: 14px;
					line-height: 20px;
					&:not(:first-child) {
						margin-top: 20px;
					}
				}
			}
			.archive-detail__title {
				padding-bottom: 40px;
				letter-spacing: -0.02em;
			}
		}
		.archive-detail__dimmed {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 148px;
			z-index: 10;
			background-color: rgba(0, 0, 0, .2);
			backdrop-filter: blur(12px);
		}
		.archive-detail__dimmed--opened {
			display: block;
		}
		.archive-detail__info {
			height: 63px;
			padding: 0 15px;
			font-size: 12px;
		}
		.archive-detail__name {
			margin-right: 20px;
			font-weight: 600;
			line-height: 16px;
			@include mixins.ellipse(2);
		}
		.archive-detail__link {
			height: 34px;
			padding: 0 13px;
			letter-spacing: -0.02em;
		}

		.menu {
			.menu__list {
				margin: -2px 0 0 0;
			}
			.menu__item {
				width: 100%;
				margin: 2px 0 0 0;
				&:nth-child(odd) {
					.archive-detail__products {
						left: 6px;
					}
				}
				&:nth-child(even) {
					.archive-detail__products {
						left: 6px;
					}
				}
			}
			.menu__round {
				padding-top: 144vw;
				clip-path: inset(0 round 26px);
			}

			.archive-detail__products {
				bottom: 6px;
				.archive-detail__product {
					&:not(:first-child) {
						margin-top: 5px;
					}
					img {
						border-radius: 26px;
					}
				}
			}
		}
	}
}