@use 'mixins';
@use 'breakpoints';

.xans-board {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  .xans-board-title {
    padding-top: 172px;
    .title {
      h2 {
        font-size: 32px;
        @include mixins.PtdMedium();
        text-align: left;
      }
    }
  }
}

.ec-base-button {
  padding: 0;
  a, input[type=submit] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding-left: 30px;
    padding-right: 30px;
    border:1px solid #000000;
    border-radius: 30px;
    font-size: 18px;
    vertical-align: top;
    &:hover {
      background-color: #000000;
      color:#ffffff;
    }
  }
  .btn__sumit, .btn__blank {
    background-color: #000000;
    color:#ffffff;
  }
}
.ec-base-box.typeProduct {
  margin: 0 0 20px;
  padding: 25px 0;
  border: 1px solid #000000;
  border-radius: 42px;
  .thumbnail {
    width: 130px;
    img {
      border: 0;
    }
  }
  .information {
    text-align: left;
    h3 {
      margin-bottom: 7px;
      @include mixins.PtdMedium();
    }
    .button {
      display: none;
    }
  }
}
.xans-board-writepackage,
.xans-board-modifypackage {
  margin-bottom: 100px;
  .ec-base-table.typeWrite {
    padding: 15px 30px 25px;
    border: 1px solid #000000;
    border-radius: 42px;
    table {
      border: 0;
      margin: 0;
      &::before {
        display: none;
      }
      label {
        margin-left: 7px;
        margin-right: 15px;
      }
    }
    tbody {
      th, td {
        background-color: #ffffff;
        border: 0;
        color:#000000;
      }
    }
    .fr-box.fr-basic {
      border-radius: 42px;
      border:1px solid #31cdd6;
      overflow: hidden;
      .fr-wrapper {
        border: 0 !important;
      }
    }
    .fr-toolbar {
      border: 0 !important;
    }
    .second-toolbar {
      border: 0 !important;
      .fr-counter {
        padding-right: 20px;
        padding-bottom: 20px;
      }
    }
  }
}
// .xans-board-writepackage

.xans-board-listpackage {
  .xans-board-title {
    .title {
      position: relative;
    }
    .ec-base-button {
      position: absolute;
      right: 0;
      top: 0;
      max-width: initial;
      margin: 0;
      padding: 0;
    }
  }
  .ec-base-table.typeList {
    padding: 25px 15px 25px;
    border: 1px solid #000000;
    border-radius: 42px;
    table {
      border: 0;
      margin: 0;
      &::before {
        display: none;
      }
    }
    thead th {
      border: 0;
      color:#000000;
    }
    tbody {
      th, td {
        background-color: #ffffff;
        border: 0;
        font-size: 18px;
        color:#000000;
        @include mixins.PtdMedium();
      }
    }
    .thumb {
      a {
        display: block;
        width:100%;
        height: 100%;
      }
      img {
        width: 80px;
      }
    }
  }
  .ec-base-button {
    .btn__write {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      padding-left: 30px;
      padding-right: 30px;
      border:1px solid #000000;
      border-radius: 30px;
      background-color: #000000;
      color:#ffffff;
      font-size: 18px;
    }
  }
}
// .xans-board-listpackage

.xans-board-paging.ec-base-paginate {
  margin-top: 20px;
  img {
    width: 44px;
    height: 44px;
  }
  ol {
    display: inline-flex;
    min-width: 80px;
    height: 44px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 15px;
  }
  li {
    border: 0;
    a.this {
      border:0;
      color:#59e8ee;
    }
  }
}
// .xans-board-paging

.xans-board-search {
  padding-bottom: 100px;
  legend {display: none;}
  select {
    width: 125px;
    height: 45px;
    border: 1px solid #000000;
    background-color: #ffffff;
  }
  input {
    height: 45px;
    border: 1px solid #000000;
    background-color: #ffffff;
  }
  .btn__search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border:1px solid #000000;
    border-radius: 30px;
    background-color: #000000;
    color:#ffffff;
    font-size: 16px;
  }
}
// .xans-board-search

.xans-board-readpackage {
  .xans-board-read {
    padding-left: 0;
    padding-right: 0;
    .ec-base-table {
      .detailArea {
        border: 0;
        margin: 0;
        color:#000000;
        text-align: left;
        span.title {
          font-size: 32px;
        }
        span {
          @include mixins.PtdMedium();
        }
      }
    }
  }
  .ec-base-table.typeWrite {
    padding: 25px 30px 25px;
    border: 1px solid #000000;
    border-radius: 42px;
    table {
      border: 0;
      margin: 0;
      &::before {
        display: none;
      }
    }
  }
  .ec-base-table table {
    border: 0;
  }
  .ec-base-button {
    padding: 0;
  }
}
// .xans-board-read

.xans-board-commentwrite {
  margin-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  .write_form {
    padding: 25px 30px 25px;
    border: 1px solid #000000;
    border-radius: 42px;
    background-color: #ffffff;
    textarea {
      width: calc(100% - 60px);
      padding: 20px;
    }
    .btn__sumit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      padding-left: 30px;
      padding-right: 30px;
      border:1px solid #000000;
      border-radius: 30px;
      background-color: #000000;
      color:#ffffff;
      font-size: 18px;
    }
  }
}
.xans-board-commentlist {
  padding: 25px 30px 15px;
  border: 1px solid #000000;
  border-radius: 42px;
  background-color: #ffffff;
  margin-bottom: 20px;
  .boardComment {
    li {
      border: 0;
      color:#000000;
      div.commentTop {
        padding: 0 0 10px 0;
        border: 0;
        @include mixins.PtdMedium();
      }
      .comment {
        padding: 10px 0 20px 0;
      }
      .button {
        top: 0;
        right: 0;
        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          padding-left: 10px;
          padding-right: 10px;
          border:1px solid #000000;
          background-color: #ffffff;
          color:#000000;
          border-radius: 30px;
          font-size: 13px;
        }
      }
    }
  }
}
.xans-board-commentform {
  padding: 25px 15px 25px;
  border: 1px solid #000000;
  border-radius: 42px;
  background-color: #ffffff;
  p {
    margin: 0;
  }
  textarea {
    width: calc(100% - 120px);
    padding: 20px;
  }
  .submit {
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      padding-left: 30px;
      padding-right: 30px;
      border:1px solid #000000;
      background-color: #ffffff;
      color:#000000;
      border-radius: 30px;
      font-size: 18px;
      &.btn__blank {
        background-color: #000000;
        color:#ffffff;
      }
    }
  }
}

.xans-board-commentdel {
  padding: 25px 30px 25px;
  border: 1px solid #000000;
  border-radius: 42px;
  background-color: #ffffff;
  margin-bottom: 100px;
  .commentDel {
    width: 100%;
    text-align: center;
    legend {display: none;}
    fieldset {
      padding: 90px 0;
    }
    h3 {
      font-size: 24px;
      text-align: left;
    }
    p {
      max-width: 370px;
      margin: 0 auto !important;
    }
    .info {
      padding-bottom: 20px;
      font-size: 24px;
      line-height: 120%;
    }
    .password {
      label {display: none;}
      input {
        width: 100%;
      }
    }
    .ec-base-button {
      margin-top: 35px;
    }
  }
}
// xans-board-commentdel

.xans-board-secure {
  padding: 25px 30px 25px;
  border: 1px solid #000000;
  border-radius: 42px;
  background-color: #ffffff;
  margin-bottom: 100px;
  .secret {
    width: 100%;
    text-align: center;
    legend {display: none;}
    fieldset {
      padding: 90px 0;
    }
    h3 {
      font-size: 24px;
      text-align: left;
    }
    p {
      max-width: 370px;
      margin: 0 auto !important;
    }
    .info {
      padding-bottom: 20px;
      font-size: 24px;
      line-height: 120%;
    }
    .password {
      label {display: none;}
      input {
        width: 100%;
      }
    }
    .ec-base-button {
      margin-top: 35px;
    }
  }
}
// .xans-board-secure

.ec-base-table .xans-board-empty.message {
  border: 0;
  padding: 150px 0;
  font-size: 18px;
  @include breakpoints.mobile() {
    padding: 80px 0;
    font-size: 14px;
  }
}

@include breakpoints.mobile() {
  .ec-base-table {
    border-radius: 21px !important;
    table {
      table-layout: initial;
      thead, colgroup {
        display: none;
      }
      tr {
        position: relative;
        display: block;
        margin-top: 20px;
        &:first-of-type {
          margin-top: 0;
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
  }
  
  .ec-base-button {
    a, input[type=submit] {
      padding-left: 10px;
      padding-right: 10px;
      height: 35px;
      font-size: 13px;
    }
  }
  .xans-board {
    padding-left: 10px;
    padding-right: 10px;
    .xans-board {
      padding-left: 0;
      padding-right: 0;
    }
    .xans-board-title {
      padding-top: 80px;
      .title {
        margin-bottom:0;
        h2 {
          font-size: 20px;
        }
      }
    }
  }

  .xans-board-paging.ec-base-paginate {
    ol {
      height: 35px;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }

  .xans-board-listpackage {
    .ec-base-button {
      .btn__write {
        height: 25px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 11px;
      }
    }
    .boardSort {margin: 0;float: none;}
    .ec-base-table.typeList {
      tbody {
        td {
          float: left;
          width: 50%;
          display: block;
          padding-left: 0 !important;
          padding-bottom: 0;
          font-size: 13px;
          text-align: right;
          &:first-child {display: none;}
          &:nth-child(7) {
            &:before {
              content: '조회수';
              display: inline-block;
              margin-right: 10px;
            }
          }
          &.subject {
            padding-top: 20px;
          }
          &.thumb {
            padding-top: 20px;
            span {
              position: absolute;
              left:0;
              top: -5px;
              float: none;
              width: 100%;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .xans-board-search {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    select {
      width: 49%;
      margin: 0 0 5px !important;
    }
    input {
      width: 99%;
    }
    .btn__search {
      display: flex;
      width: 100px;
      margin: 10px auto;
      font-size: 12px;
    }
  }
  .xans-board-write,
  .xans-board-modify {
    .ec-base-table {
      #subject {
        width: 100%;
      }
    }
  }
  .xans-board-writepackage, 
  .xans-board-modifypackage {
    .ec-base-table.typeWrite {
      padding: 15px 15px;
      tbody {
        th {
          width: 50px;
          padding-left: 0;
        }
      }
    }
  }
  .ec-base-box.typeProduct {
    padding: 10px 0;
    border-radius: 21px;
    .thumbnail {
      width: 90px;
      img {
        max-width: 60px;
      }
    }
  }

  .xans-board-readpackage {
    .ec-base-table.typeWrite {
      padding: 15px 15px;
    }
  }

  .xans-board-writepackage .ec-base-table.typeWrite .fr-box.fr-basic, 
  .xans-board-modifypackage .ec-base-table.typeWrite .fr-box.fr-basic {
    border-radius: 21px;
  }

  .xans-board-commentwrite {
    input[type=text],
    input[type=password] {
      width: 80px;
    }
    .write_form {
      padding: 15px 15px;
      textarea {
        width: 100%;
      }
      .btn__sumit {
        display: flex;
        position: relative;
        width: 80px;
        margin: 5px auto 0;
        padding-left: 10px;
        padding-right: 10px;
        height: 35px;
        font-size: 13px;
      }
    }
    .view {
      padding: 0;
    }
  }

  .xans-board-commentlist {
    padding-left: 10px !important;
    padding-right: 10px !important;
    .boardComment {
      li {
        .button {
          top: -5px;
          a {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 10px;
          }
        }
      }
    }
  }

  .xans-board-commentdel {
    .commentDel {
      h3 {
        padding-left: 25px;
        font-size: 18px;
      }
      .info {
        font-size: 14px;
      }
      .password input {
        width: 80%;
        margin-right: 0;
      }
    }
  }

  .xans-board-secure {
    .secret {
      h3 {
        padding-left: 25px;
        font-size: 18px;
      }
      .info {
        font-size: 14px;
      }
      .password input {
        width: 80%;
        margin-right: 0;
      }
    }
  }
}