@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

.container {
  padding-top:0;
}
.sub__container {
width: 100%;
}
@media (max-width: 750px) {
.sub__container {
  padding-top: 65px;
}
}
.sub__container .inner_wrap {
  max-width: 1310px;
  margin: 180px auto 0;
  padding-left: 15px;
  padding-right: 15px;

  @include breakpoints.mobile() {
    max-width: 100%;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
  }
}

.xans-order-basketpackage {
  position: relative;
}
.xans-order-basketpackage .xans-order-tabinfo {margin-top: 20px !important;}
.xans-order-basketpackage .ec-base-table.total table {border: 0;}


.cart_wrap {
  .titleArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;   
    width: calc(100% - 370px);
    > h2 {
      padding: 0;
      font-size: 60px;
      font-weight: 500;
    }
    .ico__shipp {
      @include icons.retina-sprite(icons.$ico-shipp-group);
    }
    @include breakpoints.mobile() {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      > h2 {
        font-size: 24px;
      }
      .ico__shipp {
        @include mixins.sprite(mo_icons.$ico-shipp);
      }
    }
  }
}

.neworderListArea {
  width: calc(100% - 370px);
  border:1px solid #000000;
  border-radius: 35px;
  overflow: hidden;
  padding: 30px;

  @include breakpoints.mobile() {
    width: 100%;
    padding: 16px;
  }
}

.xans-order-basketpackage {
  .xans-order-tabinfo {
    &.ec-base-tab {
      width: calc(100% - 370px);
      .tab_moreinfo {
        position: absolute;
        top: inherit;
        right: 0;
        bottom: 0;
      }
      .ico__shipp {
        display: inline-block;
        @include icons.retina-sprite(icons.$ico-shipp-group);
        vertical-align: middle;
      }
      
      .menu {
        background: none;
        border: 0;
        margin-bottom: 10px;
        li {
          background: none;
          border: 0;
          a {
            border: 0;
            font-size: 24px;
            color: #999999;
            background: none;
          }
        }
        li.selected {
          a {
            font-weight: 500;
            color:#000000;
          }
        }
      }
      @include breakpoints.mobile() {
        width: 100%;
        .menu {
          li {
            a {
              min-width: auto;
              font-size: 14px;
            }
          }
        }
        .tab_moreinfo {
          right: 10px;
          bottom: inherit;
          top: -40px;
          font-size: 10px;
        }
      }
    }
  }

  @include breakpoints.mobile() {
    padding-left: 10px;
    padding-right: 10px;

    .xans-order-totalorder {
      margin-top: 0 !important;
      margin-bottom: 20px !important;
      &.ec-base-button {
        padding-bottom: 0;
      }
    }
  }
}

.xans-order-basketpackage {
  .ec-base-table.typeList table {
    border: 0;
    tbody {
      .mo_span {
        display: none;
      }
    }

    @include breakpoints.mobile() {
      colgroup {display: none;}
      table, thead, tbody, th, td, tr { 
        display: block; 
      }
      thead {
        th {
          display: none;
          &:first-child {
            display: block;
            text-align: left;
            padding-top: 0;
            padding-bottom: 25px;
          }
        }
      }
      tfoot {
        margin-top: 20px;
        border-top: 0;
      }
      tbody {
        border-bottom: 0;
        tr {
          position: relative;
          height: 185px;
          td {
            padding-left: 50%;
            &:first-child {
              position: absolute;
              left: 0;
              padding-left: 0;
              z-index: 1;
            }
            &.thumb {
              position: absolute;
              left: 0;
              width: 50%;
              padding-left: 0;
              img {
                max-width: 130px !important;
              }
            }
          }
        }
        .txt_between {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
        }
        .mo_span {
          display: inline-block;
          font-size: inherit;
        }
      }

    }
  }
  .ec-base-table thead th {
    border: 0 !important;
  }
  .ec-base-table.typeList td {
    padding: 0;
    font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 0;
    * {
      font-size: inherit;
    }
  }
  .ec-base-table.typeList tfoot {
    border-top: 1px solid #000000;
    td {
      padding-top: 20px;
      border: 0;
      background: none !important;
      color:#000000;
      > div {
        color: #000000;
      }
    }
    .xans-order-selectorder {
      position: absolute;
      left: 0;
    }
    td .gLeft {
      margin: 0 10px 0 0 !important;
    }
    .ec-base-button {
      display: flex;
    }
    .select_total-price {
      font-weight: 500;
      font-size: 24px;
      color: #000000;
    }
    @include breakpoints.mobile() {
      td {
        padding-top: 10px;
        > div {
          font-weight: 400;
          font-size: 12px;
          &:first-child {
            border-top: 1px solid #000000;
          }
        }
      }
      .ec-base-button {
        padding: 15px 0 0;
      }
      .xans-order-selectorder {
        position: relative;
        margin-bottom: 20px;
      }
    }
  }

  .ec-base-table.typeList .center td.left {
    padding-left: 0 !important;
    @include breakpoints.mobile() {
      padding-left: 50% !important;
      strong {
        font-size: 14px;
      }
    }
    
  }
  .ec-base-table.typeList .center td.right {
    padding-right: 0 !important;
  }
  .ec-base-table td.thumb img {
    max-width: 100% !important;
  }
  
  .ec-base-qty-new {
    .ec-base-qty {
      display: flex;
      width: 90px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      input[type="text"] {
        width: 100%;
        padding: 0;
        background: none;
        border: 0;
        font-size: 18px;
        text-align: center;
        @include mixins.PtdMedium();
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
      }
      .up, .down {
        position: relative;
        left: inherit;
        right: inherit;
        bottom: inherit;
        top: inherit;
      }
    }
    .count_change {
      display: flex;
      width: 48px;
      height: 30px;
      align-items: center;
      justify-content: center;
      margin: 10px auto 0;
      border: 1px solid #000000;
      border-radius: 15px;
      font-size: 13px;
    }
  
    @include breakpoints.mobile() {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      .count_change {
        width: 45px;
        height: 25px;
        margin: 0;
        font-size: 10px;
      }
      .ec-base-qty { 
        width: 65px;
        margin: 0;
        margin-right: 15px;
        input[type=text] {
          font-size: 12px;
        }
      }
      a {
        width: 15px;
        height: 15px;
      }

    }
  }
  .new-order-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding: 0;
    font-size: 18px;
  }
}


.xans-order-totalsummary {
  position: absolute;
  right: 0;
  top: 60px;
  width: 360px;
  @include breakpoints.mobile() {
    position: relative;
    right: inherit;
    top: inherit;
    width: 100%;
  }
}
.area_delv_info {
  padding: 30px;
  border:1px solid #000000;
  border-radius: 35px;
  overflow: hidden;
  dl {
    margin-top: 15px;
  }
  .total_order_price_head {
    padding-bottom: 15px;
    > dt {
      margin-bottom: 40px;
      font-size: 24px;
    }
    > dd {
      text-align: right
    }
    strong {
      font-size: 40px;
    }
  }
  .total_order_price_head dd,
  .area_delv_dl dd,
  .area_delv_dl dd * {
    @include mixins.PtdRegular();
    font-weight: 600;
  }
  .area_delv_dl {
    display: flex;
    justify-content: space-between;
  }
  @include breakpoints.mobile() {
    padding: 25px 16px;
    dl {
      margin-top: 0;
    }
    .total_order_price_head {
      > dt {
        margin-bottom: 10px;
        font-size: 18px;
      }
      strong {
        font-size: 20px;
      }
    }
    .area_delv_dl {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.order_selectorder_new {
  width: calc(100% - 370px);
  @include breakpoints.mobile() {
    width: 100%;
    padding-right: 10px;
  }

}

.xans-order-basketpackage {
  .ec-base-button {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      padding-right: 25px;
      padding-left: 25px;
      height: 60px;
      border:1px solid #000000;
      border-radius: 30px;
      font-size: 18px;
    }
    .small_button {
      margin:0 10px 0 0;
      padding-right: 10px;
      padding-left: 10px;
      height: 32px;
      font-size: 13px;
    }
  }
  .totalorder_button {
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include breakpoints.mobile() {
    .ec-base-button {
      a {
        height: 50px;
        font-size: 14px;
      }
      .small_button {
        margin-right: 6px;
        font-size: 11px;
      }
    }
  }
}


div.ec-base-help.ec-base-help_new {
  width: calc(100% - 370px);
  border-color: #000000;
  border-radius: 35px;
  padding: 40px 30px;
  overflow: hidden;
  > h2,
  > h3 {
    background:none;
    border: 0;
  }
  > h3 {
    font-size: 24px;   
  }
  h4 {
    font-size: 16px;   
  }
  ol {
    margin: 15px 0 0 3px;
    li {
      background: none;
      padding: 0;
      margin-bottom: 5px;
    }
  }
  .inner {width: 100%; margin: 0;margin-top: 25px;}

  @include breakpoints.mobile() {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 16px;
    > h3 {
      padding: 0;
      font-size: 18px;
    }
    .inner {
      padding: 0;
      margin-top: 20px;
    }
    h4 {
      font-weight: 500;
    }
    ol {
      li {
        font-size: 12px;
      }
    }
  }
}


// suggest__item
.suggest__item {
  width: calc(100% - 370px);
  padding-left: 10px;
  padding-right: 10px;
  .suggest__title {
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .menu {
    .menu__list {
      margin-left: 0;
    }
    .menu__swiper {
      ul {
        height: 100%;
      }
    }
    .menu__item {
      width: 25%;
      margin-left: 0;
      border-radius: 25px;
      overflow: hidden;
    }
    .menu__round {
      padding-top: 122.883%;
      clip-path: inset(0 round 25px);
    }
    .marquee {
      height: 66px;
    }
    .menu__tags {
      top: 17px;
      left: 16px;
    }
    .menu__tag {
      height: 20px;
      padding: 0 6px;
      font-size: 15px;
    }
		.menu__tag--celeb {
			i {
				@include mixins.sprite(mo_icons.$ico-menu-tag-celeb10);
			}
		}
		.menu__tag--picks {
			i {
				@include mixins.sprite(mo_icons.$ico-menu-tag-picks13);
			}
		}
    .menu__colors {
      top: 17px;
      right: 16px;
      .menu__color {
        width: 6px;
        height: 6px;
        margin-left: 9px;
      }
    }
    .menu__info {
      padding-bottom: 10px;
    }
  }

  @include breakpoints.mobile() {
    width: 100%;
    padding-right: 0;
    .suggest__title { 
      font-size: 16px;
      padding-bottom: 15px;
      padding-left: 10px;
    }
    .menu {
      width: 100%;
      .menu__list {
        display: flex;
        padding-right: 15px;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        flex-wrap: inherit;
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
      .menu__item { 
        flex: none;
        float: left;
        width: calc((100%/2.5) - 2px);
        margin-right: 2px;
        border-radius: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      .marquee {
        height: 28.5px;
      }
      .menu__tag {
        font-size: 12px;
      }
      .menu__swiper {
        .swiper-pagination-progressbar {
          bottom: 20%;
        }
      }
    }
  }
}

