@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

.container {
  padding-top:0;
}
.sub__container {
width: 100%;
}
@media (max-width: 750px) {
.sub__container {
  padding-top: 65px;
}
}
.sub__container .inner_wrap {
max-width: 1310px;
margin: 100px auto 0;
  padding-left: 15px;
  padding-right: 15px;
}

.xans-order-basketpackage {
  position: relative;
}
.xans-order-basketpackage .xans-order-tabinfo {margin-top: 20px !important;}
.xans-order-basketpackage .ec-base-table.total table {border: 0;}


.cart_wrap .titleArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;   
  width: calc(100% - 370px);
}
.cart_wrap .titleArea > h2 {
  padding: 0;
  font-size: 60px;
  font-weight: 500;
}
.cart_wrap .titleArea .ico__shipp {
  @include icons.retina-sprite(icons.$ico-shipp-group);
}

.neworderListArea {
  width: calc(100% - 370px);
  border:1px solid #000000;
  border-radius: 35px;
  overflow: hidden;
  padding: 30px;
}

.xans-order-basketpackage {
  .xans-order-tabinfo {
    &.ec-base-tab {
      width: calc(100% - 370px);
      .tab_moreinfo {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .ico__shipp {
        @include icons.retina-sprite(icons.$ico-shipp-group);
      }
      
      .menu {
        background: none;
        border: 0;
        li {
          background: none;
          border: 0;
          a {
            border: 0;
            font-size: 24px;
            color: #999999;
            background: none;
          }
        }
        li.selected {
          a {
            font-weight: 500;
            color:#000000;
          }
        }
      }
    }
  }
}

.xans-order-basketpackage {
  .ec-base-table.typeList table {
    border: 0;
  }
  .ec-base-table thead th {
    border: 0 !important;
  }
  .ec-base-table.typeList td {
    padding: 0;
    font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 500;
    border: 0;
  }
  .ec-base-table.typeList tfoot {
    border-top: 1px solid #000000;
    td {
      padding-top: 20px;
      border: 0;
      background: none !important;
      color:#000000;
      > div {
        color: #000000;
      }
    }
  }
  .ec-base-table.typeList tfoot .xans-order-selectorder {
    position: absolute;
    left: 0;
  }

  .ec-base-table tfoot td .gLeft {
    margin: 0 10px 0 0 !important;
  }

  .ec-base-table.typeList tfoot {
    .ec-base-button {
      display: flex;
    }
    .select_total-price {
      font-size: 24px;
      color: #000000;
    }
  }
  .ec-base-table.typeList .center td.left {
    padding-left: 0 !important;
  }
  .ec-base-table.typeList .center td.right {
    padding-right: 0 !important;
  }
  .ec-base-table td.thumb img {
    max-width: 100% !important;
  }
  
  .ec-base-qty-new {
    .ec-base-qty {
      display: flex;
      width: 90px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      input[type="text"] {
        width: 100%;
        padding: 0;
        background: none;
        border: 0;
        font-size: 18px;
        text-align: center;
        @include mixins.PtdMedium();
      }
      a {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
      .up, .down {
        position: relative;
        left: inherit;
        right: inherit;
        bottom: inherit;
        top: inherit;
        width: 100%;
        height: 100%;
        
      }
    }
    .count_change {
      display: flex;
      width: 48px;
      height: 30px;
      align-items: center;
      justify-content: center;
      margin: 10px auto 0;
      border: 1px solid #000000;
      border-radius: 15px;
      font-size: 13px;
    }
  }
  .new-order-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding: 0;
    font-size: 18px;
  }
}


.xans-order-totalsummary {
  position: absolute;
  right: 0;
  top: 60px;
  width: 360px;
}
.area_delv_info {
  padding: 30px;
  border:1px solid #000000;
  border-radius: 35px;
  overflow: hidden;
}
.area_delv_info dl {
  margin-top: 15px;
}
.area_delv_info {
  .total_order_price_head {
    padding-bottom: 15px;
    > dt {
      margin-bottom: 40px;
      font-size: 24px;
    }
    > dd {
      text-align: right
    }
    strong {
      font-size: 40px;
    }
  }
}
.area_delv_info  .total_order_price_head dd,
.area_delv_info  .area_delv_dl dd,
.area_delv_info  .area_delv_dl dd * {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-weight: 600;
}
.area_delv_info .area_delv_dl {
  display: flex;
  justify-content: space-between;
}

.order_selectorder_new {
  width: calc(100% - 370px);
}

.xans-order-basketpackage {
  .ec-base-button {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      padding-right: 25px;
      padding-left: 25px;
      height: 60px;
      border:1px solid #000000;
      border-radius: 30px;
      font-size: 18px;
    }
    .small_button {
      margin:0 10px 0 0;
      padding-right: 10px;
      padding-left: 10px;
      height: 32px;
      font-size: 13px;
    }
  }
  .totalorder_button {
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


div.ec-base-help.ec-base-help_new {
  width: calc(100% - 370px);
}
div.ec-base-help.ec-base-help_new > h2,
div.ec-base-help.ec-base-help_new > h3 {
  background:none;
  border: 0;
}
div.ec-base-help.ec-base-help_new > h3 {
 font-size: 24px;   
}
div.ec-base-help.ec-base-help_new h4 {
 font-size: 16px;   
}
div.ec-base-help.ec-base-help_new {
  border-color: #000000;
  border-radius: 35px;
  padding: 40px 30px;
  overflow: hidden;
}
div.ec-base-help.ec-base-help_new ol {
  margin: 15px 0 0 3px;
}
div.ec-base-help.ec-base-help_new ol li {
  background: none;
  padding: 0;
  margin-bottom: 5px;
}
div.ec-base-help.ec-base-help_new .inner {width: 100%; margin: 0;margin-top: 25px;}


// suggest__item
.suggest__item {
  width: calc(100% - 370px);
  padding-left: 10px;
  padding-right: 10px;
  .suggest__title {
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .menu {
    .menu__list {
      margin-left: 0;
    }
    .menu__swiper {
      ul {
        height: 100%;
      }
    }
    .menu__item {
      width: 25%;
      margin-left: 0;
      border-radius: 25px;
      overflow: hidden;
    }
    .menu__round {
      padding-top: 122.883%;
    }
    .marquee {
      height: 66px;
    }
    .menu__tag {
      font-size: 24px;
    }
    .menu__colors {
      .menu__color {
        width: 6px;
        height: 6px;
        margin-left: 9px;
      }
    }
  }

  @include breakpoints.mobile() {
    padding-right: 0;
    .suggest__title { 
      font-size: 16px;
      padding-bottom: 15px;
      padding-left: 10px;
    }
    .menu {
      width: 100%;
      .menu__list {
        display: flex;
        padding-right: 15px;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        flex-wrap: inherit;
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
      .menu__item { 
        flex: none;
        float: left;
        width: calc((100%/2.5) - 2px);
        margin-right: 2px;
        border-radius: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      .marquee {
        height: 28.5px;
      }
      .menu__tag {
        font-size: 12px;
      }
      .menu__swiper {
        .swiper-pagination-progressbar {
          bottom: 20%;
        }
      }
    }
  }
}

