@use 'breakpoints';
@use 'mixins';

// main 
.visual {
	.visual__container {
		height: 100vh;
		background-color: cyan;
		.swiper-container {
			height: 100%;
		}
		.swiper-slide {
			&:first-child {
				.visual__contents {
					opacity: 0;
					animation: visualCont .5s linear forwards;
					animation-delay: .35s;
				}
			}
		}
	}
	.visual__mask {
		overflow: hidden;
		position: relative;
		height: 100%;
		animation: visual .7s linear forwards;
	}
	.visual__video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		video {
			width: 100%;
			height: 100%;
			border-radius: 42px;
			object-fit: cover;
		}
	}
	.visual__contents {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 100%;
		color: #fff;
		text-align: center;
	}
	.visual__theme {
		font-weight: 600;
		font-size: 18px;
		letter-spacing: -0.04em;
	}
	.visual__title {
		margin: 40px 0;
		font-size: 160px;
		line-height: 130px;
		letter-spacing: -0.04em;
	}
	.visual__link {
		display: inline-flex;
		justify-content: center;
		width: 220px;
		height: 60px;
		border-radius: 60px;
		background-color: #fff;
		color: #000;
		font-size: 38px;
		line-height: 70px;
		text-align: center;
	}
}

.best-menu {
	.best-menu__list {
		padding: 50px 0;
		> .best-menu__row {
			padding: 50px 20px;
		}
	}
	.best-menu__row {
		display: flex;
	}
	.best-menu__row--col3 {
		> .best-menu__col {
			width: calc(100% / 3);
		}
	}
	.best-menu__row--col4 {
		> .best-menu__col {
			width: 25%;
		}
	}
	.best-menu__row--col2 {
		> .best-menu__col {
			width: 50%;
		}
	}
	.best-menu__row--stretch {
		align-items: stretch;
		.best-menu__col--half {
			margin-top: -50px;
			> .best-menu__row {
				height: 50%;
				padding-top: 50px;
				> .best-menu__col,
				.best-menu__item {
					height: 100%;
				}
			}
		}
	}
	.best-menu__item {
		padding: 0 50px;
		.swiper-container {
			height: 100%;
		}
		.swiper-wrapper {
			align-items: stretch;
		}
		.swiper-slide {
			height: auto;
		}
	}
	.best-menu__inner {
		height: 100%;
	}
	.best-menu__img {
		height: 100%;
		text-align: center;
		img {
			height: 100%;
			border-radius: 42px;
		}
	}
	.best-menu__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.best-menu__info--green {
		color: #9af54c;
		.best-menu__link {
			border-color: #9af54c;
			&:focus,
			&:hover {
				background-color: #9af54c;
			}
		}
	}
	.best-menu__info--cyan {
		color: #b2f9ea;
		.best-menu__link {
			border-color: #b2f9ea;
			&:focus,
			&:hover {
				background-color: #b2f9ea;
			}
		}
	}
	.best-menu__info--yellow {
		color: #fffe72;
		.best-menu__link {
			border-color: #fffe72;
			&:focus,
			&:hover {
				background-color: #fffe72;
			}
		}
	}
	.best-menu__info--orange {
		color: #fc9738;
		.best-menu__link {
			border-color: #fc9738;
			&:focus,
			&:hover {
				background-color: #fc9738;
			}
		}
	}
	.best-menu__info--purple {
		color: #b7adf0;
		.best-menu__link {
			border-color: #b7adf0;
			&:focus,
			&:hover {
				background-color: #b7adf0;
			}
		}
	}
	.best-menu__info--pink {
		color: #ff9bc1;
		.best-menu__link {
			border-color: #ff9bc1;
			&:focus,
			&:hover {
				background-color: #ff9bc1;
			}
		}
	}
	.best-menu__category {
		margin-bottom: 10px;
		font-weight: 500;
		text-transform: uppercase;
	}
	.best-menu__name {
		font-weight: 500;
		font-size: 48px;
		letter-spacing: -0.96px;
		text-transform: uppercase;
	}
	.best-menu__link {
		display: flex;
		justify-content: center;
		margin-top: 15px;
		width: 128px;
		height: 44px;
		border-width: 1px;
		border-style: solid;
		border-radius: 44px;
		font-size: 26px;
		line-height: 46px;
		text-transform: uppercase;
		&:focus,
		&:hover {
			color: #000;
		}
	}
	.carousel {
		.carousel__mask {
			height: 54px;
			background-color: #fc9738;
		}
		.carousel__text {
			margin: 0 50px;
			color: #fffe72;
			font-size: 48px;
			line-height: 65px;
		}
	}
}

.celeb-curation {
	.celeb-curation__container {
		padding: 105px 32px;
	}
	.celeb-curation__screen {
		position: relative;
		overflow: hidden;
	}
	.celeb-curation__screen--opened {
		.celeb-curation__curtain {
			&:first-child {
				animation: screenTopCurtain 1s linear forwards;
				.celeb-curation__text {
					animation: screenTopText 1s linear forwards;
				}
			}
			&:last-child {
				animation: screenBottomCurtain 1s linear forwards;
				.celeb-curation__text {
					animation: screenBottomText 1s linear forwards;
				}
			}
		}
		.celeb-curation__swiper {
			animation: screen 1s linear forwards;
		}
	}
	.celeb-curation__curtain {
		display: flex;
		position: absolute;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 50%;
		background-color: #fff;
		&:first-child {
			align-items: flex-end;
			top: 0;
		}
		&:last-child {
			bottom: 0;
		}
		.celeb-curation__text {
			display: inline-flex;
			position: relative;
			left: 50%;
			color: #5eecfa;
			font-size: 225px;
			letter-spacing: -0.01em;
			text-align: center;
			@include mixins.Druk();
			@include mixins.translate(-50%, 0);
		}
	}
	.celeb-curation__swiper {
		.swiper-button-prev,
		.swiper-button-next {
			top: auto;
			bottom: 32px;
			width: 162px;
			height: 60px;
			margin-top: 0;
			border: 1px solid #000;
			border-radius: 60px;
			background: none;
			font-size: 32px;
			line-height: 62px;
			&:focus,
			&:hover {
				background-color: #5eecfa;
			}
			&.swiper-button-disabled {
				display: none;
			}
		}
		.swiper-button-prev {
			left: auto;
			right: 202px;
		}
		.swiper-button-next {
			right: 32px;
		}
	}
	.menu {
		.menu__list {
			margin: -12px 0 0 -12px;
		}
		.menu__list--col2 {
			.menu__item {
				width: calc(50% - 12px);
			}
		}
		.menu__item {
			margin: 12px 0 0 12px;
			&:first-child {
				.menu__img {
					position: static;
					height: 100%;
					@include mixins.translate(0, 0);
					img {
						width: 100%;
						height: 100%;
						border-radius: 42px;
					}
				}
			}
		}
		.menu__round {
			max-height: 780px;
			padding-top: 84.6%;
		}
		.menu__info {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 0 32px 32px;
		}
		.menu__name {
			font-size: 32px;
			line-height: 36px;
		}
	}
}

@keyframes visual {
	0% {
		left: 50%;
		top: 50%;
		width: 0;
		height: 0;
	}
	50% {
		left: 25%;
		top: 25%;
		width: 50%;
		height: 50%;
	}
	100% {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

@keyframes visualCont {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes screenTopCurtain {
	0% {
		height: 50%;
	}
	70% {
		height: 150px;
	}
	100% {
		height: auto;
	}
}

@keyframes screenBottomCurtain {
	0% {
		height: 50%;
	}
	70% {
		height: 150px;
	}
	100% {
		height: auto;
	}
}

@keyframes screenTopText {
	0% {
		left: 50%;
		font-size: 225px;
		@include mixins.translate(-50%, 0);
	}
	70% {
		left: 50%;
		font-size: 150px;
		@include mixins.translate(-50%, 0);
	}
	100% {
		left: 0;
		font-size: 80px;
		@include mixins.translate(0, 0);
	}
}

@keyframes screenBottomText {
	0% {
		left: 50%;
		@include mixins.translate(-50%, 0);
	}
	70% {
		left: 50%;
		font-size: 150px;
		@include mixins.translate(-50%, 0);
	}
	100% {
		left: 100%;
		font-size: 80px;
		@include mixins.translate(-100%, 0);
	}
}

@keyframes screen {
	0% {
		margin: 0;
		padding: 0;
	}
	100% {
		padding: 80px 0;
	}
}