@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

// member
.member {
	.member__container {
		max-width: 1424px;
		margin: 0 auto;
		padding: 0 1.67vw;
	}
	.member__header {
		margin-bottom: 50px;
		.member__title {
			text-align: center;
			.member__text {
				font-weight: 500;
				font-size: 32px;
				letter-spacing: -0.025em;
			}
		}
		.member__desc {
			max-width: 524px;
			margin: 30px auto 0;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: -0.025em;
			text-align: center;
			@include mixins.PtdRegular();
		}
	}
	.member__body {
		max-width: 500px;
		margin: 0 auto;

		.button {
			margin-top: 10px;
		}
	}
	.member__card {
		padding: 35px 32px;
		border: 1px solid #000;
		border-radius: 42px;
		&:not(:first-child) {
			margin-top: 10px;
		}
	}
	.member__card--result {
		padding: 30px 40px 40px;
		.member__noti {
			display: flex;
			.member__text {
				display: flex;
				align-items: center;
				letter-spacing: -0.025em;
				@include mixins.PtdRegular();
			}
			.member__ico {
				margin-right: 5px;
				@include icons.retina-sprite(icons.$ico-info-group);
			}
		}
		.member__noti--center {
			justify-content: center;
		}
		.member__id {
			margin-top: 58px;
			text-align: center;
			.member__text {
				font-size: 36px;
				@include mixins.PtdMedium();
			}
		}
		.member__info {
			display: flex;
			margin-top: 62px;
			.member__row {
				&:not(:first-child) {
					margin-left: 4.06vw;
				}
			}
			.member__large {
				font-weight: 500;
				font-size: 20px;
			}
			dt {
				margin-bottom: 11px;
				font-weight: 500;
				font-size: 12px;
			}
			dd {
				letter-spacing: -0.025em;
				@include mixins.PtdRegular();
				&:not(:first-of-type) {
					margin-top: 12px;
				}
			}
		}
		.member__temporary {
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			@include mixins.PtdRegular();
			.member__semibold {
				font-weight: 600;
			}
		}
	}
	.member__card--board {
		padding: 42px 28px 52px;
	}

	.login {
		.login__container {
			display: flex;
			.login__left,
			.login__right {
				flex: 1;
			}
			.login__left {
				flex-basis: 670px;
			}
			.login__right {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				margin-left: 7.03vw;
				flex-basis: 554px;
			}
		}
		.login__visual {
			position: relative;
			height: 44.06vw;
			max-height: 846px;
			border-radius: 30px;
			background: url('../images/bg_login_visual.png') no-repeat 50% 50%;
			.login__text {
				display: none;
			}
		}
		.login__normal {
			margin: auto 0 30px;
			.login__title {
				margin-bottom: 27px;
				font-weight: 500;
				font-size: 32px;
				letter-spacing: -0.01em;
				text-align: center;
			}
			.login__security {
				margin-bottom: 16px;
				text-align: right;
				.login__text {
					display: inline-flex;
					gap: 8px;
					align-items: center;
					font-weight: 500;
					font-size: 12px;
					letter-spacing: -0.025em;
				}
				.login__ico {
					@include icons.retina-sprite(icons.$ico-login-security-group);
				}
			}
			.login__form {
				.login__row {
					&:not(:first-child) {
						margin-top: 4px;
					}
				}
			}
			.login__save {
				margin-top: 16px;
				padding-left: 12px;
			}
			.login__button {
				display: flex;
				justify-content: center;
				margin-top: 30px;
				.login__login {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 280px;
					height: 80px;
					border: 1px solid #000;
					border-radius: 100vw;
					font-weight: 500;
					font-size: 42px;
					letter-spacing: -0.01em;
				}
			}
			.login__util {
				display: flex;
				justify-content: center;
				gap: 16px;
				margin-top: 25px;
				.login__menu {
					letter-spacing: -0.025em;
					&:not(:first-child) {
						position: relative;
						padding-left: 17px;
						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							width: 1px;
							height: 14px;
							margin-top: -7px;
							background-color: #dfdfdf;
						}
					}
				}
			}
		}
		.login__sns {
			margin-top: auto;
			.login__title {
				font-size: 12px;
				letter-spacing: -0.025em;
				text-align: center;
				@include mixins.PtdMedium();
			}
			.login__list {
				display: flex;
				justify-content: center;
				gap: 30px;
				margin-top: 20px;
				.login__link {
					display: block;
				}
				.login__link--naver {
					@include icons.retina-sprite(icons.$ico-login-naver-group);
				}
				.login__link--facebook {
					@include icons.retina-sprite(icons.$ico-login-facebook-group);
				}
				.login__link--kakao {
					@include icons.retina-sprite(icons.$ico-login-kakao-group);
				}
			}
		}
	}

	.form {
		.form__row {
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
		.form__label {
			display: flex;
			padding: 0 9px;
			.form__text {
				letter-spacing: -0.025em;
				@include mixins.PtdMedium();
			}
		}
		.form__set {
			&:not(:first-child) {
				margin-top: 12px;
			}
		}
		.form__field {
			display: flex;
			.form__col {
				flex: 1;
				&:not(:first-child):not(.form__col--unit):not(.form__col--unit + .form__col) {
					margin-left: 2px;
				}
			}
			.form__col--unit {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: none;
				width: 20px;
				font-size: 12px;
			}
			.form__col--offset {
				padding: 0 9px;
			}
			.form__id {
				font-size: 20px;
				@include mixins.PtdRegular();
			}
			
			::-webkit-input-placeholder {
				@include mixins.PtdRegular();
			}
			::-moz-placeholder {
				@include mixins.PtdRegular();
			}
		}

		.select {
			width: 100%;
		}
	}

	.board {
		.board__row {
			display: flex;
			letter-spacing: -0.025em;
			&:not(:first-child) {
				margin-top: 46px;
				padding-top: 46px;
				border-top: 1px solid #000;
			}
			.board__left {
				display: flex;
				align-items: center;
				flex: none;
				width: 105px;
				.board__text {
					font-weight: 500;
					font-size: 16px;
				}
			}
			.board__right {
				.board__text {
					font-size: 24px;
					@include mixins.PtdMedium();
				}
			}
		}
	}

	@include breakpoints.mobile() {
		.member__container {
			padding: 28.5px 4vw 0;
		}
		.member__header {
			margin-bottom: 30px;
			.member__title {
				.member__text {
					font-size: 20px;
					letter-spacing: -0.012em;
				}
			}
			.member__desc {
				max-width: 240px;
				margin: 10.5px auto 0;
				font-size: 12px;
				line-height: 16px;
				letter-spacing: -0.012em;
			}
		}
		.member__card {
			padding: 24px 14px;
			border-radius: 21px;
		}
		.member__card--result {
			padding: 20px 25px;
			.member__noti {
				.member__text {
					font-size: 12px;
					letter-spacing: -0.012em;
				}
				.member__ico {
					margin-right: 4px;
					@include mixins.sprite(mo_icons.$ico-info);
				}
			}
			.member__id {
				margin-top: 41px;
				.member__text {
					font-size: 26px;
				}
			}
			.member__info {
				margin-top: 41px;
				.member__row {
					word-break: break-all;
					&:not(:first-child) {
						margin-left: 12vw;
					}
					&:nth-child(1) {
						flex: 1 1 0%;
					}
					&:nth-child(2) {
						flex: .2 0 0%;
					}
				}
				.member__large {
					font-size: 16px;

				}
				dt {
					margin-bottom: 10px;
					font-size: 11px;
				}
				dd {
					font-size: 12px;
					letter-spacing: -0.012em;
					&:not(:first-of-type) {
						margin-top: 10px;
					}
				}
			}
			.member__temporary {
				font-size: 14px;
				line-height: 18px;
				letter-spacing: -0.012em;
			}
		}
		.member__card--board {
			padding: 35px 20px 34px;
		}

		.login {
			padding-top: 60px;
			.login__container {
				flex-direction: column-reverse;
				.login__left {
					flex-basis: initial;
					margin: 15px -4vw 0;
				}
				.login__right {
					flex-basis: initial;
					margin-left: 0;
				}
			}
			.login__visual {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50px;
				border-top: 1px solid #000;
				border-radius: 0;
				background: url('../images/m_bg_login_visual.png') no-repeat 0 -36.13vw;
				background-size: 101.6vw auto;
				.login__text {
					display: block;
					color: #74fbd3;
					font-family: 'LibreCaslonText';
					font-size: 18px;
					span {
						margin-left: 3px;
						font-size: 12px;
						line-height: 8.675px;
						vertical-align: super;
					}
				}
			}
			.login__normal {
				margin-bottom: 81px;
				.login__title {
					margin-bottom: 18.5px;
					font-size: 20px;
					letter-spacing: 0;
				}
				.login__security {
					margin-bottom: 9px;
					.login__text {
						gap: 6.5px;
						font-weight: 400;
						letter-spacing: -0.012em;
					}
					.login__ico {
						@include mixins.sprite(mo_icons.$ico-login-security);
					}
				}
				.login__form {
					.login__row {
						&:not(:first-child) {
							margin-top: 2px;
						}
					}
				}
				.login__save {
					margin-top: 12px;
					padding-left: 5px;
				}
				.login__button {
					margin-top: 33.5px;
					.login__login {
						width: 190px;
						height: 60px;
						font-size: 36px;
						letter-spacing: 0;
					}
				}
				.login__util {
					gap: 10px;
					margin-top: 11.5px;
					.login__menu {
						letter-spacing: -0.012em;
						&:not(:first-child) {
							padding-left: 10.5px;
							&:before {
								height: 11px;
								margin-top: -5.5px;
							}
						}
					}
				}
			}
			.login__sns {
				.login__title {
					letter-spacing: -0.012em;
				}
				.login__list {
					gap: 25.5px;
					margin-top: 14px;
					.login__link--naver {
						@include mixins.sprite(mo_icons.$ico-login-naver);
					}
					.login__link--facebook {
						@include mixins.sprite(mo_icons.$ico-login-facebook);
					}
					.login__link--kakao {
						@include mixins.sprite(mo_icons.$ico-login-kakao);
					}
				}
			}
		}

		.form {
			.form__row {
				&:not(:first-child) {
					margin-top: 15px;
				}
			}
			.form__label {
				.form__text {
					font-size: 12px;
					letter-spacing: -0.012em;
				}
			}
			.form__set {
				&:not(:first-child) {
					margin-top: 10px;
				}
			}
			.form__field {
				.form__id {
					font-size: 14px;
					letter-spacing: -0.012em;
				}
			}
		}

		.board {
			.board__row {
				letter-spacing: -0.012em;
				&:not(:first-child) {
					margin-top: 35px;
					padding-top: 30px;
				}
				.board__left {
					width: 80px;
					.board__text {
						font-size: 12px;
					}
				}
				.board__right {
					word-break: break-all;
					.board__text {
						font-size: 18px;
						@include mixins.PtdMedium();
					}
				}
			}
		}
	}
}