@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

// member

.member {
	border: 0 !important;
	input[type=text], input[type=password] {
		height: 58px;
    padding: 0 14px;
    border: 1px solid #f4f4f7;
		color: #000;
    font-size: 18px;
	}
	input[type='radio'] {
		width: 15px;
		height: 15px;
		flex-shrink: 0;
		&:before,
		&:after {
			display: none;
		}
	}
	input[type=checkbox], input[type=radio] {
		margin-right: 5px;
		border: 1px solid #000;
		& + label {
			padding-left: 5px;
			margin-right: 15px;
			font-size: 14px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	select {
		height: 58px;
		padding: 0 14px;
		border: 1px solid #f4f4f7;
		color: #000;
		&#hint {
			width: 100%;
		}
	}
	
	ul, ol {
		margin-top: 10px;
		li {
			padding:5px 0;
		}
	}
	.grid {
		input[type=text] {
			margin-top: 15px;
		}
	}
	.member__container {
		max-width: calc(1360px + 3.37vw);
		margin: 0 auto;
		padding: 200px 1.67vw 168px;
	}
	.member__container--join {
		max-width: calc(910px + 3.37vw);
		.member__header {
			margin-bottom: 30px;
		}
		.member__body {
			.member__group {
				max-width: none;
			}
		}
		.member__card {
			.table__table .table__row  {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 5px;
				}
			}
		}
	}
	.member__container--join-result {
		max-width: none;
		padding-left: 2.67vw;
		padding-right: 2.67vw;
		.member__header {
			margin-bottom: 90px;
			.member__title {
				.member__text {
					font-weight: 600;
					font-size: 14.9vw;
					letter-spacing: -0.02em;
					white-space: nowrap;
					span {
						position: relative;
						margin: 0 -2.08vw 0 -2.86vw;
						color: #2cdee4;
						font-family: 'Baskerville';
						font-style: italic;
						font-size: 16.98vw;
						-webkit-text-stroke: 2px #000;
					}
				}
			}
		}
		.member__body {
			.member__group {
				max-width: 420px;
			}
		}
		.member__card {
			padding: 40px;
			> .member__row {
				justify-content: flex-end;
			}
		}
		.member__logo {
			display: flex;
			i {
				// @include icons.retina-sprite(icons.$logo-group);
				width: 161px;
				height: 14px;
			}
		}
		.member__info {
			margin-top: 70px;
			.member__row {
				&:first-child {
					margin-bottom: 40px;

					dt {
						font-size: 14px;
					}
					dd {
						font-size: 48px;
					}
				}
				&:not(:first-child) {
					margin-top: 16px;
				}
			}

			dt {
				margin-bottom: 10px;
				font-weight: 500;
				font-size: 12px;
				@include mixins.PtdMedium();
			}
			dd {
				font-size: 20px;
				letter-spacing: -0.025em;
				@include mixins.PtdMedium();
			}
		}
		.member__coupon {
			margin-top: 4px;
		}
	}
	.member__header {
		margin-bottom: 50px;
		.member__title {
			text-align: center;
			.member__text {
				font-weight: 500;
				font-size: 32px;
				letter-spacing: -0.025em;
			}
		}
		.member__title--left {
			text-align: left;
		}
		.member__desc {
			max-width: 524px;
			margin: 30px auto 0;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: -0.025em;
			text-align: center;
			@include mixins.PtdRegular();
		}
	}
	.member__body {
		.member__group {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	.member__card {
		padding: 35px 32px;
		border: 1px solid #000;
		border-radius: 42px;
		&:not(:first-child) {
			margin-top: 10px;
		}
		& ~ .button {
			margin-top: 10px;
		}
		> .member__row {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 32px;
			.member__title {
				font-size: 24px;
				letter-spacing: -0.025em;
				@include mixins.PtdMedium();
			}
		}

		.button {
			&:not(:first-child) {
				margin-top: 38px;
			}
			.button__container {
				.button__item {
					&:not(:first-child) {
						margin-left: 4px;
					}
				}
			}
		}
	}
	.member__card--result {
		padding: 30px 40px 40px;
		.member__noti {
			display: flex;
			.member__text {
				display: flex;
				align-items: center;
				letter-spacing: -0.025em;
				@include mixins.PtdRegular();
			}
			.member__ico {
				width: 16px;
				height: 16px;
				margin-right: 5px;
				// @include icons.retina-sprite(icons.$ico-info-group);
			}
		}
		.member__noti--center {
			justify-content: center;
		}
		.member__id {
			margin-top: 58px;
			text-align: center;
			.member__text {
				font-size: 36px;
				@include mixins.PtdMedium();
			}
		}
		.member__info {
			display: flex;
			margin-top: 62px;
			.member__row {
				&:not(:first-child) {
					margin-left: 4.06vw;
				}
			}
			.member__large {
				font-weight: 500;
				font-size: 20px;
			}
			dt {
				margin-bottom: 11px;
				font-weight: 500;
				font-size: 12px;
			}
			dd {
				letter-spacing: -0.025em;
				@include mixins.PtdRegular();
				&:not(:first-of-type) {
					margin-top: 12px;
				}
			}
		}
		.member__temporary {
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			@include mixins.PtdRegular();
			.member__semibold {
				font-weight: 600;
			}
		}
	}
	.member__card--board {
		padding: 42px 28px 52px;
	}

	.login {
		margin-top: -60px;
		.login__container {
			display: flex;
			.login__left,
			.login__right {
				flex: 1;
			}
			.login__left {
				flex-basis: 670px;
			}
			.login__right {
				flex: 1;
				display: flex;
				flex-direction: column;
				// justify-content: center;
				position: relative;
				margin-left: 7.03vw;
				padding-top: 194px;
				flex-basis: 554px;
				padding-right: 20px;
				height: calc(100vh - 170px);
				overflow-y: auto;
			}
		}
		.login__visual {
			position: relative;
			// height: 44.06vw;
			// max-height: 846px;
			height: 846px;
			height: calc(100vh - 170px);
			border-radius: 30px;
			background: url('/assets/images/bg_login_visual.jpg') no-repeat 50% 50%;
			.login__text {
				display: none;
			}
		}
		.login__normal {
			// margin: auto 0 30px;
			.login__title {
				margin-bottom: 27px;
				font-weight: 500;
				font-size: 32px;
				letter-spacing: -0.01em;
				text-align: center;
			}
			.login__security {
				margin-bottom: 16px;
				text-align: right;
				.login__text {
					display: inline-flex;
					// gap: 8px;
					gap: 3px;
					align-items: center;
					font-weight: 500;
					font-size: 12px;
					letter-spacing: -0.025em;
				}
				.login__ico {
					// @include icons.retina-sprite(icons.$ico-login-security-group);
					background-image: url('../images/ico_login_security.svg');
					background-repeat: no-repeat;
					background-position: 0 0;
					width: 18px;
					height: 18px;
				}
			}
			.login__form {
				.login__row {
					&:not(:first-child) {
						margin-top: 4px;
					}
				}
			}
			.login__save {
				margin-top: 16px;
				padding-left: 12px;
			}
			.login__button {
				display: flex;
				justify-content: center;
				margin-top: 30px;
				.login__login {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 280px;
					height: 80px;
					border: 1px solid #000;
					border-radius: 100vw;
					font-weight: 500;
					font-size: 42px;
					letter-spacing: -0.01em;
				}
			}
			.login__util {
				display: flex;
				justify-content: center;
				gap: 16px;
				margin-top: 25px;
				margin-bottom: 25px;
				.login__menu {
					letter-spacing: -0.025em;
					&:not(:first-child) {
						position: relative;
						padding-left: 17px;
						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							width: 1px;
							height: 14px;
							margin-top: -7px;
							background-color: #dfdfdf;
						}
					}
					.login__menu {
						margin-left: 14px;
					}
				}
			}
		}
		.login__sns {
			margin-top: auto;
			.login__title {
				font-size: 12px;
				letter-spacing: -0.025em;
				text-align: center;
				@include mixins.PtdMedium();
			}
			.login__list {
				display: flex;
				justify-content: center;
				gap: 30px;
				margin-top: 20px;
				.login__link {
					display: block;
					width: 42px;
					height: 42px;
					background-repeat: no-repeat;
					background-position: 0 0;
				}
				.login__link--naver {
					// @include icons.retina-sprite(icons.$ico-login-naver-group);
					background-image: url('../images/ico_login_naver.svg');
				}
				.login__link--facebook {
					// @include icons.retina-sprite(icons.$ico-login-facebook-group);
					background-image: url('../images/ico_login_facebook.svg');
				}
				.login__link--kakao {
					// @include icons.retina-sprite(icons.$ico-login-kakao-group);
					background-image: url('../images/ico_login_kakao.svg');
				}
			}
		}
	}

	.board {
		.board__row {
			display: flex;
			letter-spacing: -0.025em;
			&:not(:first-child) {
				margin-top: 46px;
				padding-top: 46px;
				border-top: 1px solid #000;
			}
			.board__left {
				display: flex;
				align-items: center;
				flex: none;
				width: 105px;
				.board__text {
					font-weight: 500;
					font-size: 16px;
				}
			}
			.board__right {
				.board__text {
					font-size: 24px;
					@include mixins.PtdMedium();
				}
			}
		}
	}

	.terms {
		&:not(:first-child) {
			margin-top: 60px;
		}
		.terms__item {
			&:not(:first-child) {
				margin-top: 40px;
			}
		}
		.terms__mask {
			overflow-y: auto;
			height: 220px;
			margin-top: 28px;
			padding: 34px;
			border: 1px solid #000;
			border-radius: 32px;
			line-height: 18px;
			letter-spacing: -0.025em;
			@include mixins.PtdRegular();
			// &::-webkit-scrollbar {
			// 	width: 45px;
			// }
			// &::-webkit-scrollbar-thumb {
			// 	height: 70px;
			// 	border: 21px solid rgba(0,0,0,0);
			// 	background-color: #999;
			// 	background-clip: padding-box;
			// } 
		}
		.terms__agree {
			.terms__row {
				display: flex;
				&:not(:first-child) {
					margin-top: 14px;
				}
				.terms__left {
					width: 183px;
				}
			}	
		}
	}

	.coupon {
		padding: 20px 40px 10px;
		border: 1px solid #000;
		border-radius: 100vw;
		background-color: #2cdee4;
		.coupon__text {
			margin-bottom: -25px;
			font-weight: 500;
			font-size: 14px;
			letter-spacing: -0.01em;
		}
		.coupon__row {
			display: flex;
			align-items: baseline;
		}
		.coupon__name {
			color: #ff85e2;
			font-family: 'Druk Wide';
			font-size: 34px;
  		-webkit-text-stroke: 1px #000;
		}
		.coupon__number {
			margin-left: 10px;
			color: #dbff02;
			font-family: 'Times New Roman';
			font-weight: 700;
			font-size: 70px;
			letter-spacing: -0.05em;
			-webkit-text-stroke: 1px #000;
			.coupon__unit {
				font-size: 30px;
			}
		}
	}
	.member__container--login {
		padding-bottom: 0;
	}
	@include breakpoints.mobile() {
		.member__container {
			// padding: 28.5px 4vw 0;
			padding: 100px 4vw 124px;
		}
		.member__container--login {
			padding-top: 0;
			padding-bottom: 0;
		}
		.member__container--join-result {
			.member__header {
				margin-bottom: 70px;
				.member__title {
					.member__text {
						margin: 0 -2.4vw 0 -2.93vw;
						font-size: 16.27vw;
						span {
							font-size: 18.67vw;
						}
					}
				}
			}
			.member__card {
				padding: 32px 30px;
				border-radius: 35px;
				> .member__row {
					display: flex;
					justify-content: flex-end;
					.member__right {
						margin-top: 0;
					}
				}
			}
			.member__logo {
				i {
					// @include mixins.sprite(mo_icons.$logo);
					width: 117px;
    			height: 10px;
				}
			}
			.member__info {
				margin-top: 62px;
				.member__row {
					&:first-child {
						margin-bottom: 36px;

						dt {
							font-size: 10px;
						}
						dd {
							font-size: 40px;
							letter-spacing: 0;
						}
					}
					&:not(:first-child) {
						margin-top: 14px;
					}
				}

				dt {
					margin-bottom: 8px;
					font-size: 10px;
				}
				dd {
					font-size: 16px;
					letter-spacing: -0.012em;
				}
			}
		}
		.member__header {
			margin-bottom: 30px;
			.member__title {
				.member__text {
					font-size: 20px;
					letter-spacing: -0.012em;
				}
			}
			.member__desc {
				max-width: 240px;
				margin: 10.5px auto 0;
				font-size: 12px;
				line-height: 16px;
				letter-spacing: -0.012em;
			}
		}
		.member__card {
			padding: 24px 14px;
			border-radius: 21px;
			> .member__row {
				display: block;
				.member__right {
					margin-top: 30px;
				}
				.member__title {
					font-size: 18px;
					letter-spacing: -0.012em;
				}
				.check__inner {
					.ec-base-chk {
						padding-right: 8px;
						input {
							width: 22px;
							height: 22px;
						}
						.checkbox {
							width: 22px;
						}
					}
				}
			}
		}
		.member__card--result {
			padding: 20px 25px;
			.member__noti {
				.member__text {
					font-size: 12px;
					letter-spacing: -0.012em;
				}
				.member__ico {
					width: 12px;
					height: 12px;
					margin-right: 4px;
					// @include mixins.sprite(mo_icons.$ico-info);
				}
			}
			.member__id {
				margin-top: 41px;
				.member__text {
					font-size: 26px;
				}
			}
			.member__info {
				margin-top: 41px;
				.member__row {
					word-break: break-all;
					&:not(:first-child) {
						margin-left: 12vw;
					}
					&:nth-child(1) {
						flex: 1 1 0%;
					}
					&:nth-child(2) {
						flex: .2 0 0%;
					}
				}
				.member__large {
					font-size: 16px;

				}
				dt {
					margin-bottom: 10px;
					font-size: 11px;
				}
				dd {
					font-size: 12px;
					letter-spacing: -0.012em;
					&:not(:first-of-type) {
						margin-top: 10px;
					}
				}
			}
			.member__temporary {
				font-size: 14px;
				line-height: 18px;
				letter-spacing: -0.012em;
			}
		}
		.member__card--board {
			padding: 35px 20px 34px;
		}

		.login {
			// padding-top: 50px;
			margin-top: 0;
			// margin-bottom: -124px;
			margin-bottom: 0;
			// height: calc(var(--vh, 1vh) * 100 - 80px);
			height: calc(var(--vh, 1vh) * 100);
			.login__container {
				flex-direction: column-reverse;
				position: relative;
				// padding-bottom: 65px;
				height: 100%;
				.login__left {
					position: absolute;
					left: -4vw;
					right: -4vw;
					bottom: 0;
					z-index: 5;
					flex-basis: initial;
					// margin: 15px -4vw 0;
				}
				.login__right {
					overflow-y: auto;
					flex-basis: initial;
					margin-left: 0;
					// padding-top: 0;
					padding-top: 80px;
					padding-bottom: 65px;
					padding-right: 0;
				}
			}
			.login__visual {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50px;
				border-top: 1px solid #000;
				border-radius: 0;
				background: url('/assets/images/m_bg_login_visual.jpg') no-repeat center center;
				background-size: cover;
				.login__text {
					display: block;
					color: #74fbd3;
					font-family: 'LibreCaslonText';
					font-size: 18px;
					span {
						margin-left: 3px;
						font-size: 12px;
						line-height: 8.675px;
						vertical-align: super;
					}
				}
			}
			.login__normal {
				margin-bottom: 81px;
				.login__title {
					margin-bottom: 18.5px;
					font-size: 20px;
					letter-spacing: 0;
				}
				.login__security {
					margin-bottom: 9px;
					.login__text {
						// gap: 6.5px;
						gap: 1.5px;
						font-weight: 400;
						letter-spacing: -0.012em;
					}
					.login__ico {
						// @include mixins.sprite(mo_icons.$ico-login-security);
						width: 16px;
						height: 17px;
						background-size: 100% 100%;
					}
				}
				.login__form {
					.login__row {
						&:not(:first-child) {
							margin-top: 2px;
						}
					}
				}
				.login__save {
					margin-top: 12px;
					padding-left: 5px;
				}
				.login__button {
					margin-top: 33.5px;
					.login__login {
						width: 190px;
						height: 60px;
						font-size: 36px;
						letter-spacing: 0;
					}
				}
				.login__util {
					// display: block;
					flex-wrap: wrap;
					column-gap: 10px;
					row-gap: 16.5px;
					width: 80%;
					margin: 20px auto 0;
					text-align: center;
					.login__menu {
						letter-spacing: -0.012em;
						&:not(:first-child) {
							padding-left: 10.5px;
							&:before {
								height: 11px;
								margin-top: -5.5px;
							}
						}
						// &:nth-child(4),
						// &:nth-child(5) {
						// 	padding-left: 0;
						// 	&:before {
						// 		display: none;
						// 	}
						// }
						&:nth-child(4) {
							padding-left: 0;
							padding-right: 10.5px;
							&:before {
								left: auto;
								right: 0;
							}
						}
						&:nth-child(5) {
							padding-left: 0;
							&:before {
								display: none;
							}
						}
						// &:nth-child(4) {
						// 	padding-right: 10.5px;
						// 	&:after {
						// 		content: '';
						// 		display: block;
						// 		position: absolute;
						// 		left: 0;
						// 		top: 50%;
						// 		width: 1px;
						// 		height: 14px;
						// 		margin-top: -7px;
						// 		background-color: #dfdfdf;
						// 	}
						// }
						&:nth-child(5) {

						}
					}
					#noMemberWrap {
						margin-top: 15px;
						&:before {
							display: none;
						}
					}
				}
			}
			.login__sns {
				.login__title {
					letter-spacing: -0.012em;
				}
				.login__list {
					gap: 25.5px;
					margin-top: 14px;
					.login__link {
						width: 36px;
						height: 36px;
						background-size: 100% 100%;
					}
					// .login__link--naver {
					// 	@include mixins.sprite(mo_icons.$ico-login-naver);
					// }
					// .login__link--facebook {
					// 	@include mixins.sprite(mo_icons.$ico-login-facebook);
					// }
					// .login__link--kakao {
					// 	@include mixins.sprite(mo_icons.$ico-login-kakao);
					// }
				}
			}
		}

		.board {
			.board__row {
				letter-spacing: -0.012em;
				&:not(:first-child) {
					margin-top: 35px;
					padding-top: 30px;
				}
				.board__left {
					width: 80px;
					.board__text {
						font-size: 12px;
					}
				}
				.board__right {
					word-break: break-all;
					.board__text {
						font-size: 18px;
						@include mixins.PtdMedium();
					}
				}
			}
		}

		.terms {
			&:not(:first-child) {
				margin-top: 35px;
			}
			.terms__item {
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
			.terms__mask {
				height: 180px;
				margin-top: 8px;
				padding: 20px 14px;
				border: 0;
				border-radius: 24px;
				background-color: #f4f4f7;
				font-size: 12px;
				line-height: 20px;
				letter-spacing: 0;
			}
			.terms__agree {
				.terms__row {
					display: flex;
					&:not(:first-child) {
						margin-top: 14px;
					}
					.terms__left {
						width: 183px;
					}
				}	
			}
		}

		.coupon {
			padding: 20px 30px 10px;
			.coupon__text {
				font-size: 12px;
				letter-spacing: -0.005em;
			}
			.coupon__name {
				font-size: 29px;
			}
			.coupon__number {
				margin-left: 3px;
				font-size: 60px;
				.coupon__unit {
					font-size: 24px;
					letter-spacing: -0.025em;
				}
			}
		}
	}
	.ec-base-chk {
		vertical-align: middle;
	}

	.xans-myshop-orderhistorynologin {
		padding-top: 20px;
		padding-bottom: 40px;
		border-top: 1px solid #000000;

		ul {
			li {
				padding-bottom: 10px;
				strong {
					display: block;
					padding-bottom: 10px;
					padding-left: 5px;
				}
			}
		}
		.nologin_info {
			padding-top: 5px;
			color: #999999;
		}

		input[type=text], input[type=password] {
			height: 58px;
			line-height: inherit;
		}
		.button {
			position: relative;
			display: inline-block;
			width: 100%;
			margin: 0 auto 0;
			padding-top: 30px;
			input[type=image] {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 280px;
				height: 80px;
				margin: 0 auto;
				border: 1px solid #000;
				border-radius: 100vw;
			}
			span {
				position: absolute;
				left: 50%;
				@include mixins.translate(-50%, 0);
				margin-top: 18px;
				font-weight: 500;
				font-size: 42px;
				letter-spacing: -0.01em;
				@include mixins.ATm();
				color:#000000;
			}
		}
    @include breakpoints.mobile() {
			.button {
				span {
					font-size: 28px;
					letter-spacing: 0;
				}
				input[type=image] {
					width: 210px;
					height: 60px;
				}
			}
		}
	}
}

.container {
	padding: 0;
	transform: none;
}