@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

// member
.member {
	.member__container {
		max-width: 1424px;
		margin: 0 auto;
		padding: 0 1.67vw;
	}
	.member__header {
		margin-bottom: 50px;
		.member__title {
			text-align: center;
			.member__text {
				font-weight: 500;
				font-size: 32px;
				letter-spacing: -0.025em;
			}
		}
		.member__desc {
			margin-top: 30px;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: -0.025em;
			text-align: center;
		}
	}
	.member__body {
		max-width: 500px;
		margin: 0 auto;
	}
	.member__card {
		padding: 35px 32px;
		border: 1px solid #000;
		border-radius: 42px;
		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	.login {
		.login__container {
			display: flex;
			.login__left,
			.login__right {
				flex: 1;
			}
			.login__left {
				flex-basis: 670px;
			}
			.login__right {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				margin-left: 7.03vw;
				flex-basis: 554px;
			}
		}
		.login__visual {
			position: relative;
			height: 44.06vw;
			max-height: 846px;
			border-radius: 30px;
			background: url('../images/bg_login_visual.png') no-repeat 50% 50%;
			.login__text {
				display: none;
			}
		}
		.login__normal {
			margin: auto 0 30px;
			.login__title {
				margin-bottom: 27px;
				font-weight: 500;
				font-size: 32px;
				letter-spacing: -0.01em;
				text-align: center;
			}
			.login__security {
				margin-bottom: 16px;
				text-align: right;
				.login__text {
					display: inline-flex;
					gap: 8px;
					align-items: center;
					font-weight: 500;
					font-size: 12px;
					letter-spacing: -0.025em;
				}
				.login__ico {
					@include icons.retina-sprite(icons.$ico-login-security-group);
				}
			}
			.login__form {
				.login__row {
					&:not(:first-child) {
						margin-top: 4px;
					}
				}
			}
			.login__save {
				margin-top: 16px;
				padding-left: 12px;
			}
			.login__button {
				display: flex;
				justify-content: center;
				margin-top: 30px;
				.login__login {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 280px;
					height: 80px;
					border: 1px solid #000;
					border-radius: 100vw;
					font-weight: 500;
					font-size: 42px;
					letter-spacing: -0.01em;
				}
			}
			.login__util {
				display: flex;
				justify-content: center;
				gap: 16px;
				margin-top: 25px;
				.login__menu {
					letter-spacing: -0.025em;
					&:not(:first-child) {
						position: relative;
						padding-left: 17px;
						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							width: 1px;
							height: 14px;
							margin-top: -7px;
							background-color: #dfdfdf;
						}
					}
				}
			}
		}
		.login__sns {
			margin-top: auto;
			.login__title {
				font-size: 12px;
				letter-spacing: -0.025em;
				text-align: center;
				@include mixins.PtdMedium();
			}
			.login__list {
				display: flex;
				justify-content: center;
				gap: 30px;
				margin-top: 20px;
				.login__link {
					display: block;
				}
				.login__link--naver {
					@include icons.retina-sprite(icons.$ico-login-naver-group);
				}
				.login__link--facebook {
					@include icons.retina-sprite(icons.$ico-login-facebook-group);
				}
				.login__link--kakao {
					@include icons.retina-sprite(icons.$ico-login-kakao-group);
				}
			}
		}
	}

	.form {
		.form__row {
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
		.form__label {
			display: flex;
			padding: 0 9px;
			.form__text {
				letter-spacing: -0.025em;
				@include mixins.PtdMedium();
			}
		}
		.form__group {
			padding: 0 9px;
			margin-top: 12px;
		}
		.form__group--full {
			padding: 0;
		}

		.select {
			width: 100%;
		}
	}

	@include breakpoints.mobile() {
		.member__container {
			padding: 28.5px 4vw;
		}

		.login {
			padding-top: 60px;
			.login__container {
				flex-direction: column-reverse;
				.login__left {
					flex-basis: initial;
					margin: 15px -4vw 0;
				}
				.login__right {
					flex-basis: initial;
					margin-left: 0;
				}
			}
			.login__visual {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50px;
				border-top: 1px solid #000;
				border-radius: 0;
				background: url('../images/m_bg_login_visual.png') no-repeat 0 -36.13vw;
				background-size: 101.6vw auto;
				.login__text {
					display: block;
					color: #74fbd3;
					font-family: 'LibreCaslonText';
					font-size: 18px;
					span {
						margin-left: 3px;
						font-size: 12px;
						line-height: 8.675px;
						vertical-align: super;
					}
				}
			}
			.login__normal {
				margin-bottom: 81px;
				.login__title {
					margin-bottom: 18.5px;
					font-size: 20px;
					letter-spacing: 0;
				}
				.login__security {
					margin-bottom: 9px;
					.login__text {
						gap: 6.5px;
						font-weight: 400;
						letter-spacing: -0.012em;
					}
					.login__ico {
						@include mixins.sprite(mo_icons.$ico-login-security);
					}
				}
				.login__form {
					.login__row {
						&:not(:first-child) {
							margin-top: 2px;
						}
					}
				}
				.login__save {
					margin-top: 12px;
					padding-left: 5px;
				}
				.login__button {
					margin-top: 33.5px;
					.login__login {
						width: 190px;
						height: 60px;
						font-size: 36px;
						letter-spacing: 0;
					}
				}
				.login__util {
					gap: 10px;
					margin-top: 11.5px;
					.login__menu {
						letter-spacing: -0.012em;
						&:not(:first-child) {
							padding-left: 10.5px;
							&:before {
								height: 11px;
								margin-top: -5.5px;
							}
						}
					}
				}
			}
			.login__sns {
				.login__title {
					letter-spacing: -0.012em;
				}
				.login__list {
					gap: 25.5px;
					margin-top: 14px;
					.login__link--naver {
						@include mixins.sprite(mo_icons.$ico-login-naver);
					}
					.login__link--facebook {
						@include mixins.sprite(mo_icons.$ico-login-facebook);
					}
					.login__link--kakao {
						@include mixins.sprite(mo_icons.$ico-login-kakao);
					}
				}
			}
		}
	}
}