@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

// myshop

.myshop {
	padding: 0 3.37vw;
	.div_margin {
		margin: 10px 0 20px;
	}

  .small_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin:0 10px 0 0;
    padding-right: 10px;
    padding-left: 10px;
    height: 32px;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 25px;
    &.btn_delete {
      width: 70px;
    }
    &.btn_gobank {
      display: inline-flex;
    }
    &.btn_zipcode {
      display: inline-flex;
      width: 75px;
    }
  }
	.myshop__container {
		max-width: 1280px;
		margin: 0 auto;
	}
	.xans-myshop-orderhistorydetail {
		position: relative;
	}
	.myshop__container--main {
		max-width: none;
		padding: 0 0.21vw;
		.myshop__article {
			&:not(:first-child) {
				margin-top: 4px;
			}
			.myshop__row {
				gap: 4px;
			}
			.myshop__row--col2 {
				grid-template-columns: repeat(auto-fit, minmax(calc(50% - 4px), auto));
			}
			.myshop__row--col4 {
				grid-template-columns: repeat(auto-fit, minmax(calc(25% - 4px), auto));
				.myshop__roundbox {
					height: 280px;
					.myshop__inner {
						flex-direction: column-reverse;
					}
					.myshop__header {
						margin-top: 13px;
						margin-bottom: 0;
					}
					.myshop__ico {
						display: flex;
						margin-bottom: auto;
					}
					.myshop__ico--order {
						i {
							@include icons.retina-sprite(icons.$ico-myshop-order-group);
						}
					}
					.myshop__ico--profile {
						i {
							@include icons.retina-sprite(icons.$ico-myshop-profile-group);
						}
					}
					.myshop__ico--cart {
						i {
							@include icons.retina-sprite(icons.$ico-myshop-cart-group);
						}
					}
					.myshop__ico--mileage {
						i {
							@include icons.retina-sprite(icons.$ico-myshop-mileage-group);
						}
					}
					.myshop__ico--coupon {
						i {
							@include icons.retina-sprite(icons.$ico-myshop-coupon-group);
						}
					}
					.myshop__ico--board {
						i {
							@include icons.retina-sprite(icons.$ico-myshop-board-group);
						}
					}
					.myshop__ico--address {
						i {
							@include icons.retina-sprite(icons.$ico-myshop-address-group);
						}
					}
					.myshop__ico--review {
						i {
							@include icons.retina-sprite(icons.$ico-myshop-review-group);
						}
					}
				}
			}
		}
		.myshop__roundbox {
			position: relative;
			padding: 40px;
			border: 0;
			background-color: #ececec;
			.myshop__inner {
				display: flex;
				flex-direction: column;
				position: relative;
				height: 100%;
			}
			.myshop__header {
				margin-bottom: auto;
				.myshop__title {
					font-weight: 600;
					font-size: 18px;
				}
			}
		}
		.myshop__roundbox--user {
			padding: 40px 30px;
			border: 0;
			background: url('/assets/images/bg_mypage_pattern.png') repeat 0 -30px #31cdd6;
			.myshop__header {
				margin-bottom: 20px;
			}
			.myshop__my {
				letter-spacing: 0;
				font-weight: 700;
				font-size: 32px;
			}
			.myshop__info {
				margin-top: 0;
			}
			.myshop__tear {
				font-size: 130px;
				.myshop_benefit_ship_free_message {
					display: block;
					margin-top: 20px;
					padding-left: 10px;
					font-size: 18px;
					font-weight: 500;
				}
			}
		}
		.myshop__roundbox--split {
			height: 358px;
		}
		.myshop__roundbox--pink {
			background-color: #ffb5d1;
			.myshop__detail {
				.myshop__bottom {
					border-top-color: #d4968e;
				}		
			}
		}
		.myshop__roundbox--green {
			background-color: #b3f977;
			.myshop__detail {
				.myshop__bottom {
					border-top-color: #a5d07c;
				}		
			}
		}
		.myshop__detail {
			.myshop__list {
				display: flex;
				justify-content: space-around;
				letter-spacing: -0.025em;
				text-align: center;
				@include mixins.PtdMedium();
				.myshop__item {
					position: relative;
					padding-bottom: 60px;
				}

				dt {
					margin-bottom: 16px;
					font-size: 18px;
				}

				.button {
					margin: 12px 0 -30px;
					.button__item {
						border: 0;
						background-color: #fff;
					}
				}
			}
			.myshop__bottom {
				padding: 40px 20px 0;
				border-top-width: 2px;
				border-top-style: solid;
			}
			.myshop__sum {
				display: flex;
				align-items: baseline;
				justify-content: space-between;
				.myshop__text {
					font-size: 22px;
					@include mixins.PtdMedium();
				}
			}
			.myshop__cs-list {
				display: flex;
				justify-content: center;
				gap: 32px;
				letter-spacing: -0.025em;
				@include mixins.PtdMedium();
			}
			.myshop__cs-item {
				display: flex;
			}
			.myshop__cs-link {
				margin-left: 9px;
			}
		}
		.myshop__label {
			display: flex;
			flex-direction: row-reverse;
			justify-content: center;
			align-items: baseline;
			gap: 4px;
			@include mixins.PtdMedium();
		}
		.myshop__label--reverse {
			flex-direction: row;
		}
		.myshop__unit {
			font-size: 18px;
		}
		.myshop__current {
			font-size: 36px;
		}

		@include breakpoints.mobile() {
			.myshop__article {
				.myshop__row {
					display: block;
				}
				.myshop__row--col4 {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(calc(50% - 4px), auto));
					.myshop__roundbox {
						height: 34vw;
						padding: 20px;
						margin-bottom: 0;
						.myshop__header {
							margin-top: 6px;
							font-size: 10px;
							.myshop__title {
								@include mixins.ATm();
							}
						}
						.myshop__desc {
							font-size: 9px;
						}
						.myshop__ico--order {
							i {
								@include mixins.sprite(mo_icons.$ico-myshop-order);
							}
						}
						.myshop__ico--profile {
							i {
								@include mixins.sprite(mo_icons.$ico-myshop-profile);
							}
						}
						.myshop__ico--cart {
							i {
								@include mixins.sprite(mo_icons.$ico-myshop-cart);
							}
						}
						.myshop__ico--mileage {
							i {
								@include mixins.sprite(mo_icons.$ico-myshop-mileage);
							}
						}
						.myshop__ico--coupon {
							i {
								@include mixins.sprite(mo_icons.$ico-myshop-coupon);
							}
						}
						.myshop__ico--board {
							i {
								@include mixins.sprite(mo_icons.$ico-myshop-board);
							}
						}
						.myshop__ico--address {
							i {
								@include mixins.sprite(mo_icons.$ico-myshop-address);
							}
						}
						.myshop__ico--review {
							i {
								@include mixins.sprite(mo_icons.$ico-myshop-review);
							}
						}
					}
				}
			}

			.myshop__current {
				font-size: 13px;
			}
			.myshop__unit {
				font-size: 13px;
			}
			.myshop__roundbox {
				margin-bottom: 3px;
				.myshop__header {
					margin-bottom: 27.5px;
					.myshop__title {
						font-size: 14px;
					}
				}
				.myshop__detail {
					.myshop__list {
						display: block;
						.myshop__item  {
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding-bottom: 15px;
						}
						dt {
							margin-bottom: 0;
							font-size: 13px;
						}
						dd {
							display: flex;
							align-items: center;
							.myshop__label {order:2}
							.button {order:1;margin-right: 6px;}
						}
						.button {
							margin: 0;
						}
					}
					.myshop__bottom {
						padding: 0;
						padding-top: 15px;
						border: 0;
					}
					.myshop__sum {
						.myshop__text {
							font-size: 13px;
						}
						.myshop__current {
							font-size: 18px;
							font-weight: 500;
						}
					}
				}
			}
			.myshop__roundbox--user {
				height: 66.67vw;
				padding: 20px;
				.myshop__my {
					font-size: 18px;
					line-height: 1.2;
				}
				.myshop__name {
					&:after {
						content: '';
						display: block;
					}
				}
				.myshop__tear {
					font-size: 42px;
					.myshop_benefit_ship_free_message {
						margin-top: 9px;
						padding-left: 3px;
						font-size: 13px;
					}
				}
			}
			.myshop__roundbox--split {
				height: 60.67vw;
				padding: 20px;
			}
			.myshop__roundbox--pink {
				height: 66.67vw;
			}
			
		}
	}
	.myshop__header {
		margin-bottom: 30px;
		.myshop__title {
			font-size: 32px;
			letter-spacing: -0.025em;
			@include mixins.PtdMedium();
		}
	}
	.myshop__row {
		display: flex;
		gap: 10px;
		position: relative;
		> div{
			flex: 1;
		}
		.myshop__aside {
			flex: 0 0 auto;
			.myshop__roundbox {
				width: 360px;
			}
			.myshop__roundbox--user {
				width: 469px;
			}
		}
		.myshop__short {
			max-width: 910px;
			margin-right: 370px;
		}
	}
	.myshop__article {
		&:not(:first-child) {
			margin-top: 10px;
		}
		&:not(:last-child) {

			> .button {
				margin-bottom: 50px;
			}
		}
		.myshop__row {
			display: grid;
		}
		.myshop__row--col2 {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), auto));
		}

		> .button {
			margin-top: 10px;
			padding: 0 30px;
			.button__container {
				.button__item--end {
					margin-right: auto;
				}
			}
		}

		#reason_select {
			height: 58px;
		}

		@include breakpoints.mobile() {
			> .button {
				padding: 0;
			}
		}
	}
	.myshop__roundbox {
		padding: 35px 28px;
		border: 1px solid #000;
		border-radius: 42px;
		.myshop__header {
			display: flex;
			align-items: baseline;
			margin-bottom: 24px;
			.myshop__title {
				font-size: 24px;
			}
			.myshop__sub {
				margin-left: 11px;
				letter-spacing: -0.025em;
				@include mixins.PtdMedium();
			}
		}
		.myshop__desc {
			letter-spacing: -0.025em;
		}

		input[type=radio], input[type=checkbox] {
			border: 1px solid #000000;
		}
	}
	.myshop__roundbox--user {
		padding: 40px 30px 30px;
		.myshop__my {
			margin-bottom: auto;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.025em;
			@include mixins.PtdMedium();
		}
		.myshop__info {
			margin-top: 54px;
		}
		.myshop__tear {
			font-weight: 500;
			font-size: 42px;
			text-transform: uppercase;
		}
		.myshop__benefit {
			margin-top: 12px;
			letter-spacing: -0.025em;
			@include mixins.PtdRegular();
		}
		
		.button {
			&:not(:first-child) {
				margin-top: 13px;
			}
		}
	}
	.myshop__roundbox--mileage {
		.myshop__header {
			align-items: center;
			margin-bottom: 60px;
			.myshop__ico {
				margin-left: 8px;
				@include icons.retina-sprite(icons.$ico-myshop-mileage-group);
			}
		}

		.board {
			.board__board {
				.board__tr {
					min-height: 0;
					padding: 0;
					&:first-child {
						margin-bottom: 34px;
						.board__right {
							font-weight: 600;
							font-size: 32px;
						}
					}
				}
				.board__right {
					font-size: 14px;
				}
			}
		}
	}
	.myshop__roundbox--fill {
		grid-row: 1 / 3;
	}
	.myshop__roundbox--split {
		grid-column: 2 / 2;
	}

	.tab {
		margin-bottom: 30px;
		.tab__list {
			display: flex;
		}
		.tab__item {
			&:not(:first-child) {
				margin-left: 23px;
			}
			&.selected {
				.tab__link {
					font-weight: 500;
					color: #000;
				}
			}
		}
		.tab__link {
			color: #999;
			font-size: 24px;
			letter-spacing: -0.025em;
			@include mixins.PtdRegular();
		}
	}
	.pickuplist_article {
		input[type=text] {
			height: 58px;
		}
		.form__field {
			margin-bottom: 20px;
			label {
				margin-right: 15px;
			}
		}
		.pickup_direct {
			margin-bottom: 5px;
			align-items: center;
			input[type=text] {
				width: 20%;
				margin-right: 5px;
			}
		}
	}
	.pickup_detail {
		.form {
			.form__col {
				vertical-align: middle;
			}
			br {display: none;}
		}
		.select {
			label {
				margin-right: 15px;
			}
		}
		select, input[type=text] {
			height: 58px;
		}
		.pickup_address {
			a {
				&:after {
					content: '';
					display: block;
					clear:both;
				}
			}
			.zipcode_button {
				position: relative;
				margin-left: 10px;
				span {
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					left:0;
					top: 0;
					width: 100%;
					height: 100%;
					color:#000000;
				}
			}
		}
	}
	.refund_info {
	}
	.button {
		margin-top: 15px;
	}

	.filter {
		margin-bottom: 20px;
		.filter__row {
			display: flex;
			justify-content: space-between;
			.filter__left {
				display: flex;
				align-items: center;
				gap: 4px;
			}
		}
		.filter__unit {
			font-size: 18px;
			letter-spacing: -0.025em;
			@include mixins.PtdMedium();
		}
		.filter__search {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 45px;
			min-width: 76px;
			padding: 0 15px;
			border: 1px solid #000;
			border-radius: 100vw;
			font-size: 16px;
			letter-spacing: -0.025em;
			text-align: center;
			@include mixins.PtdRegular();
		}

		.select {
			select {
				height: 45px;
				border-color: #000;
				background-color: #fff;
			}
		}

		.calendar {
			.calendar__input {
				height: 100%;
				padding: 0;
				border: 0;
				background-color: #fff;
				color: #000;
			}
		}

		.review_sort--head {
			height: 45px;
		}
	}

	.calendar {
		.calendar__form {
			display: inline-flex;
			align-items: center;
			position: relative;
			width: 158px;
			height: 45px;
			padding-left: 17px;
			border: 1px solid #000;
			background-color: #fff;
			border-radius: 100vw;
			.calendar__ico {
				position: absolute;
				right: 16px;
				top: 50%;
				margin-top: -10px;
			}
		}
		.hasDatepicker {
			width: 77%;
			border: 0;
			background-color:transparent;
			font-size: 17px;
			color: #000;
		}
		// .calendar__input {
		// 	width: 158px;
		// 	padding-left: 17px;
		// 	border-color: #000;
		// 	color: #000;
		// 	background-color: #fff;
		// 	font-size: 17px;
		// }
		.calendar__ico {
			@include icons.retina-sprite(icons.$ico-calendar-group);
		}
		.ui-datepicker-trigger {
			@include icons.retina-sprite(icons.$ico-calendar-group);
			img {
				visibility: hidden;
			}
		}
	}

	.product {
		.product__thead {
			margin-bottom: 60px;
			.product__tr {
				align-items: flex-start;
				position: relative;
				min-height: 24px;
				padding-left: 183px;
			}
			.product__td {
				flex: 1;
				text-align: center;
				&:nth-child(1) {
					position: absolute;
					left: 0;
					top: 0;
					width: 183px;
					text-align: left;
				}
				&:nth-child(2) {
					// flex: 1;
					text-align: left;
				}
				// &:nth-child(3) {
				// 	width: 30%;
				// }
				// &:nth-child(4) {
				// 	width: 8%;
				// }
				// &:nth-child(5) {
				// 	width: 15%;
				// }
				// &:nth-child(6) {
				// 	width: 15%;
				// }
				// &:nth-child(7) {
				// 	width: 15%;
				// }
			}
		}
		.xans-myshop-orderhistorylistitem {
			.product__tbody {
				display: flex;
				align-items: center;

				@include breakpoints.mobile() {
					.product__col {
						&:not(:nth-child(1)):not(:nth-child(2)) {
							display: none;
						}
						&:nth-child(2) {
							width: 100%;
							margin-top: 20px;
						}
					}
				}	
			}

		}
		.product__tbody {
			.product__tr {
				&:not(:first-child) {
					margin-top: 30px;
				}
			}
			.product__td {
				flex: 1;
			}
			.product__td--img {
				display: flex;
				align-items: flex-start;
				flex: 0 0 183px;
				padding-right: 15px;
			}
			.product__row {
				display: flex;
				.product__col {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					flex: 1;
					font-size: 18px;
					letter-spacing: -0.025em;
					text-align: center;
					@include mixins.PtdRegular();
					&:nth-child(1) {
						// flex: 1;
						text-align: left;
					}
					// &:nth-child(2) {
					// 	width: 30%;
					// }
					// &:nth-child(3) {
					// 	width: 8%;
					// }
					// &:nth-child(4) {
					// 	width: 15%;
					// }
					// &:nth-child(5) {
					// 	width: 15%;
					// }
					// &:nth-child(6) {
					// 	width: 15%;
					// }
				}
				.product__col--desktop-hidden {
					display: none;
				}
			}
			.product__group {
				.product__left {
					display: none;
				}
				&:not(:first-child) {
					margin-top: 10px;
				}
			}

			.button {
				&:not(:first-child) {
					margin-top: 16px;
				}
				.button__container {
					.button__item {
						&:not(:first-child) {
							margin-left: 4px;
						}
					}
				}
			}
		}
		.product__tfoot {
			margin-top: 30px;
			padding-top: 27px;
			border-top: 1px solid #000;
			.product__tr {
				justify-content: flex-end;
			}
		}
		.product__tr {
			display: flex;
			align-items: center;
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
		.product__name {
			height: 40px;
			font-size: 18px;
			line-height: 20px;
			letter-spacing: -0.025em;
			@include mixins.ellipse(4);
			@include mixins.PtdRegular();
		}
		.product_order-info {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.3;
			a {
				font-weight: 500;
			}
		}
		.product__info {
			margin-top: 40px;
			.product__size {
				font-size: 14px;
				@include mixins.PtdRegular();
				span {
					display: none;
				}
			}
			.product__count {
				display: none;
			}
			.product__price {
				display: none;
			}
		}
		.product__order {
			text-decoration: underline;
		}
		.product__total {
			font-size: 24px;
			letter-spacing: -0.025em;
			@include mixins.PtdSemiBold();
			.product__text {
				font-size: 14px;
				@include mixins.PtdMedium();
			}
		}
		.product__count {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 30px;
			.product__control {
				position: relative;
				width: 16px;
				height: 16px;
			}
			.product__control--up {
				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					background-color: #000;
				}
				&:before {
					left: 50%;
					top: 0;
					width: 2px;
					height: 100%;
					margin-left: -1px;
				}
				&:after {
					left: 0;
					top: 50%;
					width: 100%;
					height: 2px;
					margin-top: -1px;
				}
			}
			.product__control--down {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					width: 100%;
					height: 2px;
					margin-top: -1px;
					background-color: #000;
				}
			}
		}

		.myshop__header {
			display: none;
		}
	}

	.board {
		.board__row {
			display: flex;
			.board__board {
				flex: 1;
			}
		}
		.board__board {
			letter-spacing: -0.025em;
			&:first-child {
				.board__tr {
					&:first-child {
						padding-top: 0;
					}
				} 
			}
			&:last-child {
				.board__tr {
					&:last-child {
						padding-bottom: 0;
					}
				} 
			}
			.board__tr {
				display: flex;
				align-items: baseline;
				justify-content: space-between;
				min-height: 30px;
				padding: 5px 0;
				.board__left {
					width: 131px;
					padding-right: 15px;
				}
				.board__right {
					flex: 1;

					@include breakpoints.mobile() {
						font-size: 14px;
					}
				}
			}
			.board__left {
				text-align: left;
				vertical-align: baseline;
				@include mixins.PtdMedium();
			}
			.board__right {
				font-size: 18px;
				line-height: 24px;
				text-align: right;
				@include mixins.PtdRegular();
			}
		}
		.board__board--left {
			.board__right {
				padding-right: 15px;
				text-align: left;
			}
		}
		.board__tfoot {
			text-align: right;
			margin-top: 30px;
			padding-top: 32px;
			border-top: 1px solid #000;
		}
		.board__total {
			font-size: 24px;
			letter-spacing: -0.025em;
			@include mixins.PtdSemiBold();
			.board__text {
				margin-right: 57px;
				font-size: 14px;
				@include mixins.PtdMedium();
			}
		}

		.reverse {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 10px;
			.reverse__item {
				.button {
					margin-top: 0;
				}
			}
		}

		.payment {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;
			font-size: 14px;
			line-height: 20px;
			.payment__type {
				font-size: 18px;
			}
			.payment__detail {
				width: 100%;
			}
			.payment__seller {
				display: block;
			}
		}
	}

	.table-detail {
		letter-spacing: -0.025em;
		&:not(:first-child) {
			margin-top: 40px;
		}
		@include mixins.PtdRegular();
		.table-detail__thead {
			margin-bottom: 40px;
		}
		.table-detail__tfoot {
			margin-top: 40px;
			padding-top: 30px;
			border-top: 1px solid #000;
		}
		.table-detail__tr {
			display: flex;
			&:not(:first-child) {
				margin-top: 40px;
			}
		}
		.table-detail__tr--right {
			justify-content: flex-end;
		}
		.table-detail__th {
			padding-right: 15px;
			font-weight: 500;
			text-align: center;
		}
		.table-detail__td {
			padding-right: 15px;
			font-size: 18px;
			text-align: center;
		}
		.table-detail__left {
			text-align: left;
		}
		.table-detail__20 {
			width: 20%;
		}
		.table-detail__flex {
			flex: 1;
		}
		.table-detail__total {
			display: flex;
			align-items: baseline;
			font-weight: 500;
			font-size: 24px;
			.table-detail__unit {
				margin-right: 10px;
				font-weight: 600;
				font-size: 14px;
			}
		}
	}

	.review__sort {
		position: relative;
		&.isOpen {
			.review_sort--head {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
			.review__sorting {
				display: block;
			}
		}
	}
	.review_sort--head {
		position: relative;
		width: 120px;
		padding: 0 10px 0 20px;
		border-radius: 15px;
		border: 1px solid #000000;
		font-size: 18px;
		text-align: left;
		@include mixins.PtdRegular();
		.arrow {
			position: absolute;
			right: 12px; 
			top: 50%; 
			@include mixins.translate(0, -50%);
			width: 12px;
			height: 14px;
			&::after {
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				border-top: 1px solid #000;
				border-right: 1px solid #000;
				transform: rotate(135deg);
			}
		}
		@include breakpoints.mobile() {
			width: 100px;
			padding-top: 13px;
			padding-bottom: 13px;
			border-radius: 25px;
			font-size: 11px;
		}
	
	}
	.review__sorting {
		display: none;
		position: absolute;
		top: 42px;
		width: 100%;
		padding: 0 10px 12px 20px;
		border-radius: 15px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border: 1px solid #000000;
		border-top: 0;
		background-color: #ffffff;
		z-index: 1;
		li {
			display: block;
			text-align: left;
		}
		.sort__select {
			display: block;
			padding: 15px 0;
			font-size: 18px;
			@include mixins.PtdRegular();
		}
		.selected {
			display: none;
		}
	}

	.review_paging {
		display: flex;
		flex: 1;
		height: 43px;
		margin-top: 20px;
		align-items: center;
		justify-content: center;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
		.btn__prev, .btn__next {
			display: inline-block;
			width: 43px;
			height: 43px;
			vertical-align: middle;
		}
		.paging_number {
			width:70px;
			height: 100%;
			margin: 0 6px;
			border: 1px solid #000000;
			border-radius: 14px;
			align-items: center;
			vertical-align: middle;
			text-align: center;
			p {
				line-height: 40px;
			}
			p, span {
				display: inline-block;
				font-size: 16px;
				letter-spacing: -0.025em;
				@include mixins.PtdMedium();
			}
		}
		@include breakpoints.mobile() {
			margin-top: 10px;
			height: 36px;
			justify-content: center;
			.btn__prev, .btn__next { 
				width: 36px;
				height: 36px;
			}
			.paging_number {
				p, span {
					font-size: 14px;
					line-height: 34px;
				}
			}
		}
	}

	input[type='radio'] {
		width: 15px;
		height: 15px;
		&:before,
		&:after {
			display: none;
		}
		& + label {
			font-size: inherit;
		}
	}

	@include breakpoints.mobile() {
		.myshop__header {
			margin-bottom: 15px;
			.myshop__title {
				font-size: 20px;
				letter-spacing: -0.012em;
			}
		}
		.myshop__row {
			flex-direction: column-reverse;
			.myshop__aside {
				width: 100%;
			}
		}
		.myshop__article {
			&:not(:first-child) {
				margin-top: 6px;
			}
			&:not(:last-child) {
				
				> .button {
					margin-bottom: 20px;
				}
			}
			.myshop__row {
				gap: 6px;
			}
			.myshop__row--col2 {
				grid-template-columns: 100%;
			}
	
			> .button {
				padding: 0;
				.button__container--left {
					flex-wrap: wrap;
					gap: 4px;
					.button__item {
						margin: 0;
						&:last-child {
							margin-left: auto;
						}
					}
					.button__item--end {
						order: 5;
					}
				}
			}
		}
		.myshop__roundbox {
			padding: 30px 15px;
			border-radius: 34px;
			.myshop__header {
				.myshop__title {
					font-weight: 400;
					font-size: 18px;
				}
			}
		}
		.myshop__roundbox--user {
			padding: 30px 20px 20px;
			.myshop__my {
				font-size: 16px;
				line-height: 20px;
				letter-spacing: -0.012em;
			}
			.myshop__info {
				margin-top: 23px;
			}
			.myshop__tear {
				font-size: 32px;
			}
			.myshop__benefit {
				margin-top: 14.5px;
				font-size: 12px;
				letter-spacing: -0.012em;
			}
			
			.button {
				&:not(:first-child) {
					margin-top: 15px;
				}
			}
		}
		.myshop__roundbox--mileage {
			.myshop__header {
				margin-bottom: 33px;
				.myshop__ico {
					margin-left: 6px;
					@include mixins.sprite(mo_icons.$ico-myshop-mileage);
				}
			}

			.board {
				.board__board {
					.board__tr {
						&:first-child {
							margin-bottom: 17px;
							.board__right {
								font-size: 20px;
							}
						}
					}
					.board__right {
						line-height: 22px;
					}
 				}
			}
		}

		.filter {
			margin-bottom: 16px;
			.filter__row {
				position: relative;
				.filter__left {
					flex: 1;
					gap: 1.5px;
				}
				.filter__right {
					position: absolute;
					right: 20px;
					top: 68px;
				}
			}
			.filter__unit {
				font-weight: 400;
				font-size: 12px;
				letter-spacing: -0.012em;
			}
			.filter__search {
				display: none;
			}

			.select {
				min-width: 0;
				width: 99.5px;
				select {
					height: 36.5px;
					font-size: 12px;
				}
			}
			
			.calendar {
				flex: 1;
				.calendar__input {
					width: 100%;
					padding-left: 7.5px;
					font-size: 13px;
				}
			}

			.review_sort--head {
				display: flex;
				align-items: center;
				padding: 0 0 0 11px;
				width: 74.5px;
				height: 36px;
				border-radius: 12.5px;
				font-size: 12px;
				letter-spacing: -0.012em;
			}
			.review__sorting {
				top: 36px;
				.sort__select {
					font-size: 12px;
				}
			}
		}

		.tab {
			margin-bottom: 26px;
			overflow-x: auto;
			.tab__item {
				&:not(:first-child) {
					margin-left: 13px;
				}
			}
			.tab__link {
				font-weight: 500;
				font-size: 18px;
				letter-spacing: -0.012em;
				white-space: nowrap;
			}
		}

		.calendar {
			.hasDatepicker {
				font-size: 12px;
				text-align: left;
			}
			.calendar__form {
				width: auto;
				height: 36.5px;
				padding-left: 5px;
				padding-right: 9px;
				.calendar__ico {
					right: 12.5px;
					top: 50%;
					margin-top: -8px;
				}
			}
			.calendar__ico,
			.ui-datepicker-trigger {
				@include mixins.sprite(mo_icons.$ico-calendar);
				margin-left: 6px;
			}
		}

		.product {
			.product__thead {
				display: none;
			}
			.product__tbody {
				margin-top: 40px;
				.product__tr {
					&:not(:first-child) {
						margin-top: 65px;
					}
				}
				.product__td--img {
					flex-basis: 160px;
					padding-right: 26px;
				}
				.product__row {
					flex-direction: column;
					.product__col {
						font-size: 12px;
						letter-spacing: -0.012em;
						width: 100% !important;
						margin-top: 10px;
						text-align: right;
						// &:not(:nth-child(1)):not(:nth-child(2)) {
						// 	display: none;
						// }
						// &:nth-child(2) {
						// 	width: 100%;
						// 	margin-top: 20px;
						// }
						// &:not(:nth-child(1)):not(:nth-child(2)) {
						// 	display: none;
						// }
						&:not(:first-child) {
							margin-top: 10px;
						}
						&:nth-child(2) {
							width: 100%;
							margin-top: 20px;
						}
					}
					.product__col--desktop-hidden {
						display: block;
					}
					.product__col--mobile-hidden {
						display: none;
					}
				}
				.product__group {
					display: flex;
					justify-content: space-between;
					&:not(.product__mobile) {
						.product__left {
							display: block;
						}
					}
				}

				.button {
					&:not(:first-child) {
						display: none;
					}
					.button__container {
						justify-content: flex-start;
					}
				}
			}
			.product__tfoot {
				margin-top: 32.5px;
				padding-top: 20px;
			}
			.product__tr {
				align-items: flex-start;
			}
			.product_order-info {
				font-size: 14px;
			}
			.product__name {
				display: block;
				height: auto;
				margin-bottom: 11.5px;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0;
				white-space: initial;
			}
			.product__info {
				margin-top: 0;
				.product__size {
					font-size: 12px;
					span {
						display: inline-block;
					}
				}
				.product__count {
					display: inline-block;
				}
				.product__price {
					display: block;
					margin-top: 3.5px;
				}
			}
			.product__order {
				text-decoration: none;
			}
			.product__total {
				font-size: 20px;
				letter-spacing: -0.012em;
				.product__text {
					font-weight: inherit;
					font-size: 12px;
				}
			}
			.product__count {
				gap: 20px;
				.product__control {
					width: 9px;
					height: 9px;
				}
			}

			.myshop__header {
				display: block;
			}
		}

		.board {
			.board__row {
				display: block;
			}
			.board__board {
				letter-spacing: 0;
				.board__tr {
					min-height: 0;
					.board__left {
						width: auto;
						padding-right: 0;
					}
				}
				.board__left {
					font-size: 12px;
				}
				.board__right {
					font-size: 14px;
					line-height: 14px;
				}
			}
			.board__board--left {
				.board__right {
					max-width: 70%;
					padding-right: 0;
					text-align: right;
					font-size: 12px;
					letter-spacing: -0.012em;
				}
			}
			.board__tfoot {
				margin-top: 20px;
				padding: 20px 8px 0;
			}
			.board__total {
				display: flex;
				font-size: 18px;
				letter-spacing: -0.012em;
				.board__text {
					margin-right: auto;
					font-size: 12px;
					letter-spacing: 0;
				}
			}
			
			.reverse {
				flex-direction: row-reverse;
				justify-content: flex-start;
			}

			.payment {
				gap: 0;
				font-size: 11px;
				line-height: 14px;
				.payment__type {
					font-size: 14px;
				}
				.payment__detail {
					margin-top: 15px;
				}
				.button {
					order: 2;
					margin-top: 6px;
				}
			}
		}

		.table-detail {
			&:not(:first-child) {
				
			}
			.table-detail__thead {
				display: none;
			}
		}
	}
}

// popup
.layer__body {

	.layer__wrap {
		display: flex;
		flex-direction: column;
		width: 986px;
		max-height: 80vh;
		padding: 34px 28px;
	}
	.layer__content {
		flex: 1;
		overflow-y: auto;

		.table {
			padding-top: 35px;
			border-top: 1px solid #000;
			&:not(:last-child) {
				padding-bottom: 35px;
				border-bottom: 1px solid #000;
			}
			.table__header {
				&:not(:first-child) {
					margin-top: 35px;
					padding-top: 35px;
					border-top: 1px solid #000;
				}
				.table__title {
					font-size: 24px;
					letter-spacing: -0.025em;
					@include mixins.PtdMedium;
				}
			}
			.table__table {
				.table__row {
					grid-template-columns: 101px 1fr;
					// .table__left {
					// 	width: 101px;
					// }
				}
			}
		}
	}

	@include breakpoints.mobile() {

		.layer__wrap {
			width: 100% !important;
			min-height: auto;
			max-height: calc(100% - 55px);
			top: auto;
			bottom: 0;
			padding: 35px 20px;
			transform: translate(-50%, 0);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.layer__content {
			
			.table {
				padding-top: 20px;
				&:not(:last-child) {
					padding-bottom: 20px;
				}
				.table__header {
					&:not(:first-child) {
						margin-top: 20px;
						padding-top: 20px;
					}
					.table__title {
						font-size: 18px;
						letter-spacing: -0.012em;
					}
				}
				// .table__table {
				// 	.table__row {
				// 		.table__left {
				// 			width: auto;
				// 		}
				// 	}
				// }
			}
		}
	}
}

.receipt-request {
	
	.layer__wrap {
		width: 535px;
	}
}

.cer-detail {
	
	.layer__wrap {
		width: 513px;
	}

	.product {
		padding-bottom: 20px;
		.product__row {
			display: flex;
			align-items: center;
		}
		.product__img {
			width: 80px;
			height: 80px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.product__right {
			padding-left: 20px;
			letter-spacing: -0.025em;
			@include mixins.PtdRegular();
			.product__name {
				font-weight: 500;
				font-size: 18px;
				&:not(:last-child) {
					margin-bottom: 13px;
				}
			}
		}
	}

	@include breakpoints.mobile() {
		.product {
			padding-bottom: 10px;
			.product__img {
				width: 66.5px;
				height: 66.5px;
			}
			.product__right {
				padding-left: 15px;
				font-size: 11px;
				letter-spacing: -0.012em;
				.product__name {
					font-size: 13px;
					&:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}
		}
	}


	.ec-base-table {
		table {
			border: 0;
			&:before {
				display: none;
			}
			tbody {
				th, td {
					border: 0;
					background: transparent;
				}
				td {
					text-align: right;
				}
			}
		}
		@include breakpoints.mobile() {
			tbody {
				th, td {
					padding:5px 0 6px 0
				}
			}
		}

	}
	
  @include breakpoints.mobile() {
		.button {
			.button__item {
				font-size: 12px;
			}
		}

		.bullet {
			.bullet__grid {
				display: block;
				margin-top: 0;
			}
		}
	}

}

.ec-base-layer {
	border-radius: 35px;
	.header {
		display: none;
	}
	.close {
		right: 10px;
		top: 10px;
		width:30px;
		height:30px;
		&:before, &:after {
			position: absolute;
			left: 15px;
			content: ' ';
			height: 20px;
			width: 1px;
			background-color: #000;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		img {
			display: none;
		}
	}
	.content {
		position: relative;
		padding: 25px;
	}
	&.totalDetail {
		left: inherit !important;
		right: 10px;
		width: 300px;
		.content {
			> p {
				padding-bottom: 15px;
				font-size: 28px;
				text-align: left;
				&::before {
					content: 'TOTAL';
					display: block;
					margin-bottom: 10px;
					font-size: 14px;
					color:#000000;
				}
			}
		}
	}
}

// review
.review__container {
	.list__bottom {
		justify-content: center;
	}
  .rvwrap__head {
    position: relative;
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
		display: flex;
    align-items: center;
		justify-content: space-between;
    &:after {
      content: '';
      display: block;
      clear: both;
      overflow: hidden;
    }
  }
  select {
    width: 165px;
    height: 100%;
    border: 1px solid #000000;
    background-color: #ffffff;
    font-size: 16px;
    margin: 0 3px;
  }
	.search_keyword {
		input[type=text] {
			width: 320px;
			height: 42px;
			border: 1px solid #000000;
			background-color: #ffffff;
			font-size: 16px;
			margin: 0 3px;
		}
	}
  .head__title {
    // float: left;
    display: flex;
		flex: 1;
    height: 100%;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
  }
  .head__search {
    float: left;
    display: flex;
    height: 100%;
    align-items: center;
    .select {
      height: 100%;
    }
  }
	.head__result {
    // float: left;
    display: flex;
    height: 100%;
    align-items: center;
		> p {
			display: flex;
			align-items: center;
			font-size: 18px;
			margin:0 15px;
			span {
				margin-left: 9px;
				font-size: inherit;
				@include mixins.PtdMedium();
			}
		}
		i {
			display: inline-block;
			margin-right: 9px;
		}
	}
	.ico_boardset {
		@include icons.retina-sprite(icons.$ico_boardset-group);
	}
	.ico_likecnt {
		@include icons.retina-sprite(icons.$ico_like_on-group);

	}
	.ico_reviewcnt {
		@include icons.retina-sprite(icons.$ico_reviewcnt-group);
	}
  .btn__sopen {
    display: inline-block;
    height: 44px;
    border: 1px solid #000000;
    border-radius: 58px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 3px;
  }
  label {
    margin: 0 3px;
  }
  .head__sort {
		flex: 1;
    height: 100%;
		display: flex;
		justify-content: flex-end;
    .review_sort--head {
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 16px;
    } 
    .review__sorting {
      .sort__select {
        font-size: 16px;
      }
    }
  }

  .review__list--cont {
    margin-right: -20px;
    border-bottom: 0;
    .review__list--item {
      padding-right: 20px;
      padding-bottom: 20px;
    }
    .item__inner {
      border: 1px solid #000000;
      border-radius: 42px;
      padding: 25px;
    }
  }
  .review_paging {
    justify-content: center;
  }
  .list__bottom {
		.head__search {
			height: 44px;
		}
	}
  .search__layer {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 5;
    width: max-content;
    padding: 36px 30px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 42px;
    @include mixins.translate(-50%, 0);

    .search__form {
      .btn__close {
        position: absolute;
        right: 30px;
        top: 35px;
        display: block;
        @include icons.retina-sprite(icons.$ico-close-group);
        cursor: pointer;
      }
      legend {
        display: block;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 32px;
        text-align: center;
      }
      label {
        margin: 0;
      }
      .search__row {
        display: flex;
        justify-content: center;
        align-items: center;
        .search__field {
          position: relative;
          margin: 0 10px 0 4px;
        }
        .search__input {
          height: 44px;
          margin: 0;
          padding-right: 40px;
        }
        .search__button {
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -7.5px;
          @include icons.retina-sprite(icons.$ico-header-search-group);
        }
        ::-webkit-input-placeholder {
          font-size: 16px;
        }
        ::-moz-placeholder {
          font-size: 16px;
        }
        .select {
          height: 44px;
          select {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
    .filter {
      &:not(:first-child) {
        margin-top: 20px;
      }
      input[type='checkbox'] {
        & + label {
          font-weight: 400;
        }
      }
      .filter__row {
        display: flex;
        padding: 20px 0;
      }
      .filter__left {
        width: 100px;
      }
      .filter__right {
        display: flex;
        p {
          flex: 1;
          min-width:80px;
          @include mixins.PtdRegular();
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
        }
        input {
          margin-right: 5px;
        }
      }
    }
    @include breakpoints.mobile() {
      position: fixed;
      top: inherit;
      bottom: 0;
      width: 100%;
      padding: 25px 20px 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .search__form {
        legend {
          font-size: 18px;
          text-align: left;
        }
        .btn__close {
          top: 25px;
          right: 20px;
        }
      }
      .filter:not(:first-child) {
        margin-top: 0;
        .filter__row {
          display: block;
          padding-top: 0;
        }
        .filter__left {
          margin-bottom: 10px;
        }
        .filter__label {
          font-weight: 500;
        }
        .filter__right {
          display: block;
          &::after {
            content: '';
            display: block;
            clear: both;
          }
          p {
            float: left;
            min-width: auto;
            width: calc((100% / 4) - 10px);
            font-size: 12px;
            margin-right: 10px;
          }
        }
      }
    }
  } 

  @include breakpoints.mobile() {
    .rvwrap__head {
			display: block;
      height: inherit;
      margin-bottom: 5px;
    }
    .head__title {
      float: none;
      margin-right: 0;
      margin-bottom: 15px;
      font-size: 20px;
    }
    .head__search {
      flex-direction: row;
      flex-wrap: wrap;
      flex : 1 auto;
      .select {order: 1;}
      .search_keyword {order: 2;}
      .btn__sopen {order: 3; margin: 0; margin-left: 9px;}
      label {display: none;order: 4;}
    }
    .search_keyword {
      width: calc(100% - 90px);
      height: 35px;
			input[type=text] {
				width: 100%;
				height: 100%;
			}
    }
    input[type=text] {
      width: 100%;
      height: 35px;
      font-size: 13px;
    }
    ::-webkit-input-placeholder {
      line-height: 100%;
    }
    ::-moz-placeholder {
      line-height: 100%;
    }
    .select {
      min-width: 80px;
      height: 35px !important;
    }
    .btn__stype {
      width: 80px;
      height: 35px;
      padding: 0 20px 0 15px;
      font-size: 13px;
    }
    label {
      display: flex;
      height: 35px;
      align-items: center;
      margin-top: 15px;
      input {
        margin-right: 5px;
      }
    }
    .btn__sopen {
      height: 35px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 13px;
    }
    .head__sort {
			display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      float: none;
      height: 35px;
      margin-top: 10px;
      .review_sort--head {
        width: 83px;
        padding: 10px 10px 10px 15px;
        font-size: 13px;
        border-radius: 15px;
        .arrow {
          &:after {
            width: 7px;
            height: 7px;
          }
        }
      }
      .isOpen {
        .review_sort--head {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      .review__sorting {
        top: 25px;
        padding: 8px 10px 12px 15px;
        .sort__select {
          padding: 9px 0;
          font-size: 13px;
        }
      }
    }
		.head__result {
			> p {
				margin: 0;
				font-size: 14px;
				flex:1;
				justify-content: center;
			}
			i {
				// margin-right: 0;
			}
		}
		.ico_boardset {
      @include mixins.sprite(mo_icons.$ico_boardset);
		}
		.ico_likecnt {
      @include mixins.sprite(mo_icons.$ico_like_on);
		}
		.ico_reviewcnt {
      @include mixins.sprite(mo_icons.$ico_reviewcnt);
		}
    .review__list--cont {
      .review__list--item {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 0;
        .item__inner {
          border-radius: 24px;
        }
      }
    }
  }
	.review__list--cont,
	.xans-smartreview-displistitems {
		margin-right: -40px;
		margin-bottom: 20px;
		overflow: hidden;
		text-align: left;
		// border-bottom: 1px solid #000000;
		.review__list--item {
			padding-right: 40px;
			.review__list--line {
				width: 100%;
				height: 1px;
				background-color: #000000;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			&:last-of-type {
				.review__list--line {
					display: none;
				}
			}
		}
		.rv__product {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}
		.rv__figure {
			position: relative;
			width: 48px;
			height: 48px;
			margin-right: 10px;
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				@include mixins.translate(-50%, -50%);
				width: 100%;
				object-fit: cover;
			}
		}
		.rv__box {
			width: calc(100% - 148px);
			@include mixins.PtdMedium();
		}
		.rv__prname {
			font-size: 16px;
			@include mixins.PtdMedium();
		}
		.rv__prcode {
			display: block;
			margin-top: 7px;
			font-size: 12px;
			@include mixins.PtdMedium();
		}
		.rv__count {
			display: flex;
			width: 85px;
			margin-right: -5px;
			align-items: center;
			font-size: 36px;
			letter-spacing: -1px;
			text-align: right;
			@include mixins.PtdMedium();
			.ic_star {
				margin-right:9px;
			}
		}
		.rv__text {
			padding-right: 115px;
			margin-bottom: 15px;
			font-size: 24px;
			line-height: 1.3;
			word-break: keep-all;
			@include mixins.PtdMedium();
		}
		.rv__thumnb {
			position: relative;
			width: 180px;
			height: 180px;
			border-radius: 42px;
			overflow: hidden;
			span {
				display: flex;
				align-items: center;
				position: absolute;
				left: 50%;
				top: 50%;
				@include mixins.translate(-50%, -50%);
				border: 1px solid #5eecfa;
				border-radius: 28px;
				padding: 8px 15px;
				font-size: 40px;
				font-weight: 600;
				color: #5eecfa;
				vertical-align: middle;
				z-index: 1;
				em {
					margin-top: -10px;
					font-size: 34px;
				}
			}
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				@include mixins.translate(-50%, -50%);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.rv__morecnt {
			display: flex;
			margin-top: 20px;
		}
		.btn__rvlike {
			display: inline-block;
			@include icons.retina-sprite(icons.$ico-like-group);
			&.seleted {
				@include icons.retina-sprite(icons.$ico-like-on-group);
			}
		}
		.morecnt_section {
			margin-right: 18px;
			@include mixins.PtdMedium();
		}
		.rv__moreinfo {
			position: relative;
			display: flex;
			margin-top: 38px;
			.info_tag {
				margin-right: 6px;
				border:1px solid #000000;
				border-radius: 25px;
				padding:9px 10px;
				@include mixins.PtdMedium();
			}
		}
		.btn__rvshare {
			position: absolute;
			right: 0;
			bottom: 10px;
			display: inline-block;
			@include icons.retina-sprite(icons.$ico-share-group);
			&.seleted {
			}
		}
	
		@include breakpoints.mobile() {
			margin-left: 0;
			margin-right: 0;
			border-bottom: 0;
			margin-bottom: 0;
			.review__list--item {
				padding-right: 0;
				padding: 5px 0px;
			}
			.rv__prname {
				font-size: 12px;
			}
			.rv__prcode {
				margin-top: 4px;
				font-size: 10px;
			}
			.rv__text {
				padding-right: 0;
				font-size: 16px;
			}
			.rv__box {
				width: calc(100% - 110px);
			}
			.rv__count {
				display: flex;
				// width: 65px;
				margin-right: 0;
				font-size: 16px;
				align-items: inherit;
				justify-content: flex-end;
				.ic_star {
					margin-right: 5px;
				}
			}
			.rv__thumnb {
				width: 110px;
				height: 110px;
				border-radius: 26px;
				span {
					padding: 6px 13px;
					font-size: 24px;
					em {
						font-size: 21px;
					}
				}
			}
			.morecnt_section {
				margin-right: 10px;
				font-size: 11px;
				&:last-child {
					margin-right:0;
				}
			}
			.rv__morecnt {
				margin-top: 15px;
			}
			.rv__moreinfo {
				margin-top: 20px;
				.info_tag {
					padding: 8px 13px;
					margin-right: 5px;
					font-size: 11px;
				}
			}
			.btn__rvlike {
				width: 16px;
				@include mixins.sprite(mo_icons.$ico-like);
				&.seleted {
					@include mixins.sprite(mo_icons.$ico-like-on);
				}
			}
			.review__list--line {display: none;}
		}
	} //.review__list--cont 
}

// membership 
.membership-table_info {
	display: none;
	margin-bottom:10px;
	p {
		display: flex;
		align-items: center;
		font-size: 10px;
	}
	i {
		display: inline-block;
		margin-right: 7px;
		@include mixins.sprite(mo_icons.$ico_scroller);
	}
} 
.membership_row {
	display: flex;
	border-top: 1px solid #000000;
	> div {
		width: 75%;
	}
	.item_full {
		width: 75%;
	}
	.membership_head {
		width: 25%;
		padding: 40px 0;	
		font-size: 24px;
		font-weight: 500;
	}
	.membership_item2 {
		display: flex;
		padding: 40px 0 70px;	
		font-size: 18px;
		line-height: 1.5;
    @include mixins.PtdRegular();
		p, li {
			font-size: inherit;
			font-family: inherit;
		}
		.membership_item {
			flex: 1;
		}
	}
	&.row-table {
		th, td {
			padding: 17px 0;
			border-bottom: 1px solid #dfdfdf;
			@include mixins.PtdMedium();
			font-size: 18px;
			&:first-child {
				width: 25%;
			}
			&:last-child {
				text-align: right;
			}
		}

		tr:last-child {
			td {
				border-bottom: 0;
			}
		}
	}
}
.membership_button {
	text-align: center;
	.button {
		display: inline-flex;
		width: 214px;
		height: 60px;
		align-items: center;
		justify-content: center;
		background-color: #000000;
		border-radius: 100vw;
		font-size: 18px;
		color: #ffffff;
		overflow: hidden;
	}
}
@include breakpoints.mobile() {
	.membership-table_info {
		display: flex;
	}
	.membership_row {
		position: relative;
		.membership_head {
			width: 110px;
			padding: 23px 0;
			font-size: 16px;
		}
		.membership_item2 {
			display: block;
			padding: 20px 0;
			font-size: 12px;
			word-break: keep-all;
			.membership_item {
				margin-bottom: 10px;
			}
		}
		&.row-table {
			margin-right: -3.37vw;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			border-bottom: 1px solid #000000;
			margin-bottom: -1px;
			z-index: 1;
			table {
				white-space: nowrap;
			}
			tr {
				display: flex;
			}
			th, td {
				flex: 1;
				padding: 13px 0;
				font-size: 12px;
				padding-right: 40px;
				&:first-child {
					width: 110px;
				}
			}
			td {
				font-weight: 400;
			}
		}
	}
	.membership_button {
		margin-top: 10px;
		.button {
			width: 140px;
			height: 50px;
			font-size: 14px;
		}
	}
}
