@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

.container {
  padding-top:0;
}
.sub__container {
width: 100%;
}
@media (max-width: 750px) {
.sub__container {
  padding-top: 65px;
}
}
.sub__container .inner_wrap {
  max-width: 1310px;
  margin: 180px auto 0;
  padding-left: 15px;
  padding-right: 15px;

  @include breakpoints.mobile() {
    max-width: 100%;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
  }
}

.order_wrap {
  position: relative;
  .small_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10px 0 0;
    padding-right: 10px;
    padding-left: 10px;
    height: 32px;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 25px;
    &.btn_delete {
      width: 70px;
    }
    &.btn_gobank {
      display: inline-flex;
    }
    &.btn_zipcode {
      display: inline-flex;
      width: 75px;
    }
  }
  input[type='radio'] {
    border: 1px solid #000000;
    &:checked:before, &:checked:after {
      display: none;
    }
  }

  input[type='checkbox'] {
    width: 24px;
    height: 24px;
    appearance: none;
    border: 0;
    border-radius: 50%;
    background: {
      image: url('/assets/images/ico_checkbg.png');
      size: cover;
      position: center center;
      repeat: no-repeat;
    };
    &:checked {
      background-color: none;
      background: {
        image: url('/assets/images/ico_checkbg_on.png');
      }
    }

    @include breakpoints.mobile() { 
      width: 18px;
      height: 18px;
    }
  }
  input[type='checkbox'] {
    & + label {
      padding-left: 3px;
      vertical-align: middle;
    }
    & ~ input[type='checkbox'] {
      margin-left: 25px;
    }
  }
  
  .ec-base-table {
    input[type=text]:focus,input[type=password]:focus,
    select:not([readonly]):not([disabled]):not([aria-invalid=true]):focus {
      background-color: #f4f4f7 !important; 
    }
  }

  .titleArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;   
    width: calc(100% - 370px);
    margin:0 0 30px;
    > h2 {
      padding: 0;
      font-size: 32px;
      font-weight: 500;
    }
    .ico__shipp {
      @include icons.retina-sprite(icons.$ico-shipp-group);
    }
    @include breakpoints.mobile() {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      > h2 {
        font-size: 24px;
      }
      .ico__shipp {
        @include mixins.sprite(mo_icons.$ico-shipp);
      }
    }
  }

  .orderListArea {
    width: calc(100% - 370px);
    border:1px solid #000000;
    border-radius: 35px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 10px;
  
    @include breakpoints.mobile() {
      width: 100%;
      padding: 17px;
    }
    .ec-base-table {
      table {
        border: 0;
      }
      thead {
        th {
          font-weight: 500;
          &:nth-child(1) {
            width: 50px;
            text-align: left;
          }
          &:nth-child(2) {
            width: 150px;
            color:#ffffff;
            text-align: left;
          }
          &:nth-child(3) {
            width: 225px;
            text-align: left;
          }
        }
      }
      tbody {
        td {
          border: 0;
          padding-left: 0 !important;
          padding: 30px 5px !important;
          @include mixins.PtdRegular();
          font-size: 16px;
          color: #000000;
          &:nth-child(1) {
            padding-left: 0 !important;
            text-align: left;
          }
          &:nth-child(2) {
            padding-left: 0 !important;
            padding-right: 40px;
            text-align: left;
          }
          &:nth-child(3) {
            padding-left: 0 !important;
            padding-right: 15px !important;
            text-align: left;
            strong {
              font-size: 16px;
              font-weight: 500;
            }
          }
          .option, .quantity {
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            color: #000000;
          }
        }
      }
      tfoot {
        border-top: 1px solid #000000;
        td {
          border: 0;
          background: none;
          padding: 16px 0 0;
        }
      }

      @include breakpoints.mobile() {
        tr {
          position: relative;
          display: block;
        }
        td {
          display: block;
          width: 50%;
          margin-left: 50%;
          &:first-child, &.thumb {
            position: absolute;
            left: 0;
            top:0;
            margin-left: 0;
          }
        }

      }
    }

    .divflex {
      display: flex;
      align-items: center;
      margin-top: 10px;
      &.space {
        margin-top: 0;
        justify-content: space-between;
      }
    }
    .order_discount {
      font-size: 14px;
    }
    .product_delete-area {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        letter-spacing: -1px;
        color:#000000;
      }
    }
  }

  .orderArea {
    width: calc(100% - 370px);
    border:1px solid #000000;
    border-radius: 35px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 10px;
  
    @include breakpoints.mobile() {
      width: 100%;
      padding: 17px;
    }
    .ico_required {
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #31cdd6;
      border-radius: 100%;
      overflow: hidden;
      vertical-align: top;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding: 0;
      border: 0;
      border-bottom: 0;
      line-height: inherit;
      background: transparent;
      font-size: 24px;
      font-weight: 500;
      h3 {
        font-size: inherit;
        font-weight: inherit;
      }
      .required {
        position: relative;
        margin: 0;
        font-size: 14px;
      }
    }

    .ec-base-table {
      tbody {
        th, td {
          min-height: 32px;
          padding: 1px 0;
          border: 0;
          background: none;
          vertical-align: middle;
          @include mixins.PtdRegular();
        }
        th {
          padding-top: 5px;
        }
        tr:first-child {
          th {
            padding: 10px 0;
          }
          td {
            padding: 10px 0;
          }
        }
      }
      th {
        width: 140px;
      }
      input[type=text], select {
        min-width: 110px;
        height: 56px;
        padding: 0 40px 0 24px;
        border: 0;
        font-size: 14px;
        margin-top: 2px !important;
      }
      textarea {
        min-height: 130px;
        border-radius: 25px;
        background-color: #f4f4f7;
        padding: 20px 40px 20px 24px;
        border: 0;
        font-size: 14px;
      }

      .ec-shop-deliverySimpleForm {
        tr:first-child th {
          padding-top: 30px;
          vertical-align: top;
        }
        select {
          margin-top:2px;
        }
      }
    }
    .use_delivery_cell {
      input {
        text-align: center;
      }
    }
    .address {
      .btn_addrlist {
        display: inline-flex;
        max-width: 90px;
        justify-content: center;
      }
      input[type='radio'] {
        margin-right: 5px;
      }
    }
    .use_address_field {
      #rzipcode1 {
        max-width: 180px;
      }
      .small_button {
        display: inline-flex;
        justify-content: center;
      }
    }
    #ozipcode1 {
      max-width: 180px;
    }
    .ec-orderform-emailRow {
      select {
        max-width: 180px;
      }
    }
    .noMember {
      input[type=password] {
        min-width: 110px;
        height: 56px;
        padding: 0 40px 0 24px;
        border: 0;
        font-size: 14px;
        margin-top: 2px !important;
      }
    }
    input[type=radio] {
      & + label {
        font-size: 14px;
      }
    }
  }

  .xans-order-form {
    .title {
      margin: 0 0 35px !important;
    }
    .ec-base-table {
      table {
        border: none;
        &::before {
          display: none;
        }
      }
      colgroup {
        display: none;
      }
      thead {
        th {
          border: 0;
        }
      }
      &.typeList.gBorder {
        table {
          border: 0;
        }
        tbody {
          td, th {
            border: 0;
            padding-left: 0;
          }
        }
      }
      .txtInfo {
        color: #000000;
        img {
          display: none;
        }
      }
      td.thumb {
        img {
          max-width: 110px;
          border-radius: 25px;
          overflow: hidden;
        }
      }
    }
    
    .orderListArea {
      .title {
        height: auto;
        padding: 0;
        border: 0;
        border-bottom: 0;
        line-height: inherit;
        background: transparent;
        font-size: 24px;
        font-weight: 500;
        > h3 {
          font-size: inherit;
          font-weight: inherit;
        }
      }
    }

    .payArea {
      position: initial;
      width: calc(100% - 370px);
      border-color: #000000;
      border-radius: 35px;
      overflow: hidden;
      padding: 30px;
      &::after {
        display: none;
      }
      .title {
        display: flex;
        justify-content: space-between;
        height: auto;
        padding: 0;
        border: 0;
        border-bottom: 0;
        line-height: inherit;
        background: transparent;
        font-size: 24px;
        font-weight: 500;
        > h3 {
          font-size: inherit;
          font-weight: inherit;
        }
        > span {
          font-size: 14px;
        }
      }
      .total {
        float: inherit;
        position: absolute;
        right: 0;
        top: 62px;
        margin: 0;
        width: 370px;
        > div {
          position: fixed;
          // top: 220px;
          width: 360px;
          border:1px solid #000000;
          border-radius: 35px;
          overflow: hidden;
          padding: 27px 27px 10px;
        }
        h4 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          font-size: 24px;
          font-weight: 500;
          span {
            order: 1;
          }
          strong {
            order: 2;
            font-size: 14px;
            color: #31cdd6;
            text-decoration: underline;
          }
        }
        .price {
          margin: 30px 0 0;
          color:#000000;
          input#total_price {
            width: auto;
            background: none;
            color:#000000;
            font-size: 32px;
          }
        }
        .button {
          position: relative;
          a {
            > span {
              display: inline-flex;
              justify-content: center;
              width: 100%;
              background-color: #000000;
              border-radius: 35px;
              color:#ffffff;
              font-size: 82px;
              text-align: center;
            }
          }
        }
        .mileage {
          margin-top: 10px;
          .ec-base-desc {
            border: 0;
            dt {
              text-align: left;
            }
          }
        }
        .paymentAgree {
          margin: 20px 0 0;
        }
      }
      .method {
        display: flex;
        padding: 0;
        border: 0;
        .ec-base-label {
          flex:1;
          margin: 0;
          margin-right: 10px;
          padding: 20px;
          border-radius: 30px;
          border: 1px solid #d9d9d9;
          overflow: hidden;
          &:last-child {
            margin-right: 0;
          }
          label {
            margin: 0 0 0 5px;
            font-size: 14px;
          }
        }
      }
      .payment {
        > .ec-base-table {
          padding: 20px 0 20px;
          tbody {
            th, td {
              padding: 0;
              border: 0;
              background-color: transparent;
            }
            th {
              width: 100px;
            }
          }
          input[type=text] {
            width: auto;
            height: 56px;
            border: 0;
          }
          select {
            width: 40%;
            height: 56px;
            border: 0;
          }
        }
      }
      .ec-base-table {
        tbody {
          td {
            padding-bottom: 2px !important;
          }
        }
      }
      .agree {
        input[type=radio] {
          & + label {
            font-size: 14px;
          }
        }
        .cash {
          tbody {
            th, td {
              padding-left: 0;
              border: 0;
              background: transparent;
            }
          }
          .mobile {
            input[type=text], select {
              width: 90px !important;
              height: 46px;
              text-align: center;
            }
          }
        }
      }
      @include breakpoints.mobile() {
        width: 100%;
        padding: 17px;
        .payment {
          float: none;

          .ec-base-table {
            input[type=text] {
              width: 100%;
            }
            select {
              width: calc(100% - 125px);
              height: 56px;
            }
          }
        }
        .method {
          float: none;
          display: block;
          &::after {
            content: '';
            clear:both;
            display: block;
          }
          .ec-base-label {
            float: left;
            width: calc((100% / 3) - 4px);
            height: 80px;
            padding: 10px;
            border-radius: 15px;
            margin-right: 5px;
            margin-bottom: 5px;
            &:nth-child(3n) {
              margin-right: 0;
            }
            &:nth-child(3n + 1) {
              clear: both;
            }
            label {
              display: block;
              margin: 0;
              font-size: 12px;
              letter-spacing: -1px;
            }
          }
        }
        .ec-base-table {
          div {
            margin-left: 0;
          }
          .ec-base-help {
            margin:0;
            padding:0;
            background: none;
            border-radius: 0;
          }
          tbody {
            th, td {
              display: block;
            }
          }
        }
        .agree {
          padding: 0;
          padding-bottom: 10px;
          tbody {
            th, td {
              display: block;
              border: 0;
              padding: 5px 0;
            }
          }
          .cash .mobile {
            select, input[type=text] {
              width:calc(33.3333333333% - 11px) !important;
              min-width:calc(33.3333333333% - 11px) !important;
            }
          }
        }
        .total {
          clear:both;
          float: none;
          position: relative;
          top: inherit;
          right: inherit;
          width: 100%;
          background: transparent;
          border-top: 1px solid #000000;
          padding-top: 15px;
          > div {
            position: relative;
            width: 100%;
            border:0;
            border-radius: 0;
            padding:0;
          }
          h4 span {
            font-size: 18px;
          }
          .button a {
            display: block;
            width: 200px;
            margin: 0 auto;
            > span {
              padding: 10px 0;
              font-size: 32px;
            }
          }
        }
      }
    }

    .totalArea {
      position: relative;
      display: flex;
      width: calc(100% - 370px);
      margin-bottom: 10px;
      @include mixins.PtdRegular();
      > div {
        flex: 1;
        padding: 60px 30px 30px;
        border:1px solid #000000;
        border-radius: 35px;
        overflow: hidden;
        align-items: center;
      }
      .title {
        position: absolute;
        left: 30px;
        top: 30px;
        font-size: 24px;
        border: 0;
        border-radius: 0;
        padding: 0;
        > h3 {
          font-size: inherit;
        }
      }
      .ec-base-table.total {
        position: relative;
        min-height: 300px;
        table {
          position: initial;
        }
        th {
          background: none !important;
        }
        td {
          text-align: right;
        }
        th, td {
          height: auto;
        }
        tr {
          &:last-child {
            display: flex;
            position: absolute;
            bottom: 30px;
            width: calc(100% - 60px);
            border-top: 1px solid #000000;
            justify-content:space-between;
          }
        }
        .btn_total-detail {
          display: inline-flex;
          width: 70px;
          justify-content: center;
          margin-left: 10px;
        }
      }
      .discount_detail.detail {
        margin-left: 10px;
        tbody {
          th, td {
            padding: 9px 0 8px 0;
            border: none;
            background: none !important;
          }
          th {
            width: 140px;
          }
          td {
            width: calc(100% - 140px);
            text-align: right;
            &.td_full {
              width: 100%;
              text-align: left;
              input[type=text] {
                width: 100% !important;  
              }
            }
          }
        }
        tr {
          display: flex;
        }
  
        input[type=text] {
          height: 56px;
        }
        .mileage_field {
          th {
            padding-top: 30px;
          }
          .mileage_title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 500;
            color:#000000;
            p {
              font-size: 14px;
              text-align: right;
            }
            .txtWarn {
              color: #31cdd6;
            }
          }
        }
        .info {
          li {
            background: none;
            padding-left: 0;
          }
        }
      }
      @include breakpoints.mobile() {
        display: block;
        width: 100%;
        .discount_detail.detail {
          margin-left: 0;
        }
      }
    }

    .ec-base-layer {
      border-radius: 35px;
      .close {
        right: 10px;
        top: 10px;
        width:30px;
        height:30px;
        &:before, &:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 20px;
          width: 1px;
          background-color: #000;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
        img {
          display: none;
        }
      }
      .content {
        position: relative;
        padding: 25px;
        > p {
          padding-bottom: 15px;
          font-size: 28px;
          text-align: left;
          &::before {
            content: 'TOTAL';
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
            color:#000000;
          }
        }
      }
      .ec-base-desc.typeDot {
        padding-top: 15px;
        .term {
          background: none;
          padding-left: 0;
        }
      }
      @include breakpoints.mobile() {
        width: calc(100% - 100px);
        .content {
          > p {
            font-size: 18px;
            &::before {
              font-size:12px;
            }
          }
        }
      }
    }
  }
  // .xans-order-form

  .ec-base-help {
    width: calc(100% - 370px);
    border-color: #000000;
    border-radius: 35px;
    overflow: hidden;
    padding: 30px;

     > h2, > h3 {
       background: none;
       border: none;
       font-size: 24px;
    }
    h4 {
      font-size: 14px;
    }
    .inner {
      width: 100%;
      font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
    ol {
      li {
        margin-bottom: 6px;
      }
    }
  }
}

@include breakpoints.mobile() {
  .order_wrap {
    padding-left: 15px !important;
    padding-right: 15px !important;
    .small_button {
      height: 26px;
      padding-left:5px;
      padding-right: 5px;
      font-size: 12px;
    }
    .xans-order-form {
      .title {
        font-size: 18px !important;
      }
      .orderListArea {
        overflow: inherit;
        .title {
          margin-bottom: 50px !important;
        }
        .ec-base-table {
          // flex-direction: row;
          tbody {
            tr {
              display: block;
              padding-bottom: 40px;
              &:last-child {
                padding-bottom: 20px;
              }
            }
            td {
              padding-left: 0 !important;
              padding-right: 0 !important;
              padding-top: 0 !important;
              padding-bottom: 5px !important;
              text-align: right;
              font-size: 14px;
              &:nth-child(1),  &:nth-child(2), &:nth-child(3){
                text-align: left;
              }
              strong {
                line-height: 1.2;
              }
            }
          }
          tfoot {
            td {
              &:first-child {
                position: relative;
                width: 100%;
              }
            }
          }
        }
        .product_delete-area {
          span {
            display: none;
          }
        }
        input[type=checkbox] {
          margin-top: -55px;
          z-index: 10;
        }
      }
      #omessage, #fmessage, #question {
        width: 100%;
      }
      .totalArea {
        .title {
          left: 17px;
          top: 17px;
        }
        .total {
          min-height: auto !important;
          padding-top: 50px;
          margin-bottom: 10px;
          tr:last-child {
            display: revert !important;
            position: relative !important;
            bottom: 0 !important;
            width: 100% !important;
            td {
              font-size: 18px;
              font-weight: 700;
            }
          }
          th, td {
            padding: 6px 0 7px;
          }
        }
        > div {
          padding: 17px 17px 17px;
        }
      }
    }
    .ec-base-help {
      width: 100%;
      padding: 17px;
      > h3 {
        padding: 0;
        font-size: 18px;
      }
      .inner {
        padding: 0;
        ul {
          margin-left: 0;
        }
      }
    }
    .ec-base-table {
      thead {
        display: none;
      }
      td {
        border: 0;
      }
      input[type=text], select {
        min-width: calc((100% / 3) - 10px) !important;
        padding:0 20px 0 20px !important;
      }
    }
    .orderArea {
      .title {
        .required {
          margin-top: 0 !important;
        }
      }
      .ec-base-table {
        table {
          display: block;
          tbody {
            display: block;
          }
        }
      }
      .typeWrite {
        tbody {
          tr {
            display: block;
            padding-bottom: 10px;
          }
          th, td {
            display: block;
          }
          th {
            padding-bottom: 0 !important;
          }
        }
        .address {
          word-break: break-all;
          .recent {
            display: inline;
            &::before {
              content: '';
              display: block;
              height:5px;
            }
          }
        }
      }
      .use_address_field {
        input[type=text] {
          width: 100% !important
        }
        span.grid {display: none;}
      }
    }
    .xans-order-form {
      #oemail1, #oemail2, #oemail3 {
        min-width: calc((100% / 2) - 13px) !important;
        width: calc((100% / 2) - 13px) !important;
      }
    }
  }
}

.order_result_wrap {
  .ec-base-box.typeMember {
    display: none;
  }
  .titleArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;   
    width: calc(100% - 370px);
    margin:0 0 30px;
    > h2 {
      padding: 0;
      font-size: 32px;
      font-weight: 500;
    }
    .ico__shipp {
      @include icons.retina-sprite(icons.$ico-shipp-group);
    }
    @include breakpoints.mobile() {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      > h2 {
        font-size: 24px;
      }
      .ico__shipp {
        @include mixins.sprite(mo_icons.$ico-shipp);
      }
    }
  }
  .xans-order-result {
    * {
      @include mixins.PtdRegular();
    }
    .orderInfo {
      float: left;
      width: calc(50% - 5px);
      min-height: 260px;
      margin: 0;
      background-image: none;
      background: {
        color: #5eecfa;
      }
      border: 1px solid #000000;
      border-radius: 35px;
      overflow: hidden;
      padding: 30px;  
      margin-bottom: 10px;
      @include mixins.PtdRegular();
      strong {
        font-size: 14px;
      }
      p {
        strong {
          font-size: 24px;
        }
      }
    }
    .orderArea {
      float: left;
      width: calc(50% - 5px);
      min-height: 260px;
      margin-left: 10px;
      margin-bottom: 10px;
      border: 1px solid #000000;
      border-radius: 35px;
      overflow: hidden;
      padding: 30px;  
      .title {
        margin: 0;
        margin-bottom: 25px;
        font-size: 24px;
        > h3 {
          font-size: inherit;
        }
      }
      .ec-base-table {
        table {
          border: 0;
          &::before {
            display: none;
          }
        }
        tbody {
          th, td {
            padding: 0;
            border: 0;
            padding-bottom: 15px;
            background: transparent;
            @include mixins.PtdRegular();
          }
        }
      }
    }

    .orderListArea {
      clear: both;
      border: 1px solid #000000;
      border-radius: 35px;
      overflow: hidden;
      padding: 30px;  
      .title {
        margin: 0;
        margin-bottom: 25px;
        font-size: 24px;
        > h3 {
          font-size: inherit;
        }
      }
      .ec-base-table {
        table {
          border: 0;
        }
        thead {
          th {
            border: 0;
            background: transparent;
          }
        }
        tbody, tfoot {
          td {
            border: 0;
            background: transparent;
          }
        }
        tfoot {
          td {
            border-top: 1px solid #000000;
          }
        }
      }
    }

    .totalArea {
      position: relative;
      float: left;
      width: calc(50% - 5px);
      min-height: 440px;
      border: 1px solid #000000;
      border-radius: 35px;
      overflow: hidden;
      padding: 30px;  
      margin-top: 10px;
      &:before {
        content: '총 결제금액';
        display: block;
        margin-bottom: 25px;
        font-size: 24px;
      }
      table {
        border: 0 !important;
        th, td {
          border: 0 !important;
          background: none !important;
          padding-left: 0;
        }
        tbody {
          td {
            text-align: right;
          }
        }
      }
    }
    .shipping_area {
      float: left;
      width: calc(50% - 5px);
      min-height: 440px;
      margin-top: 10px;
    }
    .ec-base-button {
      clear: both;
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        padding-right: 25px;
        padding-left: 25px;
        height: 60px;
        border: 1px solid #000000;
        border-radius: 30px;
        font-size: 18px;
      }
    }

    @include breakpoints.mobile() {
      padding-left: 10px;
      padding-right: 10px;
      .title {
        font-size: 18px !important;
        h3 {
        }
      }
      .orderInfo {
        float: none;
        width: 100%;
        min-height: auto;
        margin-left: 0;
        padding: 20px;
        li {
          display: flex;
          justify-content: space-between;
        }
      }
      .orderArea {
        float: none;
        width: 100%;
        min-height: auto;
        margin-left: 0;
        padding: 20px 20px 5px;
      }
      .totalArea {
        float: none;
        width: 100%;
        margin-left: 0;
        padding: 20px;
        &::before {
          font-size: 18px;
        }
        .ec-base-table {
          tbody {
            td {
              text-align: center;
            }
          }
        }
        .detail {
          .ec-base-table {
            tbody {
              td {
                text-align: right;
              }
            }
          }
        }
      }
      .orderListArea {
        margin-left: 0;
        padding: 20px;
        .ec-base-table {
          colgroup, thead {
            display: none;
          }
          tbody {
            tr {
              position: relative;
            }
            td {
              display: block;
              width:100%;
              padding: 0 0 0 50%;
              text-align: right;
              // padding-left: 50%;
              &.thumb {
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                padding-left: 0;
                text-align: left;
                img {
                  max-width: 70%;
                }
              }
              // &.left, &.right {
              //   text-align: left;
              // }
              &.left {
                strong {
                  font-size: 16px;
                }
              }
              &:last-of-type {
                padding-bottom: 15px;
                text-align: right;
              }
            }
          }
          tfoot {
            td {
              padding-top: 0;
              // color: #000000
            }
          }
        }
      }
      div {
        .ec-base-table {
          tbody {
            td {
              text-align: right;
              p {
                line-height: 1.7;
              }
            }
          }
        }
      }
      .ec-base-button {
        margin-top: 0;
        padding-top: 0;
        .gLeft {
          float: none;
          display: block;
          margin-bottom: 20px;
          a {
            padding-left:15px;
            padding-right: 15px;
            height: 30px;
            font-size: 12px;
          }
        }
        .gRight {
          float: none;
          text-align: center;
        }
      }
    }
  }

  .ec-base-help {
    width: 100%;
    border-color: #000000;
    border-radius: 35px;
    overflow: hidden;
    padding: 30px;

     > h2, > h3 {
       background: none;
       border: none;
       font-size: 24px;
    }
    h4 {
      font-size: 14px;
    }
    .inner {
      width: 100%;
      font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
    ol {
      li {
        margin-bottom: 6px;
      }
    }
    @include breakpoints.mobile() {
      padding: 17px;
      > h3 {
        font-size: 18px;
      }
      .inner {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
