@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

.container {
  padding-top:0;
}
.sub__container {
width: 100%;
}
@media (max-width: 750px) {
.sub__container {
  padding-top: 65px;
}
}
.sub__container .inner_wrap {
  max-width: 1310px;
  margin: 180px auto 0;
  padding-left: 15px;
  padding-right: 15px;

  @include breakpoints.mobile() {
    max-width: 100%;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
  }
}


.order_wrap {
  position: relative;
  .small_button {
    display: flex;
    align-items: center;
    margin:0 10px 0 0;
    padding-right: 10px;
    padding-left: 10px;
    height: 32px;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 25px;
    &.btn_delete {
      width: 70px;
    }
  }
  input[type='radio'] {
    border: 1px solid #000000;
    &:checked:before, &:checked:after {
      display: none;
    }
  }

  input[type='checkbox'] {
    width: 24px;
    height: 24px;
    appearance: none;
    border: 0;
    border-radius: 50%;
    background: {
      image: url('/assets/images/ico_checkbg.png');
      size: cover;
      position: center center;
      repeat: no-repeat;
    };
    &:checked {
      background-color: none;
      background: {
        image: url('/assets/images/ico_checkbg_on.png');
      }
    }
  }
  input[type='checkbox'] {
    width: 24px;
    height: 24px;
    & + label {
      padding-left: 3px;
      vertical-align: middle;
    }
    & ~ input[type='checkbox'] {
      margin-left: 25px;
    }
  }
  .ec-base-table {
    select:not([readonly]):not([disabled]):not([aria-invalid=true]):focus {
      background-color: #f4f4f7;
    }
  }

  .titleArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;   
    width: calc(100% - 370px);
    margin:0 0 30px;
    > h2 {
      padding: 0;
      font-size: 32px;
      font-weight: 500;
    }
    .ico__shipp {
      @include icons.retina-sprite(icons.$ico-shipp-group);
    }
    @include breakpoints.mobile() {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      > h2 {
        font-size: 24px;
      }
      .ico__shipp {
        @include mixins.sprite(mo_icons.$ico-shipp);
      }
    }
  }

  .orderListArea {
    width: calc(100% - 370px);
    border:1px solid #000000;
    border-radius: 35px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 10px;
  
    @include breakpoints.mobile() {
      width: 100%;
      padding: 16px;
    }
    .ec-base-table {
      table {
        border: 0;
      }
      thead {
        th {
          font-weight: 500;
          &:nth-child(1) {
            width: 50px;
            text-align: left;
          }
          &:nth-child(2) {
            width: 150px;
            color:#ffffff;
            text-align: left;
          }
          &:nth-child(3) {
            width: 225px;
            text-align: left;
          }
        }
      }
      tbody {
        td {
          padding-left: 0 !important;
          padding: 30px 5px !important;
          font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
          font-size: 16px;
          color: #000000;
          &:nth-child(1) {
            padding-left: 0 !important;
            text-align: left;
          }
          &:nth-child(2) {
            padding-left: 0 !important;
            padding-right: 40px;
            text-align: left;
          }
          &:nth-child(3) {
            padding-left: 0 !important;
            padding-right: 15px !important;
            text-align: left;
            strong {
              font-size: 16px;
              font-weight: 500;
            }
          }
          .option, .quantity {
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            color: #000000;
          }
        }
      }
      tfoot {
        border-top: 1px solid #000000;
        td {
          border: 0;
          background: none;
          padding: 16px 0 0;
        }
      }

      @include breakpoints.mobile() {
        tr {
          position: relative;
          display: block;
        }
        td {
          display: block;
          width: 50%;
          margin-left: 50%;
          &:first-child, &.thumb {
            position: absolute;
            left: 0;
            top:0;
            margin-left: 0;
          }
        }
      }
    }

    .divflex {
      display: flex;
      align-items: center;
      margin-top: 10px;
      &.space {
        margin-top: 0;
        justify-content: space-between;
      }
    }
    .order_discount {
      font-size: 14px;
    }
    .product_delete-area {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        letter-spacing: -1px;
        color:#000000;
      }
    }
  }

  .orderArea {
    width: calc(100% - 370px);
    border:1px solid #000000;
    border-radius: 35px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 10px;
  
    @include breakpoints.mobile() {
      width: 100%;
      padding: 16px;
    }
    .title {
      height: auto;
      padding: 0;
      border: 0;
      border-bottom: 0;
      line-height: inherit;
      background: transparent;
      font-size: 24px;
      font-weight: 500;
      h3 {
        font-size: inherit;
        font-weight: inherit;
      }
      .required {
        font-size: 14px;
      }
    }

    .ec-base-table {
      tbody {
        th, td {
          min-height: 32px;
          padding: 1px 0;
          border: 0;
          background: none;
          vertical-align: middle;
        }
        th {
          padding-top: 5px;
        }
        tr:first-child {
          th {
            padding: 10px 0;
          }
          td {
            padding: 10px 0;
          }
        }
      }
      th {
        width: 100px;
      }
      input[type=text], select {
        min-width: 110px;
        height: 56px;
        padding: 0 40px 0 24px;
        border: 0;
        font-size: 14px;
        margin-top: 2px !important;
      }
      textarea {
        min-height: 130px;
        border-radius: 25px;
        background-color: #f4f4f7;
        padding: 20px 40px 20px 24px;
        border: 0;
        font-size: 14px;
      }

      .ec-shop-deliverySimpleForm {
        tr:first-child th {
          padding-top: 30px;
          vertical-align: top;
        }
        select {
          margin-top:2px;
        }
      }
    }
    .use_delivery_cell {
      input {
        text-align: center;
      }
    }
    .address {
      .btn_addrlist {
        display: inline-flex;
        max-width: 90px;
        justify-content: center;
      }
      input[type='radio'] {
        margin-right: 5px;
      }
    }
    .use_address_field {
      #rzipcode1 {
        max-width: 180px;
      }
      .small_button {
        display: inline-flex;
        justify-content: center;
      }
      .btn_zipcode {
        width: 75px;
      }
    }
    input[type=radio] {
      & + label {
        font-size: 14px;
      }
    }
  }
  .totalArea {
    width: calc(100% - 370px);
    padding: 30px;
    margin-bottom: 10px;
    border:1px solid #000000;
    border-radius: 35px;
    overflow: hidden;
    .title {
      font-size: 24px;
      > h3 {
        font-size: inherit;
      }
    }
    .total {
      th {
        background: none !important;
      }
    }
  }

  .xans-order-form {
    .title {
      margin: 0 0 35px !important;
    }
    .ec-base-table {
      table {
        border: none;
        &::before {
          display: none;
        }
      }
      colgroup {
        display: none;
      }
      thead {
        th {
          border: 0;
        }
      }
      &.typeList.gBorder {
        table {
          border: 0;
        }
        tbody {
          td {
            border: 0;
          }
        }
      }
      .txtInfo {
        color: #000000;
        img {
          display: none;
        }
      }
      td.thumb {
        img {
          max-width: 110px;
        }
      }
    }
    
    .orderListArea {
      .title {
        height: auto;
        padding: 0;
        border: 0;
        border-bottom: 0;
        line-height: inherit;
        background: transparent;
        font-size: 24px;
        font-weight: 500;
        > h3 {
          font-size: inherit;
          font-weight: inherit;
        }
      }
    }

    .payArea {
      position: initial;
      width: calc(100% - 370px);
      border-color: #000000;
      border-radius: 35px;
      overflow: hidden;
      padding: 30px;
      &::after {
        display: none;
      }
      .total {
        float: inherit;
        position: absolute;
        right: 0;
        top: 62px;
        margin: 0;
      }
    }
  }

  .ec-base-help {
    width: calc(100% - 370px);
    border-color: #000000;
    border-radius: 35px;
    overflow: hidden;
    padding: 30px;

     > h2, > h3 {
       background: none;
       border: none;
       font-size: 24px;
     }
    .inner {
      width: 100%;
      font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
  }
}