@use 'mixins';
@use 'sprite/icons';

.sub__container {
  padding-top: 90px;
}

.detail__quick {
  position: fixed;
  left: 40px;
  top: 50%;
  z-index: 10;
  @include mixins.translate(0, -50%);
  .quick_link {
    display: block;
    margin: 5px 0;
    font-weight: 700;
  }
}
.product__option {
  margin-bottom: 59px;
  .product__opt--title {
    margin-bottom: 15px;
  }
  .product__quantity {
    display: flex;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid #000000;
    border-radius: 40px;
    overflow: hidden;
    align-items: center;
  }
  .qty_input {
    width: calc(100% - 72px);
    background-color: transparent;
    border: none;
    text-align: center;
    @include mixins.PtdRegular();
  }
  .qty_button {
    width: 36px;
  }
}
.product__opt--list {
  margin-bottom: 14px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  li {
    float: left;
    position: relative;
    width: calc((100%/4) - 5px);
    padding-top: calc((100%/4) - 5px);
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: transparent;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-child(4n + 1) {
      clear: left;
    }
  }
  .opt__button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 48px;
    letter-spacing: -1px;
    border: 1px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    &.opt__selected, &:hover, &:active {
      background-color: #5eecfa;
    }
  }
}
.swiper-container {
  .swiper-pagination {
    width: 100%;
    bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .swiper-pagination-bullet {
    width: 100%;
    max-width: 42px;
    min-width: 10px;
    height: 2px;
    margin: 0 !important;
    border-radius: 0;
    background-color: #dbdbdb;
  }
  .swiper-pagination-bullet-active {
    background-color: #000000;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// product detail
.detail__container {
  position: relative;
  min-height: 100vh;
}
.detail__image {
  width: 100%;
  height: calc(100vh - 90px);
  margin: 0 auto;
  padding-left: 256px;
  padding-right: 425px;
  text-align: center;
  .productDetailswp {
    height: 100%;
  }
}
.detail_info {
  position: fixed;
  top: 90px;
  right: 30px;
  bottom: inherit;
  max-width: 360px;
  max-height: calc(100vh - 100px);
  padding: 38px 29px 30px;
  border: 1px solid #000000;
  border-radius: 40px;
  overflow: hidden;
  z-index: 10;
  &.on {
    position: absolute;
    bottom: 0;
    top: inherit;
  }
  .product__type {
    margin-bottom: 17px;
  }
  .product__name {
    width: 60%;
    margin-bottom: 10px;
    @include mixins.PtdMedium();
    font-size: 24px;
    line-height: 1.3;
    word-break: keep-all;
  }
  .product__price {
    margin-bottom: 16px;
    font-size: 18px;
    @include mixins.PtdMedium();
  }

  .product__tag {
    display: flex;
    margin-bottom: 40px;
    .product__tag--name {
      display: inline;
      padding: 8px;
      margin-right: 4px;
      border: 1px solid #000000;
      border-radius: 40px;
      overflow: hidden;
      @include mixins.PtdRegular();
    }
  }

  .product__reivew {
  }
  .product__reivew--title {
    display: flex;
    align-items: center;
    .ic_star {
      display: inline-block;
      @include icons.retina-sprite(icons.$ico-star-group);
      vertical-align: middle;
    }
    p {
      margin-right: 16px;
      font-weight: 500;
      vertical-align: top;
      span {
        font-weight: 400;
      }
    }
    .review__count {
      @include mixins.PtdMedium();
      span {
        font-weight: 400;
      }
    }
  }
  .product__reivew--list {
    .rv__item {
      padding: 25px 0;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    .rv__figure {
      float: left;
      width: 55px;
      margin-right: 15px;
    }
    .rv__box {
      @include mixins.ellipse(2);
      float: left;
      display: block;
      width: calc(100% - 70px);
      height: 32px;
      line-height: 1.2;
    }
    .rv__writer {
      font-weight: 500;
    }
  }
  .product__accordion {
    max-height: 280px;
    overflow-y: auto;
  }
  .product__action {
    margin-top: 28px;
  }
  .product__act--button {
    display: flex;
    align-items: center;
    .act__btn {
      flex: 1;
      padding: 20px 10px 16px;
      margin-right: 4px;
      font-size: 28px;
      border: 1px solid #000000;
      border-radius: 55px;
      overflow: hidden;
      text-align: center;
      &:nth-child(2n), &:nth-last() {
        margin-right: 0;
      }
    }
    .btn_addtocart {
      background-color: #ffffff;
    }
    .btn_buynow {
      background-color: #000000;
      color: #ffffff;
    }
    .btn_soldout {
      background-color: #fc4f03;
    }
  }
  .product__naverchk {
    margin: 18px 0 0;
  }

  .accord_item {
    margin-bottom: 20px;
    .accord_title {
      padding-bottom: 16px;
    }
    .accord_panel {
      @include mixins.PtdRegular();
      line-height: 1.4;
    }
  }
}
.product__additional {
  width: 100%;
  margin: 0 auto;
  padding-left: 256px;
  padding-right: 425px;
  text-align: center;
  .product__section {
    max-width: 1240px;
    margin: 42px auto 0;
  }
  .accord_title {
    width: 100%;
    padding-bottom: 40px;
    &[aria-expanded="true"] {
      .accord_target span {
        &:after {
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }
      }
    }
  } 
  .accord_target {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 100px;
    font-weight: 400;
    span {
      position: relative;
      display: block;
      width: 64px;
      height: 64px;
      &:before, &:after {
        content: ' ';
        position: absolute;
        left: 32px;
        height: 64px;
        width: 2px;
        background-color: #000;
        @include mixins.transition(.4s, ease);
      }
      &:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      &:after {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
    }
  }
  .accord_panel {
    padding: 10px 0 50px;
    @include mixins.PtdRegular();
    line-height: 1.4;
    text-align: left;
  }
  .detail__cont {
    margin-bottom: 220px;
  }
}