@use 'mixins';

.sub__container {
  padding-top: 90px;
}
// product detail
.detail__container {
  position: relative;
  height: 100vh;
}

.detail_info {
  position: fixed;
  right: 30px;
  padding: 38px 29px;
  border: 1px solid #000000;
  border-radius: 40px;
  overflow: hidden;
  .product__type {
    margin-bottom: 17px;
  }
  .product__name {
    width: 60%;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    word-break: keep-all;
  }
  .product__price {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
  }

  .product__tag {
    display: flex;
    .product__tag--name {
      display: inline;
      
    }
  }
}