@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

.review__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3.37vw;
  box-sizing: content-box;
  .reviewArea {
    .reviewList {
      > ul {
        margin: 0;
        margin-left: 5px;
      }
    }
    .reviewSearch {
      width: auto;
      .ctrl {
        top: 0;
        .btnSearch {
          &:after {
            margin: 0;
          }
        }
      }
      .searchWrap .ec-board-list-search-type {
        appearance: none;
      }
    }
    .btnMore {
      width: 85px;
      height: 100%;
      margin: 0 6px;
      border: 1px solid #000000;
      background: #ffffff;
      border-radius: 14px;
      align-items: center;
      vertical-align: middle;
      text-align: center;
    }
  }

  .ec-board-list-item {
    border-radius: 42px;
    // padding: 10px;
    border-color:#000000 !important;
    .grid_inner {
      padding: 20px;
    }
  }
  .review__list--cont { 
    .rv__product {
      justify-content: space-between;
      > div {
        display: flex;
      }
      .rv__box {
        width: auto;
      }
    }
    .rv__text {
      font-size: 18px;
      font-weight: 400;
    }
    .rv__prcode {
      font-weight: 400;
    }
    .rv__count {
      width: auto;
      font-size: 24px;
    }
    .rv__thumnb {
      width: 90px;
      height: 90px;
      border-radius: 21px;
    }
    .rv__morecnt {
      margin-top: 5px;
      align-items: center;
      justify-content: space-between;
      & + .rv__morecnt { 
        margin-top: 20px;
        justify-content: flex-start;
      }
    }
    .morecnt_section {
      display: flex;
      align-items: center;
      margin-right: 10px;
      span {
        margin-left: 2px;
      }
    }
    .btn__rvlike {
      margin-right: 5px;
    }
  }

  .rvwrap__head {
    position: relative;
    // width: 100%;
    height: 44px;
    margin-bottom: 20px;
		display: flex;
    align-items: center;
		justify-content: space-between;
    &:after {
      display: none;
    }
  }
  select {
    width: 165px;
    height: 100%;
    border: 1px solid #000000;
    background-color: #ffffff;
    font-size: 16px;
    margin: 0 3px;
  }
	.search_keyword {
		input[type=text] {
			width: 320px;
			height: 42px;
			border: 1px solid #000000;
			background-color: #ffffff;
			font-size: 16px;
			margin: 0 3px;
		}
	}
  .head__title {
    // float: left;
    display: flex;
		// flex: 1;
    height: 100%;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
  }
  .head__search {
    float: left;
    display: flex;
    height: 100%;
    align-items: center;
    .select {
      height: 100%;
    }
  }
	.head__result {
    // float: left;
    display: flex;
    height: 100%;
    align-items: center;
		> p {
			display: flex;
			align-items: center;
			font-size: 18px;
			margin:0 15px;
			span {
				margin-left: 9px;
				font-size: inherit;
				@include mixins.PtdMedium();
			}
		}
		i {
			display: inline-block; 
			margin-right: 9px;
		}
	}
	.ico_boardset {
		// @include icons.retina-sprite(icons.$ico_boardset-group);
    width: 21px;
		height: 21px;
		background-image: url('../images/ico_boardset.svg');
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	.ico_likecnt {
		// @include icons.retina-sprite(icons.$ico_like_on-group);
    width: 22px;
		height: 19px;
		background-image: url('../images/ico_like_on.svg');
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	.ico_reviewcnt {
		// @include icons.retina-sprite(icons.$ico_reviewcnt-group);
    width: 26px;
		height: 24px;
		background-image: url('../images/ico_reviewcnt.svg');
		background-repeat: no-repeat;
		background-position: 0 0;
	}
  .shareLayer {
    z-index: 3;
    position: absolute;
    bottom: 100%;
    left: 55px;
    width: 180px;
    border: 1px solid #000000;
    background: #fff;
    border-radius: 16px;
    padding: 0 13px;
    li {
      display: flex;
      align-items: center;
      padding: 20px 0;
      border-top: 1px solid #e7e7e7;
      &:first-child {
        border-top: 0;
      }
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      img {
        height: 100%;
      }
      a {
        font-size: 16px;
      }
    }
  }

  .list__bottom {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @include breakpoints.mobile() {
    .reviewArea {
      .rvwrap__head {
        height: auto;
        margin-bottom: 0;
        .head__title {
          margin-bottom: 15px;
          font-size: 20px;
        }
      }
      .reviewSearch {
        display: block;
        height: auto;
        margin-top: 0;
        .sorting {
          height: 38px;
          justify-content: flex-start;
          li {
            font-size: 12px;
          }
        }
        .ctrl {
          position: relative;
          top: inherit;
          right: inherit;
          margin-top: 5px;
          .searchWrap {
            width: 100%;
            margin-right: 0;
            .search {
              width: 100%;
              margin-left: 0;
            }
          }
        }
        label {
          position: absolute;
          right: 0;
        }
        .select {
          display: flex;
          max-width: 100px;
          height: auto !important;
          margin-bottom: 5px;
        }
        select {
          height: 40px !important;
        }
      }
      .reviewSearch + .searchArea, 
      .reviewCategory.displaynone + .searchArea {
        margin-top: 0;
      }
      .reviewList {
        > ul {
          height: auto !important;
          .grid {
            position: relative !important;
            float: none;
            width: calc(100% - 6px) !important;
            left: inherit !important;
            top: inherit !important;
            margin-bottom: 15px;
            border-radius: 24px;
          }
        }
      }
    }
    .list__bottom {
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      .review_paging {
        margin-right: 0;
        .btnMore {
          border: 0;
        }
      }
    }
    .shareLayer {
      width: 135px;
      left: inherit;
      right: 30px;
      li {
        padding: 10px 0;
        span {
          width: 15px;
          height: 15px;
        }
        a {
          font-size: 14px;
        }
      }
    }
    .review__list--cont {
      .btn__rvshare {
        // @include mixins.sprite(mo_icons.$ico_share);
        width: 18px;
        height: 17px;
        background-image: url('../images/ico_share.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
      }
      .btn__rvlike {
        // @include mixins.sprite(mo_icons.$ico_like);
        width: 17px;
        height: 15px;
        background-image: url('../images/ico_like.svg');
        background-repeat: no-repeat;
			  background-position: 0 0;
        background-size: 100% 100%;

        &.selected {
          // @include mixins.sprite(mo_icons.$ico_like_on);
          background-image: url('../images/ico_like_on.svg');
        }
      }
      .rv__count .ic_star {
        // @include mixins.sprite(mo_icons.$ico_star);
        width: 20px;
        height: 19px;
        background-image: url('../images/ico_star.svg');
        background-repeat: no-repeat;
			  background-position: 0 0;
        background-size: 100% 100%;
      }
    }

    .ico_boardset {
      // @include mixins.sprite(mo_icons.$ico_boardset);
      width: 19px;
			height: 19px;
      background-image: url('../images/ico_boardset.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
			background-size: 100% 100%;
    }
    .ico_likecnt {
      // @include mixins.sprite(mo_icons.$ico_like_on);
      width: 17px;
      height: 15px;
      background-image: url('../images/ico_like_on.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
			background-size: 100% 100%;
    }
    .ico_reviewcnt {
      // @include mixins.sprite(mo_icons.$ico_reviewcnt);
      width: 22px;
			height: 20px;
      background-image: url('../images/ico_reviewcnt.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
			background-size: 100% 100%;
    }

    &.myshop__container {
      .head__result {
        margin-bottom: 10px;
        > p {
          font-size: 14px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .reviewArea {
        .rvwrap__head {
          display: block;
        }
      }
    }
  } // mobile
}

.reviewArea {
  #ec-board-review-read .reviewWrap {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .reviewLayer.typeRead {
    display: flex;
    width: 800px;
    height: 100%;
    max-height: 900px;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 42px;
    overflow: hidden;
    z-index: 101;
    * {
      @include mixins.PtdRegular();
      color:#000000;
    }
    .close {
      top: 30px;
      right: 30px;
      .btnClose {
        width: 18px;
        height: 18px;
        background: {
          image: url('../images/btn_close.png');
          size: cover;
        }
        
      }
    }
    .reviewContent {
      float: none;
      width: calc(100% - 280px);
      height: 100%;
      min-height: 100%;
      padding: 35px 30px;
      border-right: 1px solid #000000;
      overflow-y: auto;
      .view {
        .text {
          font-size: 24px;
        }
        img {
          max-width: 100%;
        }
      }
      .commentWrite {
        background: #ffffff;
        text-align: left;
        border-radius: 0;
        .count {
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
    .prdInfo {
      padding-top: 0;
      .summary {
        text-align: left;
      }
      .heading {
        font-size: 20px;
        font-weight: 500;
        strong {
          font-weight: inherit;
        }
      }
      .price {
        color:#000000;
      }
      .info {
        dt, dd {
          font-size: 14px;
          color:#000000;
        }
      }
    }
  }
  .fixedBar {
    float: none;
    width: 280px;
  }
  .writerInfo {
    position: relative;
    width: calc(100% - 60px);
    padding: 0;
    padding: 60px 30px 35px;
    .writer {
      border-bottom: 0;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
    }
    .info {
      margin-bottom: 30px;
      text-align: left;
      dt, dd {
        color:#000000;
      }
      dt {
        width: 60px;
        padding: 0;
        &:before {
          display: none;
        }
      }
    }
    .heading {
      margin: 20px 0 0 0;
      font-size: 18px;
      font-weight: 500;
      border-bottom: 0;
      text-align: left;
    }
    .otherList {
      li {
        width: 60px;
        height: 60px;
        border: 0;
        border-radius: 20px;
        margin: 0;
        margin-right: 2px;
        margin-bottom: 2px;
        overflow: hidden;
      }
    }
  }

	@include breakpoints.mobile() {
    #ec-board-review-read .reviewWrap {
      width: 100%;
      min-height: auto;
      max-height: inherit;
      height: calc(100% - 55px);
      top: 55px;
      bottom: 0;
      border-radius: 42px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      overflow-y: auto;
    }
    .reviewLayer.typeRead {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0 !important;
      height: auto;
      overflow-y: auto;
      margin: 0;
      max-height: inherit;
      width: 100%;
      left: 0;
      border-radius: 0;
      border: 0;
      .close {
        right: 10px;
        top: 20px;
      }
      .prdInfo {
        padding-left: 110px;
        .heading {
          font-size: 18px;
        }
      }
      .ec-board-grade {
        margin:0 0 10px;
      }
      .reviewContent {
        order: 2;
        width: calc(100% - 40px);
        border-right: 0;
        padding: 0;
        margin: 20px 20px;
        overflow-y: hidden;
        border-bottom: 0;
        .view {
          .text {
            font-size: 16px;
          }
        }
      }
      .fixedBar {
        order: 1;
        width: calc(100% - 40px);
        padding: 0 0 20px;
        margin: 0 20px;
        border-bottom: 1px solid #000000;
      }
    }
    .writerInfo {
      width: 100%;
      padding: 50px 0 0 0;
      .heading {
        font-size: 14px;
      }
      .info {
        margin-bottom: 20px;
        &::after {
          content: '';
          display: block;
          clear:both;
        }
        dl {
          float: left;
          width: 50%;
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.reviewArea .reviewSearch .ctrl .btnSearch {
  top: 8px;
  &:after {
    top: 5px;
  }
}