@use 'mixins';

// search 
.search {
	.search__recommend {
		display: none;
	}
	.search__result {
		.search__text {
			font-size: 18px;
			letter-spacing: -0.025em;
			text-align: center;
			@include mixins.PtdRegular();
		}
		.menu {
			margin-top: 110px;
		}
	}
}