@use 'mixins';
@use 'sprite/icons';
@use 'breakpoints';

// search 
.search {
	.search__result {
		padding-top: 40px;
		.search__text {
			font-size: 18px;
			letter-spacing: -0.025em;
			text-align: center;
			@include mixins.PtdRegular();
		}

		.product-list {
			&:not(:first-child) {
				margin-top: 50px;
			}
		}
	}

	@include breakpoints.mobile() {
		.search__result {
			padding-top: 0;
			.search__text {
				padding: 0 15px;
				font-size: 14px;
				line-height: 18px;
				.search__keyword {
					display: block;
				}
			}

			.product-list {
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
		}
	}
}