@use 'mixins';
@use 'breakpoints';

// menu
.menu {
	.menu__container {
		overflow: hidden;
	}
	.menu__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -4px;
	}
	.menu__item {
		width: calc(100% / 3 - 4px);
		margin-left: 4px;
	}
	.menu__link {
		display: block;
	}
	.menu__link--none {
		pointer-events: none;
	}
	.menu__round {
		position: relative;
		padding-top: 112.5%;
		// border-radius: 42px;
		> .menu__inner {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		> .menu__inner--center {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .menu__round--darkgreen {
	// 	background: {
	// 		color: #b3f977;
	// 	}
	// }
	// .menu__round--lightgreen {
	// 	background: {
	// 		color: #b3f877;
	// 	}
	// }
	// .menu__round--cyan {
	// 	background: {
	// 		color: #5eecfa;
	// 	}
	// }
	// .menu__round--yellow {
	// 	background: {
	// 		color: #fffe72;
	// 	}
	// }
	// .menu__round--orange {
	// 	background: {
	// 		color: #fb9739;
	// 	}
	// }
	// .menu__round--darkpink {
	// 	background: {
	// 		color: #ffb5d1;
	// 	}
	// }
	// .menu__round--lightpink {
	// 	background: {
	// 		color: #ffb4d2;
	// 	}
	// }
	// .menu__round--purple {
	// 	background: {
	// 		color: #b8adf1;
	// 	}
	// }
	.menu__category {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 380px;
		height: 180px;
		border-radius: 100vw;
		background-color: #fff;
		font-size: 70px;
		// line-height: 195px;
	}
	.menu__swiper {
		height: 100%;
	}
	.menu__img {
		// position: absolute;
		// left: 50%;
		// top: 50%;
		// @include mixins.translate(-50%, -50%);
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			border-radius: 42px;
		}
	}
	.menu__info {
		display: flex;
		align-items: center;
		padding: 10px 20px 55px;
		.menu__right {
			display: flex;
			align-items: center;
			flex: 1;
		}
	}
	.menu__name {
		font-size: 14px;
		line-height: 18px;
		@include mixins.PtdRegular();
	}
	.menu__coupon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		margin: 0 auto 0 8px;
		padding: 0 6px 0 7px;
		border: 1px solid #000;
		border-radius: 1em;
		font-weight: 500;
		font-size: 10px;
		letter-spacing: -0.05em;
	}
	.menu__price {
		line-height: 18px;
		@include mixins.PtdRegular();
	}
	.menu__discount {
		color: #999;
		margin: 0 10px 0 auto;
		line-height: 18px;
		text-decoration: line-through;
		@include mixins.PtdRegular();
	}
	
	.marquee {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		width: 100%;
		height: 56px;
		clip-path: inset(0 round 42px 42px 0 0);
		background-color: #fc4f03;
	}
	
	@include breakpoints.mobile() {
		.menu__list {
			margin-left: -2px;
		}
		.menu__item {
			width: calc(50% - 2px);
			margin-left: 2px;
		}
		.menu__round {
			padding-top: 133.33%;
			// border-radius: 21px;
		}
		.menu__img {
			img {
				border-radius: 21px;
			}
		}
		.menu__info {
			display: block;
			padding: 10px 8px 15px;
		}
		.menu__name {
			font-size: 11px;
			line-height: 13px;
		}
		.menu__price {
			font-size: 11px;
			line-height: 13px;
		}
		.menu__discount {
			margin-right: 5px;
			font-size: 11px;
			line-height: 13px;
		}
		.menu__coupon {
			justify-content: flex-start;
			margin: 2px 4px 0 0;
			font-size: 11px;
		}

		.marquee {
			height: 28.5px;
			clip-path: inset(0 round 21px 21px 0 0);
			.marquee__mask {
				height: 28.5px;
			}
		}
	}
}