@use 'mixins';
@use 'sprite/icons';
@use 'sprite/mo_icons';
@use 'breakpoints';

// menu
.menu {
	.menu__container {
		overflow: hidden;
	}
	.menu__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -4px;
	}
	.menu__item {
		position: relative;
		width: calc(100% / 3 - 4px);
		margin-left: 4px;
	}
	.menu__link {
		display: block;
		height: 100%;
	}
	.menu__link--none {
		pointer-events: none;
	}
	.menu__round {
		position: relative;
		padding-top: 112.5%;
		// border-radius: 42px;
		> .menu__inner {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		// > .menu__inner--center {
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// }
	}
	// .menu__round--darkgreen {
	// 	background: {
	// 		color: #b3f977;
	// 	}
	// }
	// .menu__round--lightgreen {
	// 	background: {
	// 		color: #b3f877;
	// 	}
	// }
	// .menu__round--cyan {
	// 	background: {
	// 		color: #5eecfa;
	// 	}
	// }
	// .menu__round--yellow {
	// 	background: {
	// 		color: #fffe72;
	// 	}
	// }
	// .menu__round--orange {
	// 	background: {
	// 		color: #fb9739;
	// 	}
	// }
	// .menu__round--darkpink {
	// 	background: {
	// 		color: #ffb5d1;
	// 	}
	// }
	// .menu__round--lightpink {
	// 	background: {
	// 		color: #ffb4d2;
	// 	}
	// }
	// .menu__round--purple {
	// 	background: {
	// 		color: #b8adf1;
	// 	}
	// }
	.menu__tags {
		position: absolute;
		left: 36px;
		top: 36px;
		z-index: 5;
	}
	.menu__tag {
		display: flex;
		align-items: center;
		height: 40px;
		padding: 0 12px;
		border: 1px solid #000;
		border-radius: 100vw;
		background-color: #fff;
		font-size: 30px;
		letter-spacing: -0.05em;
		i {
			display: block;
			margin-right: 7px;
		}
	}
	.menu__tag--celeb {
		i {
			@include icons.retina-sprite(icons.$ico-menu-tag-celeb-group);
		}
	}
	.menu__tag--picks {
		i {
			@include icons.retina-sprite(icons.$ico-menu-tag-picks-group);
		}
	}
	.menu__tag--funkplay {
		i {
			@include icons.retina-sprite(icons.$ico-menu-tag-funkplay-group);
		}
	}
	.menu__category {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 380px;
		height: 180px;
		margin: -90px 0 0 -190px;
		border-radius: 100vw;
		background-color: #fff;
		font-size: 70px;
		// line-height: 195px;
	}
	.menu__swiper {
		height: 100%;
	}
	.menu__img {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			border-radius: 72px;
		}
	}
	.menu__info {
		display: flex;
		align-items: center;
		padding: 10px 20px 55px;
		.menu__right {
			display: flex;
			align-items: center;
			flex: 1;
		}
	}
	.menu__name {
		font-size: 14px;
		line-height: 18px;
		@include mixins.PtdRegular();
	}
	.menu__event {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		margin: 0 auto 0 8px;
		padding: 0 6px 0 7px;
		border: 1px solid #000;
		border-radius: 1em;
		font-weight: 500;
		font-size: 10px;
		letter-spacing: -0.05em;
	}
	.menu__price {
		line-height: 18px;
		@include mixins.PtdRegular();
	}
	.menu__discount {
		color: #999;
		margin: 0 10px 0 auto;
		line-height: 18px;
		text-decoration: line-through;
		@include mixins.PtdRegular();
	}
	.menu__layer {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
		.menu__dimmed {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
		> .menu__buttons {
			align-items: flex-end;
			height: 100%;
			.menu__button {
				position: relative;
				z-index: 5;
				background-color: #fff;
				color: #000;
			}
		}
	}
	.menu__layer--opened {
		display: block;
	}
	.menu__buttons {
		display: flex;
		padding: 0 4px 4px;
		.menu__button {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 142px;
			border-radius: 72px;
			background-color: #000;
			color: #fff;
			font-weight: 500;
			font-size: 36px;
			letter-spacing: -0.025em;
			&:not(:first-child) {
				margin-left: 4px;
			}
		}
	}
	.menu__option {
		display: none;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
	}
	.menu__option--opened {
		display: flex;
	}
	.menu__sizes {
		display: flex;
		flex-wrap: wrap;
		margin: -11px 0 auto -11px;
		padding: 14px 14px 0;
		> div {
			position: relative;
			padding-top: calc(100% / 3 - 11px);
			width: calc(100% / 3 - 11px);
			margin: 11px 0 0 11px;
		}
		.menu__size {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border: 1px solid #000;
			border-radius: 50%;
			font-size: 6.25vw;
			letter-spacing: -0.02em;
			&:focus,
			&:hover {
				background-color: #fff;
			}
		}
		.menu__size--selected {
			background-color: #fff;
		}
		.menu__size--disabled {
			opacity: .2;
			pointer-events: none;
		}
	}
	.menu__count {
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 84px;
		margin: 0 4px 4px;
		padding: 0 25px;
		border-radius: 100vw;
		background-color: #fff;
	}
	.menu__current {
		font-weight: 500;
		font-size: 36px;
		letter-spacing: -0.04em;
	}
	.menu__close {
		position: absolute;
		right: 27px;
		bottom: 266px;
		width: 42px;
		height: 42px;
		border: 1px solid #000;
		border-radius: 50%;
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 21px;
			height: 2px;
			background-color: #000;
		}
		&:before {
			@include mixins.transform(translate(-50%, -50%) rotate(45deg));
		}
		&:after {
			@include mixins.transform(translate(-50%, -50%) rotate(-45deg));
		}
	}

	.marquee {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		width: 100%;
		height: 72px;
		clip-path: inset(0 round 72px 72px 0 0);
		background-color: #fc4f03;
	}
	
	@include breakpoints.mobile() {
		.menu__list {
			margin-left: -2px;
		}
		.menu__item {
			width: calc(50% - 2px);
			margin-left: 2px;
		}
		.menu__round {
			padding-top: 133.33%;
			// border-radius: 21px;
		}
		.menu__category {
			width: 170px;
			height: 83px;
			font-size: 28px;
			margin: -41.5px 0 0 -85px;
		}
		.menu__img {
			img {
				border-radius: 21px;
			}
		}
		.menu__info {
			display: block;
			padding: 10px 8px 15px;
		}
		.menu__name {
			font-size: 11px;
			line-height: 13px;
		}
		.menu__price {
			font-size: 11px;
			line-height: 13px;
		}
		.menu__discount {
			margin-right: 5px;
			font-size: 11px;
			line-height: 13px;
		}
		.menu__event {
			justify-content: flex-start;
			margin: 2px 4px 0 0;
			font-size: 11px;
		}

		.marquee {
			height: 28.5px;
			clip-path: inset(0 round 21px 21px 0 0);
			.marquee__mask {
				height: 28.5px;
			}
		}
	}
}