@use 'breakpoints';
@use 'mixins';

// main
.container {
	padding-top: 0;
}

.visual {
	.visual__container {
		height: 100vh;
		background-color: #5eecfa;
		.swiper-container {
			height: 100%;
		}
		.swiper-slide {
			.visual__contents--fadein {
				opacity: 0;
				animation: visualCont .5s linear forwards;
				animation-delay: .35s;
			}
		}
		.swiper-pagination {
			display: flex;
			left: calc(510px - 31px);
			bottom: 240px;
			width: auto;
			color: #fff;
			font-weight: 600;
			font-size: 18px;
			transition: none;
		}
	}
	.visual__mask {
		overflow: hidden;
		position: relative;
		height: 100%;
		animation: visual .7s linear forwards;
	}
	.visual__video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		video {
			width: 100%;
			height: 100%;
			border-radius: 42px;
			object-fit: cover;
		}
	}
	.visual__contents {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 100%;
		color: #fff;
		text-align: center;
	}
	.visual__theme {
		font-weight: 600;
		font-size: 18px;
		letter-spacing: -0.04em;
	}
	.visual__title {
		margin: 40px 0;
		font-size: 160px;
		line-height: 130px;
		letter-spacing: -0.04em;
	}
	.visual__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 220px;
		height: 60px;
		border-radius: 1em;
		background-color: #fff;
		color: #000;
		font-size: 38px;
		// line-height: 70px;
		text-align: center;
	}
	.visual__control {
		position: absolute;
		left: 20px;
		bottom: 20px;
		z-index: 1;
		width: 490px;
		height: 210px;
		border-radius: 36px;
		background-color: #fff;
		cursor: pointer;
		.visual__video {
			visibility: hidden;
			video {
				border-radius: 32px;
			}
		}
		.visual__video--visible {
			visibility: visible;
		}

		.marquee {
			height: 100%;
			.marquee__mask {
				height: 100%;
			}
			.marquee__loop {
				.marquee__text {
					margin: 0 20px;
					font-weight: 500;
					font-size: 80px;
					// line-height: 225px;
					letter-spacing: -0.04em;
				}
			}
		}
	}
	
	@include breakpoints.mobile() {
		.visual__container {
			.swiper-pagination {
				left: calc(50% - 20px);
				bottom: 111px;
				font-size: 12px;
			}
		}
		.visual__video {
			video {
				border-radius: 34px;
			}
		}
		.visual__theme {
			font-size: 12px;
		}
		.visual__title {
			margin: 20px;
			font-size: 62px;
			line-height: 54px;
		}
		.visual__link {
			width: 92px;
			height: 31px;
			font-size: 19px;
		}
		.visual__control {
			left: 0;
			bottom: 0;
			width: 50%;
			height: 105px;

			.marquee {
				.marquee__loop {
					.marquee__text {
						margin: 0 12.5px;
						font-weight: 400;
						font-size: 40px;
					}
				}
			}
		}
	}
}

.best-menu {
	.best-menu__list {
		padding: 50px 0;
		> .best-menu__row {
			padding: 50px 20px;
		}
	}
	.best-menu__row {
		display: flex;
		align-items: stretch;
	}
	.best-menu__row--split {
		.best-menu__col {
			width: 50%;
			> .best-menu__item {
				width: 100%;
			}
		}
		.best-menu__col--split {
			display: flex;
			flex-wrap: wrap;
			margin-top: -50px;
			> .best-menu__item {
				width: 50%;
				height: 50%;
				padding-top: 50px;
			}
		}
	}
	.best-menu__item {
		width: 25%;
		height: 100%;
		padding: 0 50px;
		.swiper-container {
			height: 100%;
		}
		.swiper-wrapper {
			align-items: stretch;
		}
		.swiper-slide {
			height: auto;
		}
	}
	.best-menu__inner {
		height: 100%;
	}
	.best-menu__img {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		text-align: center;
		img {
			height: 100%;
			border-radius: 42px;
		}
	}
	.best-menu__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.best-menu__info--green {
		color: #9af54c;
		.best-menu__link {
			border-color: #9af54c;
			&:focus,
			&:hover {
				background-color: #9af54c;
			}
		}
	}
	.best-menu__info--cyan {
		color: #b2f9ea;
		.best-menu__link {
			border-color: #b2f9ea;
			&:focus,
			&:hover {
				background-color: #b2f9ea;
			}
		}
	}
	.best-menu__info--yellow {
		color: #fffe72;
		.best-menu__link {
			border-color: #fffe72;
			&:focus,
			&:hover {
				background-color: #fffe72;
			}
		}
	}
	.best-menu__info--orange {
		color: #fc9738;
		.best-menu__link {
			border-color: #fc9738;
			&:focus,
			&:hover {
				background-color: #fc9738;
			}
		}
	}
	.best-menu__info--purple {
		color: #b7adf0;
		.best-menu__link {
			border-color: #b7adf0;
			&:focus,
			&:hover {
				background-color: #b7adf0;
			}
		}
	}
	.best-menu__info--pink {
		color: #ff9bc1;
		.best-menu__link {
			border-color: #ff9bc1;
			&:focus,
			&:hover {
				background-color: #ff9bc1;
			}
		}
	}
	.best-menu__category {
		margin-bottom: 10px;
		font-weight: 500;
		letter-spacing: -0.02em;
		text-transform: uppercase;
	}
	.best-menu__name {
		font-weight: 500;
		font-size: 48px;
		letter-spacing: -0.02em;
		text-transform: uppercase;
	}
	.best-menu__link {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		width: 128px;
		height: 44px;
		border-width: 1px;
		border-style: solid;
		border-radius: 1em;
		font-size: 26px;
		// line-height: 46px;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		&:focus,
		&:hover {
			color: #000;
		}
	}
	
	.marquee {
		.marquee__mask {
			height: 54px;
			background-color: #ffb5d1;
		}
		.marquee__loop {
			.marquee__text {
				margin: 0 50px;
				color: #fffe72;
				font-size: 48px;
				letter-spacing: -0.05em;
				// line-height: 65px;
			}
		}
	}
	
	@include breakpoints.mobile() {
		.best-menu__list {
			padding: 30px 0;
			> .best-menu__row {
				padding: 0;
			}
		}
		.best-menu__row {
			flex-wrap: wrap;
			.best-menu__col {
				width: 100%;
				margin-top: 0;
				> .best-menu__item {
					padding-top: 15px;
				}
			}
		}
		.best-menu__item {
			width: 50%;
			padding: 30px 15px;
		}
		.best-menu__img {
			img {
				border-radius: 26px;
			}
		}
		.best-menu__category {
			font-size: 8px;
		}
		.best-menu__name {
			font-size: 22px;
		}
		.best-menu__link {
			width: 53px;
			height: 18px;
			font-size: 12px;
		}
		.marquee {
			.marquee__mask {
				height: 45px;
			}
			.marquee__loop {
				.marquee__text {
					margin: 0 24px;
					font-size: 30px;
				}
			}
		}
	}
}

.celeb-curation {
	.celeb-curation__container {
		padding: 105px 32px;
	}
	.celeb-curation__screen {
		position: relative;
		overflow: hidden;
	}
	.celeb-curation__screen--opened {
		.celeb-curation__curtain {
			&:first-child {
				animation: screenTopCurtain 1s linear forwards;
				.celeb-curation__text {
					animation: screenTopText 1s linear forwards;
				}
			}
			&:last-child {
				animation: screenBottomCurtain 1s linear forwards;
				.celeb-curation__text {
					animation: screenBottomText 1s linear forwards;
				}
			}
		}
		.celeb-curation__swiper {
			animation: screen 1s linear forwards;
		}
	}
	.celeb-curation__curtain {
		display: flex;
		position: absolute;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 50%;
		background-color: #fff;
		&:first-child {
			align-items: flex-end;
			top: 0;
		}
		&:last-child {
			bottom: 0;
		}
		.celeb-curation__text {
			display: inline-flex;
			position: relative;
			left: 50%;
			color: #5eecfa;
			font-size: 225px;
			letter-spacing: -0.02em;
			text-align: center;
			@include mixins.Druk();
			@include mixins.translate(-50%, 0);
		}
	}
	.celeb-curation__swiper {
		.swiper-button-prev,
		.swiper-button-next {
			display: flex;
			justify-content: center;
			align-items: center;
			top: auto;
			bottom: 32px;
			width: 162px;
			height: 60px;
			margin-top: 0;
			border: 1px solid #000;
			border-radius: 1em;
			background: none;
			font-size: 32px;
			// line-height: 62px;
			&:focus,
			&:hover {
				background-color: #5eecfa;
			}
			&.swiper-button-disabled {
				display: none;
			}
		}
		.swiper-button-prev {
			left: auto;
			right: 202px;
		}
		.swiper-button-next {
			right: 32px;
		}
	}

	.menu {
		.menu__list {
			margin: 0 0 0 -12px;
		}
		.menu__item {
			width: calc(50% - 12px);
			margin: 0 0 0 12px;
			// &:first-child {
			// 	.menu__img {
					// position: static;
					// height: 100%;
					// @include mixins.translate(0, 0);
					// img {
						// width: 100%;
						// height: 100%;
						// border-radius: 42px;
				// 	}
				// }
			// }
		}
		.menu__round {
			padding-top: 84.6%;
		}
		.menu__info {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 0 32px 32px;
		}
		.menu__name {
			font-size: 32px;
			line-height: 36px;
			letter-spacing: -0.01em;
			@include mixins.ATr();
		}
	}
	
	@include breakpoints.mobile() {
		.celeb-curation__container {
			padding: 52.5px 16px;
		}
		.celeb-curation__curtain {
			.celeb-curation__text {
				font-size: 32px;
				letter-spacing: -0.02em;
			}
		}
		.celeb-curation__swiper {
			.swiper-button-prev,
			.swiper-button-next {
				bottom: 16px;
				width: 63.5px;
				height: 27px;
				font-size: 12px;
			}
			.swiper-button-prev {
				left: auto;
				right: 83.5px;
			}
			.swiper-button-next {
				right: 16px;
			}
		}

		.menu {
			.menu__list {
				display: block;
				margin: -10px 0 0 0;
			}
			.menu__item {
				width: auto;
				margin: 10px 0 0 0;
				// &:first-child {
				// 	.menu__img {
				// 		img {
				// 			border-radius: 21px;
				// 		}
				// 	}
				// }
			}
			// .menu__round {
			// 	border-radius: 21px;
			// }
			.menu__info {
				padding: 0 16px 16px;
			}
			.menu__name {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
}

.menu {
	.menu__list {
		margin: -2px 0 0 -2px;
	}
	.menu__item {
		width: calc(50% - 2px);
		margin: 2px 0 0 2px;
	}

 	@include breakpoints.mobile() {
		.menu__list {
			display: block;
			margin: -1px 0 0 0;
		}
		.menu__item {
			width: auto;
			margin: 1px 0 0 0;
		}
		.menu__round {
			padding-top: 112.5%;
			border-radius: 32px;
		}
		.menu__category {
			width: 170px;
			height: 83px;
			font-size: 28px;
		}
	}
}

@keyframes visual {
	0% {
		clip-path: inset(50% round 42px);
	}
	50% {
		clip-path: inset(30% round 42px);
	}
	100% {
		clip-path: inset(0 round 42px);
	}
}

@keyframes visualCont {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes screenTopCurtain {
	0% {
		height: 50%;
	}
	70% {
		height: 150px;
	}
	100% {
		height: 80px;
	}
}

@include breakpoints.mobile() {
	@keyframes screenTopCurtain {
		0% {
			height: 50%;
		}
		70% {
			height: 28px;
		}
		100% {
			height: 21px;
		}
	}
}

@keyframes screenBottomCurtain {
	0% {
		height: 50%;
	}
	70% {
		height: 150px;
	}
	100% {
		height: 80px;
	}
}

@include breakpoints.mobile() {
	@keyframes screenBottomCurtain {
		0% {
			height: 50%;
		}
		70% {
			height: 28px;
		}
		100% {
			height: 21px;
		}
	}
}

@keyframes screenTopText {
	0% {
		left: 50%;
		@include mixins.translate(-50%, 0);
	}
	70% {
		left: 50%;
		font-size: 150px;
		@include mixins.translate(-50%, 0);
	}
	100% {
		left: 0;
		font-size: 80px;
		@include mixins.translate(0, 0);
	}
}

@include breakpoints.mobile() {
	@keyframes screenTopText {
		0% {
			left: 50%;
			@include mixins.translate(-50%, 0);
		}
		70% {
			left: 50%;
			font-size: 28px;
			@include mixins.translate(-50%, 0);
		}
		100% {
			left: 0;
			font-size: 21px;
			@include mixins.translate(0, 0);
		}
	}
}

@keyframes screenBottomText {
	0% {
		left: 50%;
		@include mixins.translate(-50%, 0);
	}
	70% {
		left: 50%;
		font-size: 150px;
		@include mixins.translate(-50%, 0);
	}
	100% {
		left: 100%;
		font-size: 80px;
		@include mixins.translate(-100%, 0);
	}
}

@include breakpoints.mobile() {
	@keyframes screenBottomText {
		0% {
			left: 50%;
			@include mixins.translate(-50%, 0);
		}
		70% {
			left: 50%;
			font-size: 28px;
			@include mixins.translate(-50%, 0);
		}
		100% {
			left: 100%;
			font-size: 21px;
			@include mixins.translate(-100%, 0);
		}
	}
}

@keyframes screen {
	0% {
		margin: 0;
		padding: 0;
	}
	100% {
		padding: 90px 0;
	}
}

@include breakpoints.mobile() {
	@keyframes screen {
		0% {
			margin: 0;
			padding: 0;
		}
		100% {
			padding: 28px 0;
		}
	}
}