// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-header-funkplay-off-name: 'bg_header_funkplay_off';
$bg-header-funkplay-off-x: 111px;
$bg-header-funkplay-off-y: 48px;
$bg-header-funkplay-off-offset-x: -111px;
$bg-header-funkplay-off-offset-y: -48px;
$bg-header-funkplay-off-width: 47px;
$bg-header-funkplay-off-height: 32px;
$bg-header-funkplay-off-total-width: 178px;
$bg-header-funkplay-off-total-height: 170px;
$bg-header-funkplay-off-image: '../images/sprite/icons.png';
$bg-header-funkplay-off: (111px, 48px, -111px, -48px, 47px, 32px, 178px, 170px, '../images/sprite/icons.png', 'bg_header_funkplay_off', );
$bg-header-funkplay-on-name: 'bg_header_funkplay_on';
$bg-header-funkplay-on-x: 0px;
$bg-header-funkplay-on-y: 103px;
$bg-header-funkplay-on-offset-x: 0px;
$bg-header-funkplay-on-offset-y: -103px;
$bg-header-funkplay-on-width: 47px;
$bg-header-funkplay-on-height: 32px;
$bg-header-funkplay-on-total-width: 178px;
$bg-header-funkplay-on-total-height: 170px;
$bg-header-funkplay-on-image: '../images/sprite/icons.png';
$bg-header-funkplay-on: (0px, 103px, 0px, -103px, 47px, 32px, 178px, 170px, '../images/sprite/icons.png', 'bg_header_funkplay_on', );
$bg-select-name: 'bg_select';
$bg-select-x: 158px;
$bg-select-y: 68px;
$bg-select-offset-x: -158px;
$bg-select-offset-y: -68px;
$bg-select-width: 11px;
$bg-select-height: 6px;
$bg-select-total-width: 178px;
$bg-select-total-height: 170px;
$bg-select-image: '../images/sprite/icons.png';
$bg-select: (158px, 68px, -158px, -68px, 11px, 6px, 178px, 170px, '../images/sprite/icons.png', 'bg_select', );
$btn-header-search-name: 'btn_header_search';
$btn-header-search-x: 47px;
$btn-header-search-y: 103px;
$btn-header-search-offset-x: -47px;
$btn-header-search-offset-y: -103px;
$btn-header-search-width: 34px;
$btn-header-search-height: 21px;
$btn-header-search-total-width: 178px;
$btn-header-search-total-height: 170px;
$btn-header-search-image: '../images/sprite/icons.png';
$btn-header-search: (47px, 103px, -47px, -103px, 34px, 21px, 178px, 170px, '../images/sprite/icons.png', 'btn_header_search', );
$ico-basket-name: 'ico_basket';
$ico-basket-x: 0px;
$ico-basket-y: 0px;
$ico-basket-offset-x: 0px;
$ico-basket-offset-y: 0px;
$ico-basket-width: 111px;
$ico-basket-height: 89px;
$ico-basket-total-width: 178px;
$ico-basket-total-height: 170px;
$ico-basket-image: '../images/sprite/icons.png';
$ico-basket: (0px, 0px, 0px, 0px, 111px, 89px, 178px, 170px, '../images/sprite/icons.png', 'ico_basket', );
$ico-camera-name: 'ico_camera';
$ico-camera-x: 111px;
$ico-camera-y: 0px;
$ico-camera-offset-x: -111px;
$ico-camera-offset-y: 0px;
$ico-camera-width: 67px;
$ico-camera-height: 48px;
$ico-camera-total-width: 178px;
$ico-camera-total-height: 170px;
$ico-camera-image: '../images/sprite/icons.png';
$ico-camera: (111px, 0px, -111px, 0px, 67px, 48px, 178px, 170px, '../images/sprite/icons.png', 'ico_camera', );
$ico-close-name: 'ico_close';
$ico-close-x: 0px;
$ico-close-y: 152px;
$ico-close-offset-x: 0px;
$ico-close-offset-y: -152px;
$ico-close-width: 18px;
$ico-close-height: 18px;
$ico-close-total-width: 178px;
$ico-close-total-height: 170px;
$ico-close-image: '../images/sprite/icons.png';
$ico-close: (0px, 152px, 0px, -152px, 18px, 18px, 178px, 170px, '../images/sprite/icons.png', 'ico_close', );
$ico-header-search-name: 'ico_header_search';
$ico-header-search-x: 20px;
$ico-header-search-y: 135px;
$ico-header-search-offset-x: -20px;
$ico-header-search-offset-y: -135px;
$ico-header-search-width: 15px;
$ico-header-search-height: 15px;
$ico-header-search-total-width: 178px;
$ico-header-search-total-height: 170px;
$ico-header-search-image: '../images/sprite/icons.png';
$ico-header-search: (20px, 135px, -20px, -135px, 15px, 15px, 178px, 170px, '../images/sprite/icons.png', 'ico_header_search', );
$ico-like-name: 'ico_like';
$ico-like-x: 141px;
$ico-like-y: 103px;
$ico-like-offset-x: -141px;
$ico-like-offset-y: -103px;
$ico-like-width: 20px;
$ico-like-height: 17px;
$ico-like-total-width: 178px;
$ico-like-total-height: 170px;
$ico-like-image: '../images/sprite/icons.png';
$ico-like: (141px, 103px, -141px, -103px, 20px, 17px, 178px, 170px, '../images/sprite/icons.png', 'ico_like', );
$ico-like-on-name: 'ico_like_on';
$ico-like-on-x: 0px;
$ico-like-on-y: 135px;
$ico-like-on-offset-x: 0px;
$ico-like-on-offset-y: -135px;
$ico-like-on-width: 20px;
$ico-like-on-height: 17px;
$ico-like-on-total-width: 178px;
$ico-like-on-total-height: 170px;
$ico-like-on-image: '../images/sprite/icons.png';
$ico-like-on: (0px, 135px, 0px, -135px, 20px, 17px, 178px, 170px, '../images/sprite/icons.png', 'ico_like_on', );
$ico-menu-tag-celeb-name: 'ico_menu_tag_celeb';
$ico-menu-tag-celeb-x: 122px;
$ico-menu-tag-celeb-y: 103px;
$ico-menu-tag-celeb-offset-x: -122px;
$ico-menu-tag-celeb-offset-y: -103px;
$ico-menu-tag-celeb-width: 19px;
$ico-menu-tag-celeb-height: 19px;
$ico-menu-tag-celeb-total-width: 178px;
$ico-menu-tag-celeb-total-height: 170px;
$ico-menu-tag-celeb-image: '../images/sprite/icons.png';
$ico-menu-tag-celeb: (122px, 103px, -122px, -103px, 19px, 19px, 178px, 170px, '../images/sprite/icons.png', 'ico_menu_tag_celeb', );
$ico-menu-tag-funkplay-name: 'ico_menu_tag_funkplay';
$ico-menu-tag-funkplay-x: 158px;
$ico-menu-tag-funkplay-y: 48px;
$ico-menu-tag-funkplay-offset-x: -158px;
$ico-menu-tag-funkplay-offset-y: -48px;
$ico-menu-tag-funkplay-width: 20px;
$ico-menu-tag-funkplay-height: 20px;
$ico-menu-tag-funkplay-total-width: 178px;
$ico-menu-tag-funkplay-total-height: 170px;
$ico-menu-tag-funkplay-image: '../images/sprite/icons.png';
$ico-menu-tag-funkplay: (158px, 48px, -158px, -48px, 20px, 20px, 178px, 170px, '../images/sprite/icons.png', 'ico_menu_tag_funkplay', );
$ico-menu-tag-picks-name: 'ico_menu_tag_picks';
$ico-menu-tag-picks-x: 102px;
$ico-menu-tag-picks-y: 103px;
$ico-menu-tag-picks-offset-x: -102px;
$ico-menu-tag-picks-offset-y: -103px;
$ico-menu-tag-picks-width: 20px;
$ico-menu-tag-picks-height: 20px;
$ico-menu-tag-picks-total-width: 178px;
$ico-menu-tag-picks-total-height: 170px;
$ico-menu-tag-picks-image: '../images/sprite/icons.png';
$ico-menu-tag-picks: (102px, 103px, -102px, -103px, 20px, 20px, 178px, 170px, '../images/sprite/icons.png', 'ico_menu_tag_picks', );
$ico-share-name: 'ico_share';
$ico-share-x: 81px;
$ico-share-y: 103px;
$ico-share-offset-x: -81px;
$ico-share-offset-y: -103px;
$ico-share-width: 21px;
$ico-share-height: 20px;
$ico-share-total-width: 178px;
$ico-share-total-height: 170px;
$ico-share-image: '../images/sprite/icons.png';
$ico-share: (81px, 103px, -81px, -103px, 21px, 20px, 178px, 170px, '../images/sprite/icons.png', 'ico_share', );
$ico-star-name: 'ico_star';
$ico-star-x: 161px;
$ico-star-y: 103px;
$ico-star-offset-x: -161px;
$ico-star-offset-y: -103px;
$ico-star-width: 16px;
$ico-star-height: 16px;
$ico-star-total-width: 178px;
$ico-star-total-height: 170px;
$ico-star-image: '../images/sprite/icons.png';
$ico-star: (161px, 103px, -161px, -103px, 16px, 16px, 178px, 170px, '../images/sprite/icons.png', 'ico_star', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 89px;
$logo-offset-x: 0px;
$logo-offset-y: -89px;
$logo-width: 161px;
$logo-height: 14px;
$logo-total-width: 178px;
$logo-total-height: 170px;
$logo-image: '../images/sprite/icons.png';
$logo: (0px, 89px, 0px, -89px, 161px, 14px, 178px, 170px, '../images/sprite/icons.png', 'logo', );
$bg-header-funkplay-off-2x-name: 'bg_header_funkplay_off@2x';
$bg-header-funkplay-off-2x-x: 222px;
$bg-header-funkplay-off-2x-y: 96px;
$bg-header-funkplay-off-2x-offset-x: -222px;
$bg-header-funkplay-off-2x-offset-y: -96px;
$bg-header-funkplay-off-2x-width: 94px;
$bg-header-funkplay-off-2x-height: 64px;
$bg-header-funkplay-off-2x-total-width: 356px;
$bg-header-funkplay-off-2x-total-height: 340px;
$bg-header-funkplay-off-2x-image: '../images/sprite/icons@2x.png';
$bg-header-funkplay-off-2x: (222px, 96px, -222px, -96px, 94px, 64px, 356px, 340px, '../images/sprite/icons@2x.png', 'bg_header_funkplay_off@2x', );
$bg-header-funkplay-on-2x-name: 'bg_header_funkplay_on@2x';
$bg-header-funkplay-on-2x-x: 0px;
$bg-header-funkplay-on-2x-y: 206px;
$bg-header-funkplay-on-2x-offset-x: 0px;
$bg-header-funkplay-on-2x-offset-y: -206px;
$bg-header-funkplay-on-2x-width: 94px;
$bg-header-funkplay-on-2x-height: 64px;
$bg-header-funkplay-on-2x-total-width: 356px;
$bg-header-funkplay-on-2x-total-height: 340px;
$bg-header-funkplay-on-2x-image: '../images/sprite/icons@2x.png';
$bg-header-funkplay-on-2x: (0px, 206px, 0px, -206px, 94px, 64px, 356px, 340px, '../images/sprite/icons@2x.png', 'bg_header_funkplay_on@2x', );
$bg-select-2x-name: 'bg_select@2x';
$bg-select-2x-x: 316px;
$bg-select-2x-y: 136px;
$bg-select-2x-offset-x: -316px;
$bg-select-2x-offset-y: -136px;
$bg-select-2x-width: 22px;
$bg-select-2x-height: 12px;
$bg-select-2x-total-width: 356px;
$bg-select-2x-total-height: 340px;
$bg-select-2x-image: '../images/sprite/icons@2x.png';
$bg-select-2x: (316px, 136px, -316px, -136px, 22px, 12px, 356px, 340px, '../images/sprite/icons@2x.png', 'bg_select@2x', );
$btn-header-search-2x-name: 'btn_header_search@2x';
$btn-header-search-2x-x: 94px;
$btn-header-search-2x-y: 206px;
$btn-header-search-2x-offset-x: -94px;
$btn-header-search-2x-offset-y: -206px;
$btn-header-search-2x-width: 68px;
$btn-header-search-2x-height: 42px;
$btn-header-search-2x-total-width: 356px;
$btn-header-search-2x-total-height: 340px;
$btn-header-search-2x-image: '../images/sprite/icons@2x.png';
$btn-header-search-2x: (94px, 206px, -94px, -206px, 68px, 42px, 356px, 340px, '../images/sprite/icons@2x.png', 'btn_header_search@2x', );
$ico-basket-2x-name: 'ico_basket@2x';
$ico-basket-2x-x: 0px;
$ico-basket-2x-y: 0px;
$ico-basket-2x-offset-x: 0px;
$ico-basket-2x-offset-y: 0px;
$ico-basket-2x-width: 222px;
$ico-basket-2x-height: 178px;
$ico-basket-2x-total-width: 356px;
$ico-basket-2x-total-height: 340px;
$ico-basket-2x-image: '../images/sprite/icons@2x.png';
$ico-basket-2x: (0px, 0px, 0px, 0px, 222px, 178px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_basket@2x', );
$ico-camera-2x-name: 'ico_camera@2x';
$ico-camera-2x-x: 222px;
$ico-camera-2x-y: 0px;
$ico-camera-2x-offset-x: -222px;
$ico-camera-2x-offset-y: 0px;
$ico-camera-2x-width: 134px;
$ico-camera-2x-height: 96px;
$ico-camera-2x-total-width: 356px;
$ico-camera-2x-total-height: 340px;
$ico-camera-2x-image: '../images/sprite/icons@2x.png';
$ico-camera-2x: (222px, 0px, -222px, 0px, 134px, 96px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_camera@2x', );
$ico-close-2x-name: 'ico_close@2x';
$ico-close-2x-x: 0px;
$ico-close-2x-y: 304px;
$ico-close-2x-offset-x: 0px;
$ico-close-2x-offset-y: -304px;
$ico-close-2x-width: 36px;
$ico-close-2x-height: 36px;
$ico-close-2x-total-width: 356px;
$ico-close-2x-total-height: 340px;
$ico-close-2x-image: '../images/sprite/icons@2x.png';
$ico-close-2x: (0px, 304px, 0px, -304px, 36px, 36px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_close@2x', );
$ico-header-search-2x-name: 'ico_header_search@2x';
$ico-header-search-2x-x: 40px;
$ico-header-search-2x-y: 270px;
$ico-header-search-2x-offset-x: -40px;
$ico-header-search-2x-offset-y: -270px;
$ico-header-search-2x-width: 30px;
$ico-header-search-2x-height: 30px;
$ico-header-search-2x-total-width: 356px;
$ico-header-search-2x-total-height: 340px;
$ico-header-search-2x-image: '../images/sprite/icons@2x.png';
$ico-header-search-2x: (40px, 270px, -40px, -270px, 30px, 30px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_header_search@2x', );
$ico-like-2x-name: 'ico_like@2x';
$ico-like-2x-x: 282px;
$ico-like-2x-y: 206px;
$ico-like-2x-offset-x: -282px;
$ico-like-2x-offset-y: -206px;
$ico-like-2x-width: 40px;
$ico-like-2x-height: 34px;
$ico-like-2x-total-width: 356px;
$ico-like-2x-total-height: 340px;
$ico-like-2x-image: '../images/sprite/icons@2x.png';
$ico-like-2x: (282px, 206px, -282px, -206px, 40px, 34px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_like@2x', );
$ico-like-on-2x-name: 'ico_like_on@2x';
$ico-like-on-2x-x: 0px;
$ico-like-on-2x-y: 270px;
$ico-like-on-2x-offset-x: 0px;
$ico-like-on-2x-offset-y: -270px;
$ico-like-on-2x-width: 40px;
$ico-like-on-2x-height: 34px;
$ico-like-on-2x-total-width: 356px;
$ico-like-on-2x-total-height: 340px;
$ico-like-on-2x-image: '../images/sprite/icons@2x.png';
$ico-like-on-2x: (0px, 270px, 0px, -270px, 40px, 34px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_like_on@2x', );
$ico-menu-tag-celeb-2x-name: 'ico_menu_tag_celeb@2x';
$ico-menu-tag-celeb-2x-x: 244px;
$ico-menu-tag-celeb-2x-y: 206px;
$ico-menu-tag-celeb-2x-offset-x: -244px;
$ico-menu-tag-celeb-2x-offset-y: -206px;
$ico-menu-tag-celeb-2x-width: 38px;
$ico-menu-tag-celeb-2x-height: 38px;
$ico-menu-tag-celeb-2x-total-width: 356px;
$ico-menu-tag-celeb-2x-total-height: 340px;
$ico-menu-tag-celeb-2x-image: '../images/sprite/icons@2x.png';
$ico-menu-tag-celeb-2x: (244px, 206px, -244px, -206px, 38px, 38px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_menu_tag_celeb@2x', );
$ico-menu-tag-funkplay-2x-name: 'ico_menu_tag_funkplay@2x';
$ico-menu-tag-funkplay-2x-x: 316px;
$ico-menu-tag-funkplay-2x-y: 96px;
$ico-menu-tag-funkplay-2x-offset-x: -316px;
$ico-menu-tag-funkplay-2x-offset-y: -96px;
$ico-menu-tag-funkplay-2x-width: 40px;
$ico-menu-tag-funkplay-2x-height: 40px;
$ico-menu-tag-funkplay-2x-total-width: 356px;
$ico-menu-tag-funkplay-2x-total-height: 340px;
$ico-menu-tag-funkplay-2x-image: '../images/sprite/icons@2x.png';
$ico-menu-tag-funkplay-2x: (316px, 96px, -316px, -96px, 40px, 40px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_menu_tag_funkplay@2x', );
$ico-menu-tag-picks-2x-name: 'ico_menu_tag_picks@2x';
$ico-menu-tag-picks-2x-x: 204px;
$ico-menu-tag-picks-2x-y: 206px;
$ico-menu-tag-picks-2x-offset-x: -204px;
$ico-menu-tag-picks-2x-offset-y: -206px;
$ico-menu-tag-picks-2x-width: 40px;
$ico-menu-tag-picks-2x-height: 40px;
$ico-menu-tag-picks-2x-total-width: 356px;
$ico-menu-tag-picks-2x-total-height: 340px;
$ico-menu-tag-picks-2x-image: '../images/sprite/icons@2x.png';
$ico-menu-tag-picks-2x: (204px, 206px, -204px, -206px, 40px, 40px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_menu_tag_picks@2x', );
$ico-share-2x-name: 'ico_share@2x';
$ico-share-2x-x: 162px;
$ico-share-2x-y: 206px;
$ico-share-2x-offset-x: -162px;
$ico-share-2x-offset-y: -206px;
$ico-share-2x-width: 42px;
$ico-share-2x-height: 40px;
$ico-share-2x-total-width: 356px;
$ico-share-2x-total-height: 340px;
$ico-share-2x-image: '../images/sprite/icons@2x.png';
$ico-share-2x: (162px, 206px, -162px, -206px, 42px, 40px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_share@2x', );
$ico-star-2x-name: 'ico_star@2x';
$ico-star-2x-x: 322px;
$ico-star-2x-y: 206px;
$ico-star-2x-offset-x: -322px;
$ico-star-2x-offset-y: -206px;
$ico-star-2x-width: 32px;
$ico-star-2x-height: 32px;
$ico-star-2x-total-width: 356px;
$ico-star-2x-total-height: 340px;
$ico-star-2x-image: '../images/sprite/icons@2x.png';
$ico-star-2x: (322px, 206px, -322px, -206px, 32px, 32px, 356px, 340px, '../images/sprite/icons@2x.png', 'ico_star@2x', );
$logo-2x-name: 'logo@2x';
$logo-2x-x: 0px;
$logo-2x-y: 178px;
$logo-2x-offset-x: 0px;
$logo-2x-offset-y: -178px;
$logo-2x-width: 322px;
$logo-2x-height: 28px;
$logo-2x-total-width: 356px;
$logo-2x-total-height: 340px;
$logo-2x-image: '../images/sprite/icons@2x.png';
$logo-2x: (0px, 178px, 0px, -178px, 322px, 28px, 356px, 340px, '../images/sprite/icons@2x.png', 'logo@2x', );
$icons-width: 178px;
$icons-height: 170px;
$icons-image: '../images/sprite/icons.png';
$icons-sprites: ($bg-header-funkplay-off, $bg-header-funkplay-on, $bg-select, $btn-header-search, $ico-basket, $ico-camera, $ico-close, $ico-header-search, $ico-like, $ico-like-on, $ico-menu-tag-celeb, $ico-menu-tag-funkplay, $ico-menu-tag-picks, $ico-share, $ico-star, $logo, );
$icons: (178px, 170px, '../images/sprite/icons.png', $icons-sprites, );
$retina-spritesheet-width: 356px;
$retina-spritesheet-height: 340px;
$retina-spritesheet-image: '../images/sprite/icons@2x.png';
$retina-spritesheet-sprites: ($bg-header-funkplay-off-2x, $bg-header-funkplay-on-2x, $bg-select-2x, $btn-header-search-2x, $ico-basket-2x, $ico-camera-2x, $ico-close-2x, $ico-header-search-2x, $ico-like-2x, $ico-like-on-2x, $ico-menu-tag-celeb-2x, $ico-menu-tag-funkplay-2x, $ico-menu-tag-picks-2x, $ico-share-2x, $ico-star-2x, $logo-2x, );
$retina-spritesheet: (356px, 340px, '../images/sprite/icons@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$bg-header-funkplay-off-group-name: 'bg_header_funkplay_off';
$bg-header-funkplay-off-group: ('bg_header_funkplay_off', $bg-header-funkplay-off, $bg-header-funkplay-off-2x, );
$bg-header-funkplay-on-group-name: 'bg_header_funkplay_on';
$bg-header-funkplay-on-group: ('bg_header_funkplay_on', $bg-header-funkplay-on, $bg-header-funkplay-on-2x, );
$bg-select-group-name: 'bg_select';
$bg-select-group: ('bg_select', $bg-select, $bg-select-2x, );
$btn-header-search-group-name: 'btn_header_search';
$btn-header-search-group: ('btn_header_search', $btn-header-search, $btn-header-search-2x, );
$ico-basket-group-name: 'ico_basket';
$ico-basket-group: ('ico_basket', $ico-basket, $ico-basket-2x, );
$ico-camera-group-name: 'ico_camera';
$ico-camera-group: ('ico_camera', $ico-camera, $ico-camera-2x, );
$ico-close-group-name: 'ico_close';
$ico-close-group: ('ico_close', $ico-close, $ico-close-2x, );
$ico-header-search-group-name: 'ico_header_search';
$ico-header-search-group: ('ico_header_search', $ico-header-search, $ico-header-search-2x, );
$ico-like-group-name: 'ico_like';
$ico-like-group: ('ico_like', $ico-like, $ico-like-2x, );
$ico-like-on-group-name: 'ico_like_on';
$ico-like-on-group: ('ico_like_on', $ico-like-on, $ico-like-on-2x, );
$ico-menu-tag-celeb-group-name: 'ico_menu_tag_celeb';
$ico-menu-tag-celeb-group: ('ico_menu_tag_celeb', $ico-menu-tag-celeb, $ico-menu-tag-celeb-2x, );
$ico-menu-tag-funkplay-group-name: 'ico_menu_tag_funkplay';
$ico-menu-tag-funkplay-group: ('ico_menu_tag_funkplay', $ico-menu-tag-funkplay, $ico-menu-tag-funkplay-2x, );
$ico-menu-tag-picks-group-name: 'ico_menu_tag_picks';
$ico-menu-tag-picks-group: ('ico_menu_tag_picks', $ico-menu-tag-picks, $ico-menu-tag-picks-2x, );
$ico-share-group-name: 'ico_share';
$ico-share-group: ('ico_share', $ico-share, $ico-share-2x, );
$ico-star-group-name: 'ico_star';
$ico-star-group: ('ico_star', $ico-star, $ico-star-2x, );
$logo-group-name: 'logo';
$logo-group: ('logo', $logo, $logo-2x, );
$retina-groups: ($bg-header-funkplay-off-group, $bg-header-funkplay-on-group, $bg-select-group, $btn-header-search-group, $ico-basket-group, $ico-camera-group, $ico-close-group, $ico-header-search-group, $ico-like-group, $ico-like-on-group, $ico-menu-tag-celeb-group, $ico-menu-tag-funkplay-group, $ico-menu-tag-picks-group, $ico-share-group, $ico-star-group, $logo-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
