// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-header-funkplay-off-name: 'bg_header_funkplay_off';
$bg-header-funkplay-off-x: 0px;
$bg-header-funkplay-off-y: 103px;
$bg-header-funkplay-off-offset-x: 0px;
$bg-header-funkplay-off-offset-y: -103px;
$bg-header-funkplay-off-width: 47px;
$bg-header-funkplay-off-height: 32px;
$bg-header-funkplay-off-total-width: 178px;
$bg-header-funkplay-off-total-height: 176px;
$bg-header-funkplay-off-image: '../images/sprite/icons.png';
$bg-header-funkplay-off: (0px, 103px, 0px, -103px, 47px, 32px, 178px, 176px, '../images/sprite/icons.png', 'bg_header_funkplay_off', );
$bg-header-funkplay-on-name: 'bg_header_funkplay_on';
$bg-header-funkplay-on-x: 47px;
$bg-header-funkplay-on-y: 103px;
$bg-header-funkplay-on-offset-x: -47px;
$bg-header-funkplay-on-offset-y: -103px;
$bg-header-funkplay-on-width: 47px;
$bg-header-funkplay-on-height: 32px;
$bg-header-funkplay-on-total-width: 178px;
$bg-header-funkplay-on-total-height: 176px;
$bg-header-funkplay-on-image: '../images/sprite/icons.png';
$bg-header-funkplay-on: (47px, 103px, -47px, -103px, 47px, 32px, 178px, 176px, '../images/sprite/icons.png', 'bg_header_funkplay_on', );
$bg-select-name: 'bg_select';
$bg-select-x: 111px;
$bg-select-y: 83px;
$bg-select-offset-x: -111px;
$bg-select-offset-y: -83px;
$bg-select-width: 11px;
$bg-select-height: 6px;
$bg-select-total-width: 178px;
$bg-select-total-height: 176px;
$bg-select-image: '../images/sprite/icons.png';
$bg-select: (111px, 83px, -111px, -83px, 11px, 6px, 178px, 176px, '../images/sprite/icons.png', 'bg_select', );
$btn-header-search-name: 'btn_header_search';
$btn-header-search-x: 94px;
$btn-header-search-y: 103px;
$btn-header-search-offset-x: -94px;
$btn-header-search-offset-y: -103px;
$btn-header-search-width: 34px;
$btn-header-search-height: 21px;
$btn-header-search-total-width: 178px;
$btn-header-search-total-height: 176px;
$btn-header-search-image: '../images/sprite/icons.png';
$btn-header-search: (94px, 103px, -94px, -103px, 34px, 21px, 178px, 176px, '../images/sprite/icons.png', 'btn_header_search', );
$ico-basket-name: 'ico_basket';
$ico-basket-x: 0px;
$ico-basket-y: 0px;
$ico-basket-offset-x: 0px;
$ico-basket-offset-y: 0px;
$ico-basket-width: 111px;
$ico-basket-height: 89px;
$ico-basket-total-width: 178px;
$ico-basket-total-height: 176px;
$ico-basket-image: '../images/sprite/icons.png';
$ico-basket: (0px, 0px, 0px, 0px, 111px, 89px, 178px, 176px, '../images/sprite/icons.png', 'ico_basket', );
$ico-bk-star-name: 'ico_bk_star';
$ico-bk-star-x: 128px;
$ico-bk-star-y: 103px;
$ico-bk-star-offset-x: -128px;
$ico-bk-star-offset-y: -103px;
$ico-bk-star-width: 22px;
$ico-bk-star-height: 21px;
$ico-bk-star-total-width: 178px;
$ico-bk-star-total-height: 176px;
$ico-bk-star-image: '../images/sprite/icons.png';
$ico-bk-star: (128px, 103px, -128px, -103px, 22px, 21px, 178px, 176px, '../images/sprite/icons.png', 'ico_bk_star', );
$ico-bk-star-blank-name: 'ico_bk_star_blank';
$ico-bk-star-blank-x: 150px;
$ico-bk-star-blank-y: 103px;
$ico-bk-star-blank-offset-x: -150px;
$ico-bk-star-blank-offset-y: -103px;
$ico-bk-star-blank-width: 22px;
$ico-bk-star-blank-height: 21px;
$ico-bk-star-blank-total-width: 178px;
$ico-bk-star-blank-total-height: 176px;
$ico-bk-star-blank-image: '../images/sprite/icons.png';
$ico-bk-star-blank: (150px, 103px, -150px, -103px, 22px, 21px, 178px, 176px, '../images/sprite/icons.png', 'ico_bk_star_blank', );
$ico-bk-star-half-name: 'ico_bk_star_half';
$ico-bk-star-half-x: 48px;
$ico-bk-star-half-y: 135px;
$ico-bk-star-half-offset-x: -48px;
$ico-bk-star-half-offset-y: -135px;
$ico-bk-star-half-width: 22px;
$ico-bk-star-half-height: 21px;
$ico-bk-star-half-total-width: 178px;
$ico-bk-star-half-total-height: 176px;
$ico-bk-star-half-image: '../images/sprite/icons.png';
$ico-bk-star-half: (48px, 135px, -48px, -135px, 22px, 21px, 178px, 176px, '../images/sprite/icons.png', 'ico_bk_star_half', );
$ico-camera-name: 'ico_camera';
$ico-camera-x: 111px;
$ico-camera-y: 0px;
$ico-camera-offset-x: -111px;
$ico-camera-offset-y: 0px;
$ico-camera-width: 67px;
$ico-camera-height: 48px;
$ico-camera-total-width: 178px;
$ico-camera-total-height: 176px;
$ico-camera-image: '../images/sprite/icons.png';
$ico-camera: (111px, 0px, -111px, 0px, 67px, 48px, 178px, 176px, '../images/sprite/icons.png', 'ico_camera', );
$ico-camera-small-name: 'ico_camera_small';
$ico-camera-small-x: 111px;
$ico-camera-small-y: 48px;
$ico-camera-small-offset-x: -111px;
$ico-camera-small-offset-y: -48px;
$ico-camera-small-width: 49px;
$ico-camera-small-height: 35px;
$ico-camera-small-total-width: 178px;
$ico-camera-small-total-height: 176px;
$ico-camera-small-image: '../images/sprite/icons.png';
$ico-camera-small: (111px, 48px, -111px, -48px, 49px, 35px, 178px, 176px, '../images/sprite/icons.png', 'ico_camera_small', );
$ico-close-name: 'ico_close';
$ico-close-x: 160px;
$ico-close-y: 48px;
$ico-close-offset-x: -160px;
$ico-close-offset-y: -48px;
$ico-close-width: 18px;
$ico-close-height: 18px;
$ico-close-total-width: 178px;
$ico-close-total-height: 176px;
$ico-close-image: '../images/sprite/icons.png';
$ico-close: (160px, 48px, -160px, -48px, 18px, 18px, 178px, 176px, '../images/sprite/icons.png', 'ico_close', );
$ico-delete-name: 'ico_delete';
$ico-delete-x: 160px;
$ico-delete-y: 66px;
$ico-delete-offset-x: -160px;
$ico-delete-offset-y: -66px;
$ico-delete-width: 17px;
$ico-delete-height: 17px;
$ico-delete-total-width: 178px;
$ico-delete-total-height: 176px;
$ico-delete-image: '../images/sprite/icons.png';
$ico-delete: (160px, 66px, -160px, -66px, 17px, 17px, 178px, 176px, '../images/sprite/icons.png', 'ico_delete', );
$ico-header-search-name: 'ico_header_search';
$ico-header-search-x: 36px;
$ico-header-search-y: 159px;
$ico-header-search-offset-x: -36px;
$ico-header-search-offset-y: -159px;
$ico-header-search-width: 15px;
$ico-header-search-height: 15px;
$ico-header-search-total-width: 178px;
$ico-header-search-total-height: 176px;
$ico-header-search-image: '../images/sprite/icons.png';
$ico-header-search: (36px, 159px, -36px, -159px, 15px, 15px, 178px, 176px, '../images/sprite/icons.png', 'ico_header_search', );
$ico-like-name: 'ico_like';
$ico-like-x: 150px;
$ico-like-y: 135px;
$ico-like-offset-x: -150px;
$ico-like-offset-y: -135px;
$ico-like-width: 20px;
$ico-like-height: 17px;
$ico-like-total-width: 178px;
$ico-like-total-height: 176px;
$ico-like-image: '../images/sprite/icons.png';
$ico-like: (150px, 135px, -150px, -135px, 20px, 17px, 178px, 176px, '../images/sprite/icons.png', 'ico_like', );
$ico-like-on-name: 'ico_like_on';
$ico-like-on-x: 0px;
$ico-like-on-y: 159px;
$ico-like-on-offset-x: 0px;
$ico-like-on-offset-y: -159px;
$ico-like-on-width: 20px;
$ico-like-on-height: 17px;
$ico-like-on-total-width: 178px;
$ico-like-on-total-height: 176px;
$ico-like-on-image: '../images/sprite/icons.png';
$ico-like-on: (0px, 159px, 0px, -159px, 20px, 17px, 178px, 176px, '../images/sprite/icons.png', 'ico_like_on', );
$ico-menu-tag-celeb-name: 'ico_menu_tag_celeb';
$ico-menu-tag-celeb-x: 131px;
$ico-menu-tag-celeb-y: 135px;
$ico-menu-tag-celeb-offset-x: -131px;
$ico-menu-tag-celeb-offset-y: -135px;
$ico-menu-tag-celeb-width: 19px;
$ico-menu-tag-celeb-height: 19px;
$ico-menu-tag-celeb-total-width: 178px;
$ico-menu-tag-celeb-total-height: 176px;
$ico-menu-tag-celeb-image: '../images/sprite/icons.png';
$ico-menu-tag-celeb: (131px, 135px, -131px, -135px, 19px, 19px, 178px, 176px, '../images/sprite/icons.png', 'ico_menu_tag_celeb', );
$ico-menu-tag-funkplay-name: 'ico_menu_tag_funkplay';
$ico-menu-tag-funkplay-x: 91px;
$ico-menu-tag-funkplay-y: 135px;
$ico-menu-tag-funkplay-offset-x: -91px;
$ico-menu-tag-funkplay-offset-y: -135px;
$ico-menu-tag-funkplay-width: 20px;
$ico-menu-tag-funkplay-height: 20px;
$ico-menu-tag-funkplay-total-width: 178px;
$ico-menu-tag-funkplay-total-height: 176px;
$ico-menu-tag-funkplay-image: '../images/sprite/icons.png';
$ico-menu-tag-funkplay: (91px, 135px, -91px, -135px, 20px, 20px, 178px, 176px, '../images/sprite/icons.png', 'ico_menu_tag_funkplay', );
$ico-menu-tag-picks-name: 'ico_menu_tag_picks';
$ico-menu-tag-picks-x: 111px;
$ico-menu-tag-picks-y: 135px;
$ico-menu-tag-picks-offset-x: -111px;
$ico-menu-tag-picks-offset-y: -135px;
$ico-menu-tag-picks-width: 20px;
$ico-menu-tag-picks-height: 20px;
$ico-menu-tag-picks-total-width: 178px;
$ico-menu-tag-picks-total-height: 176px;
$ico-menu-tag-picks-image: '../images/sprite/icons.png';
$ico-menu-tag-picks: (111px, 135px, -111px, -135px, 20px, 20px, 178px, 176px, '../images/sprite/icons.png', 'ico_menu_tag_picks', );
$ico-share-name: 'ico_share';
$ico-share-x: 70px;
$ico-share-y: 135px;
$ico-share-offset-x: -70px;
$ico-share-offset-y: -135px;
$ico-share-width: 21px;
$ico-share-height: 20px;
$ico-share-total-width: 178px;
$ico-share-total-height: 176px;
$ico-share-image: '../images/sprite/icons.png';
$ico-share: (70px, 135px, -70px, -135px, 21px, 20px, 178px, 176px, '../images/sprite/icons.png', 'ico_share', );
$ico-star-name: 'ico_star';
$ico-star-x: 20px;
$ico-star-y: 159px;
$ico-star-offset-x: -20px;
$ico-star-offset-y: -159px;
$ico-star-width: 16px;
$ico-star-height: 16px;
$ico-star-total-width: 178px;
$ico-star-total-height: 176px;
$ico-star-image: '../images/sprite/icons.png';
$ico-star: (20px, 159px, -20px, -159px, 16px, 16px, 178px, 176px, '../images/sprite/icons.png', 'ico_star', );
$ico-star-24-name: 'ico_star_24';
$ico-star-24-x: 0px;
$ico-star-24-y: 135px;
$ico-star-24-offset-x: 0px;
$ico-star-24-offset-y: -135px;
$ico-star-24-width: 24px;
$ico-star-24-height: 24px;
$ico-star-24-total-width: 178px;
$ico-star-24-total-height: 176px;
$ico-star-24-image: '../images/sprite/icons.png';
$ico-star-24: (0px, 135px, 0px, -135px, 24px, 24px, 178px, 176px, '../images/sprite/icons.png', 'ico_star_24', );
$ico-star-blank-24-name: 'ico_star_blank_24';
$ico-star-blank-24-x: 24px;
$ico-star-blank-24-y: 135px;
$ico-star-blank-24-offset-x: -24px;
$ico-star-blank-24-offset-y: -135px;
$ico-star-blank-24-width: 24px;
$ico-star-blank-24-height: 24px;
$ico-star-blank-24-total-width: 178px;
$ico-star-blank-24-total-height: 176px;
$ico-star-blank-24-image: '../images/sprite/icons.png';
$ico-star-blank-24: (24px, 135px, -24px, -135px, 24px, 24px, 178px, 176px, '../images/sprite/icons.png', 'ico_star_blank_24', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 89px;
$logo-offset-x: 0px;
$logo-offset-y: -89px;
$logo-width: 161px;
$logo-height: 14px;
$logo-total-width: 178px;
$logo-total-height: 176px;
$logo-image: '../images/sprite/icons.png';
$logo: (0px, 89px, 0px, -89px, 161px, 14px, 178px, 176px, '../images/sprite/icons.png', 'logo', );
$bg-header-funkplay-off-2x-name: 'bg_header_funkplay_off@2x';
$bg-header-funkplay-off-2x-x: 0px;
$bg-header-funkplay-off-2x-y: 206px;
$bg-header-funkplay-off-2x-offset-x: 0px;
$bg-header-funkplay-off-2x-offset-y: -206px;
$bg-header-funkplay-off-2x-width: 94px;
$bg-header-funkplay-off-2x-height: 64px;
$bg-header-funkplay-off-2x-total-width: 356px;
$bg-header-funkplay-off-2x-total-height: 352px;
$bg-header-funkplay-off-2x-image: '../images/sprite/icons@2x.png';
$bg-header-funkplay-off-2x: (0px, 206px, 0px, -206px, 94px, 64px, 356px, 352px, '../images/sprite/icons@2x.png', 'bg_header_funkplay_off@2x', );
$bg-header-funkplay-on-2x-name: 'bg_header_funkplay_on@2x';
$bg-header-funkplay-on-2x-x: 94px;
$bg-header-funkplay-on-2x-y: 206px;
$bg-header-funkplay-on-2x-offset-x: -94px;
$bg-header-funkplay-on-2x-offset-y: -206px;
$bg-header-funkplay-on-2x-width: 94px;
$bg-header-funkplay-on-2x-height: 64px;
$bg-header-funkplay-on-2x-total-width: 356px;
$bg-header-funkplay-on-2x-total-height: 352px;
$bg-header-funkplay-on-2x-image: '../images/sprite/icons@2x.png';
$bg-header-funkplay-on-2x: (94px, 206px, -94px, -206px, 94px, 64px, 356px, 352px, '../images/sprite/icons@2x.png', 'bg_header_funkplay_on@2x', );
$bg-select-2x-name: 'bg_select@2x';
$bg-select-2x-x: 222px;
$bg-select-2x-y: 166px;
$bg-select-2x-offset-x: -222px;
$bg-select-2x-offset-y: -166px;
$bg-select-2x-width: 22px;
$bg-select-2x-height: 12px;
$bg-select-2x-total-width: 356px;
$bg-select-2x-total-height: 352px;
$bg-select-2x-image: '../images/sprite/icons@2x.png';
$bg-select-2x: (222px, 166px, -222px, -166px, 22px, 12px, 356px, 352px, '../images/sprite/icons@2x.png', 'bg_select@2x', );
$btn-header-search-2x-name: 'btn_header_search@2x';
$btn-header-search-2x-x: 188px;
$btn-header-search-2x-y: 206px;
$btn-header-search-2x-offset-x: -188px;
$btn-header-search-2x-offset-y: -206px;
$btn-header-search-2x-width: 68px;
$btn-header-search-2x-height: 42px;
$btn-header-search-2x-total-width: 356px;
$btn-header-search-2x-total-height: 352px;
$btn-header-search-2x-image: '../images/sprite/icons@2x.png';
$btn-header-search-2x: (188px, 206px, -188px, -206px, 68px, 42px, 356px, 352px, '../images/sprite/icons@2x.png', 'btn_header_search@2x', );
$ico-basket-2x-name: 'ico_basket@2x';
$ico-basket-2x-x: 0px;
$ico-basket-2x-y: 0px;
$ico-basket-2x-offset-x: 0px;
$ico-basket-2x-offset-y: 0px;
$ico-basket-2x-width: 222px;
$ico-basket-2x-height: 178px;
$ico-basket-2x-total-width: 356px;
$ico-basket-2x-total-height: 352px;
$ico-basket-2x-image: '../images/sprite/icons@2x.png';
$ico-basket-2x: (0px, 0px, 0px, 0px, 222px, 178px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_basket@2x', );
$ico-bk-star-2x-name: 'ico_bk_star@2x';
$ico-bk-star-2x-x: 256px;
$ico-bk-star-2x-y: 206px;
$ico-bk-star-2x-offset-x: -256px;
$ico-bk-star-2x-offset-y: -206px;
$ico-bk-star-2x-width: 44px;
$ico-bk-star-2x-height: 42px;
$ico-bk-star-2x-total-width: 356px;
$ico-bk-star-2x-total-height: 352px;
$ico-bk-star-2x-image: '../images/sprite/icons@2x.png';
$ico-bk-star-2x: (256px, 206px, -256px, -206px, 44px, 42px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_bk_star@2x', );
$ico-bk-star-blank-2x-name: 'ico_bk_star_blank@2x';
$ico-bk-star-blank-2x-x: 300px;
$ico-bk-star-blank-2x-y: 206px;
$ico-bk-star-blank-2x-offset-x: -300px;
$ico-bk-star-blank-2x-offset-y: -206px;
$ico-bk-star-blank-2x-width: 44px;
$ico-bk-star-blank-2x-height: 42px;
$ico-bk-star-blank-2x-total-width: 356px;
$ico-bk-star-blank-2x-total-height: 352px;
$ico-bk-star-blank-2x-image: '../images/sprite/icons@2x.png';
$ico-bk-star-blank-2x: (300px, 206px, -300px, -206px, 44px, 42px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_bk_star_blank@2x', );
$ico-bk-star-half-2x-name: 'ico_bk_star_half@2x';
$ico-bk-star-half-2x-x: 96px;
$ico-bk-star-half-2x-y: 270px;
$ico-bk-star-half-2x-offset-x: -96px;
$ico-bk-star-half-2x-offset-y: -270px;
$ico-bk-star-half-2x-width: 44px;
$ico-bk-star-half-2x-height: 42px;
$ico-bk-star-half-2x-total-width: 356px;
$ico-bk-star-half-2x-total-height: 352px;
$ico-bk-star-half-2x-image: '../images/sprite/icons@2x.png';
$ico-bk-star-half-2x: (96px, 270px, -96px, -270px, 44px, 42px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_bk_star_half@2x', );
$ico-camera-2x-name: 'ico_camera@2x';
$ico-camera-2x-x: 222px;
$ico-camera-2x-y: 0px;
$ico-camera-2x-offset-x: -222px;
$ico-camera-2x-offset-y: 0px;
$ico-camera-2x-width: 134px;
$ico-camera-2x-height: 96px;
$ico-camera-2x-total-width: 356px;
$ico-camera-2x-total-height: 352px;
$ico-camera-2x-image: '../images/sprite/icons@2x.png';
$ico-camera-2x: (222px, 0px, -222px, 0px, 134px, 96px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_camera@2x', );
$ico-camera-small-2x-name: 'ico_camera_small@2x';
$ico-camera-small-2x-x: 222px;
$ico-camera-small-2x-y: 96px;
$ico-camera-small-2x-offset-x: -222px;
$ico-camera-small-2x-offset-y: -96px;
$ico-camera-small-2x-width: 98px;
$ico-camera-small-2x-height: 70px;
$ico-camera-small-2x-total-width: 356px;
$ico-camera-small-2x-total-height: 352px;
$ico-camera-small-2x-image: '../images/sprite/icons@2x.png';
$ico-camera-small-2x: (222px, 96px, -222px, -96px, 98px, 70px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_camera_small@2x', );
$ico-close-2x-name: 'ico_close@2x';
$ico-close-2x-x: 320px;
$ico-close-2x-y: 96px;
$ico-close-2x-offset-x: -320px;
$ico-close-2x-offset-y: -96px;
$ico-close-2x-width: 36px;
$ico-close-2x-height: 36px;
$ico-close-2x-total-width: 356px;
$ico-close-2x-total-height: 352px;
$ico-close-2x-image: '../images/sprite/icons@2x.png';
$ico-close-2x: (320px, 96px, -320px, -96px, 36px, 36px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_close@2x', );
$ico-delete-2x-name: 'ico_delete@2x';
$ico-delete-2x-x: 320px;
$ico-delete-2x-y: 132px;
$ico-delete-2x-offset-x: -320px;
$ico-delete-2x-offset-y: -132px;
$ico-delete-2x-width: 34px;
$ico-delete-2x-height: 34px;
$ico-delete-2x-total-width: 356px;
$ico-delete-2x-total-height: 352px;
$ico-delete-2x-image: '../images/sprite/icons@2x.png';
$ico-delete-2x: (320px, 132px, -320px, -132px, 34px, 34px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_delete@2x', );
$ico-header-search-2x-name: 'ico_header_search@2x';
$ico-header-search-2x-x: 72px;
$ico-header-search-2x-y: 318px;
$ico-header-search-2x-offset-x: -72px;
$ico-header-search-2x-offset-y: -318px;
$ico-header-search-2x-width: 30px;
$ico-header-search-2x-height: 30px;
$ico-header-search-2x-total-width: 356px;
$ico-header-search-2x-total-height: 352px;
$ico-header-search-2x-image: '../images/sprite/icons@2x.png';
$ico-header-search-2x: (72px, 318px, -72px, -318px, 30px, 30px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_header_search@2x', );
$ico-like-2x-name: 'ico_like@2x';
$ico-like-2x-x: 300px;
$ico-like-2x-y: 270px;
$ico-like-2x-offset-x: -300px;
$ico-like-2x-offset-y: -270px;
$ico-like-2x-width: 40px;
$ico-like-2x-height: 34px;
$ico-like-2x-total-width: 356px;
$ico-like-2x-total-height: 352px;
$ico-like-2x-image: '../images/sprite/icons@2x.png';
$ico-like-2x: (300px, 270px, -300px, -270px, 40px, 34px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_like@2x', );
$ico-like-on-2x-name: 'ico_like_on@2x';
$ico-like-on-2x-x: 0px;
$ico-like-on-2x-y: 318px;
$ico-like-on-2x-offset-x: 0px;
$ico-like-on-2x-offset-y: -318px;
$ico-like-on-2x-width: 40px;
$ico-like-on-2x-height: 34px;
$ico-like-on-2x-total-width: 356px;
$ico-like-on-2x-total-height: 352px;
$ico-like-on-2x-image: '../images/sprite/icons@2x.png';
$ico-like-on-2x: (0px, 318px, 0px, -318px, 40px, 34px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_like_on@2x', );
$ico-menu-tag-celeb-2x-name: 'ico_menu_tag_celeb@2x';
$ico-menu-tag-celeb-2x-x: 262px;
$ico-menu-tag-celeb-2x-y: 270px;
$ico-menu-tag-celeb-2x-offset-x: -262px;
$ico-menu-tag-celeb-2x-offset-y: -270px;
$ico-menu-tag-celeb-2x-width: 38px;
$ico-menu-tag-celeb-2x-height: 38px;
$ico-menu-tag-celeb-2x-total-width: 356px;
$ico-menu-tag-celeb-2x-total-height: 352px;
$ico-menu-tag-celeb-2x-image: '../images/sprite/icons@2x.png';
$ico-menu-tag-celeb-2x: (262px, 270px, -262px, -270px, 38px, 38px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_menu_tag_celeb@2x', );
$ico-menu-tag-funkplay-2x-name: 'ico_menu_tag_funkplay@2x';
$ico-menu-tag-funkplay-2x-x: 182px;
$ico-menu-tag-funkplay-2x-y: 270px;
$ico-menu-tag-funkplay-2x-offset-x: -182px;
$ico-menu-tag-funkplay-2x-offset-y: -270px;
$ico-menu-tag-funkplay-2x-width: 40px;
$ico-menu-tag-funkplay-2x-height: 40px;
$ico-menu-tag-funkplay-2x-total-width: 356px;
$ico-menu-tag-funkplay-2x-total-height: 352px;
$ico-menu-tag-funkplay-2x-image: '../images/sprite/icons@2x.png';
$ico-menu-tag-funkplay-2x: (182px, 270px, -182px, -270px, 40px, 40px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_menu_tag_funkplay@2x', );
$ico-menu-tag-picks-2x-name: 'ico_menu_tag_picks@2x';
$ico-menu-tag-picks-2x-x: 222px;
$ico-menu-tag-picks-2x-y: 270px;
$ico-menu-tag-picks-2x-offset-x: -222px;
$ico-menu-tag-picks-2x-offset-y: -270px;
$ico-menu-tag-picks-2x-width: 40px;
$ico-menu-tag-picks-2x-height: 40px;
$ico-menu-tag-picks-2x-total-width: 356px;
$ico-menu-tag-picks-2x-total-height: 352px;
$ico-menu-tag-picks-2x-image: '../images/sprite/icons@2x.png';
$ico-menu-tag-picks-2x: (222px, 270px, -222px, -270px, 40px, 40px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_menu_tag_picks@2x', );
$ico-share-2x-name: 'ico_share@2x';
$ico-share-2x-x: 140px;
$ico-share-2x-y: 270px;
$ico-share-2x-offset-x: -140px;
$ico-share-2x-offset-y: -270px;
$ico-share-2x-width: 42px;
$ico-share-2x-height: 40px;
$ico-share-2x-total-width: 356px;
$ico-share-2x-total-height: 352px;
$ico-share-2x-image: '../images/sprite/icons@2x.png';
$ico-share-2x: (140px, 270px, -140px, -270px, 42px, 40px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_share@2x', );
$ico-star-2x-name: 'ico_star@2x';
$ico-star-2x-x: 40px;
$ico-star-2x-y: 318px;
$ico-star-2x-offset-x: -40px;
$ico-star-2x-offset-y: -318px;
$ico-star-2x-width: 32px;
$ico-star-2x-height: 32px;
$ico-star-2x-total-width: 356px;
$ico-star-2x-total-height: 352px;
$ico-star-2x-image: '../images/sprite/icons@2x.png';
$ico-star-2x: (40px, 318px, -40px, -318px, 32px, 32px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_star@2x', );
$ico-star-24-2x-name: 'ico_star_24@2x';
$ico-star-24-2x-x: 0px;
$ico-star-24-2x-y: 270px;
$ico-star-24-2x-offset-x: 0px;
$ico-star-24-2x-offset-y: -270px;
$ico-star-24-2x-width: 48px;
$ico-star-24-2x-height: 48px;
$ico-star-24-2x-total-width: 356px;
$ico-star-24-2x-total-height: 352px;
$ico-star-24-2x-image: '../images/sprite/icons@2x.png';
$ico-star-24-2x: (0px, 270px, 0px, -270px, 48px, 48px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_star_24@2x', );
$ico-star-blank-24-2x-name: 'ico_star_blank_24@2x';
$ico-star-blank-24-2x-x: 48px;
$ico-star-blank-24-2x-y: 270px;
$ico-star-blank-24-2x-offset-x: -48px;
$ico-star-blank-24-2x-offset-y: -270px;
$ico-star-blank-24-2x-width: 48px;
$ico-star-blank-24-2x-height: 48px;
$ico-star-blank-24-2x-total-width: 356px;
$ico-star-blank-24-2x-total-height: 352px;
$ico-star-blank-24-2x-image: '../images/sprite/icons@2x.png';
$ico-star-blank-24-2x: (48px, 270px, -48px, -270px, 48px, 48px, 356px, 352px, '../images/sprite/icons@2x.png', 'ico_star_blank_24@2x', );
$logo-2x-name: 'logo@2x';
$logo-2x-x: 0px;
$logo-2x-y: 178px;
$logo-2x-offset-x: 0px;
$logo-2x-offset-y: -178px;
$logo-2x-width: 322px;
$logo-2x-height: 28px;
$logo-2x-total-width: 356px;
$logo-2x-total-height: 352px;
$logo-2x-image: '../images/sprite/icons@2x.png';
$logo-2x: (0px, 178px, 0px, -178px, 322px, 28px, 356px, 352px, '../images/sprite/icons@2x.png', 'logo@2x', );
$icons-width: 178px;
$icons-height: 176px;
$icons-image: '../images/sprite/icons.png';
$icons-sprites: ($bg-header-funkplay-off, $bg-header-funkplay-on, $bg-select, $btn-header-search, $ico-basket, $ico-bk-star, $ico-bk-star-blank, $ico-bk-star-half, $ico-camera, $ico-camera-small, $ico-close, $ico-delete, $ico-header-search, $ico-like, $ico-like-on, $ico-menu-tag-celeb, $ico-menu-tag-funkplay, $ico-menu-tag-picks, $ico-share, $ico-star, $ico-star-24, $ico-star-blank-24, $logo, );
$icons: (178px, 176px, '../images/sprite/icons.png', $icons-sprites, );
$retina-spritesheet-width: 356px;
$retina-spritesheet-height: 352px;
$retina-spritesheet-image: '../images/sprite/icons@2x.png';
$retina-spritesheet-sprites: ($bg-header-funkplay-off-2x, $bg-header-funkplay-on-2x, $bg-select-2x, $btn-header-search-2x, $ico-basket-2x, $ico-bk-star-2x, $ico-bk-star-blank-2x, $ico-bk-star-half-2x, $ico-camera-2x, $ico-camera-small-2x, $ico-close-2x, $ico-delete-2x, $ico-header-search-2x, $ico-like-2x, $ico-like-on-2x, $ico-menu-tag-celeb-2x, $ico-menu-tag-funkplay-2x, $ico-menu-tag-picks-2x, $ico-share-2x, $ico-star-2x, $ico-star-24-2x, $ico-star-blank-24-2x, $logo-2x, );
$retina-spritesheet: (356px, 352px, '../images/sprite/icons@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$bg-header-funkplay-off-group-name: 'bg_header_funkplay_off';
$bg-header-funkplay-off-group: ('bg_header_funkplay_off', $bg-header-funkplay-off, $bg-header-funkplay-off-2x, );
$bg-header-funkplay-on-group-name: 'bg_header_funkplay_on';
$bg-header-funkplay-on-group: ('bg_header_funkplay_on', $bg-header-funkplay-on, $bg-header-funkplay-on-2x, );
$bg-select-group-name: 'bg_select';
$bg-select-group: ('bg_select', $bg-select, $bg-select-2x, );
$btn-header-search-group-name: 'btn_header_search';
$btn-header-search-group: ('btn_header_search', $btn-header-search, $btn-header-search-2x, );
$ico-basket-group-name: 'ico_basket';
$ico-basket-group: ('ico_basket', $ico-basket, $ico-basket-2x, );
$ico-bk-star-group-name: 'ico_bk_star';
$ico-bk-star-group: ('ico_bk_star', $ico-bk-star, $ico-bk-star-2x, );
$ico-bk-star-blank-group-name: 'ico_bk_star_blank';
$ico-bk-star-blank-group: ('ico_bk_star_blank', $ico-bk-star-blank, $ico-bk-star-blank-2x, );
$ico-bk-star-half-group-name: 'ico_bk_star_half';
$ico-bk-star-half-group: ('ico_bk_star_half', $ico-bk-star-half, $ico-bk-star-half-2x, );
$ico-camera-group-name: 'ico_camera';
$ico-camera-group: ('ico_camera', $ico-camera, $ico-camera-2x, );
$ico-camera-small-group-name: 'ico_camera_small';
$ico-camera-small-group: ('ico_camera_small', $ico-camera-small, $ico-camera-small-2x, );
$ico-close-group-name: 'ico_close';
$ico-close-group: ('ico_close', $ico-close, $ico-close-2x, );
$ico-delete-group-name: 'ico_delete';
$ico-delete-group: ('ico_delete', $ico-delete, $ico-delete-2x, );
$ico-header-search-group-name: 'ico_header_search';
$ico-header-search-group: ('ico_header_search', $ico-header-search, $ico-header-search-2x, );
$ico-like-group-name: 'ico_like';
$ico-like-group: ('ico_like', $ico-like, $ico-like-2x, );
$ico-like-on-group-name: 'ico_like_on';
$ico-like-on-group: ('ico_like_on', $ico-like-on, $ico-like-on-2x, );
$ico-menu-tag-celeb-group-name: 'ico_menu_tag_celeb';
$ico-menu-tag-celeb-group: ('ico_menu_tag_celeb', $ico-menu-tag-celeb, $ico-menu-tag-celeb-2x, );
$ico-menu-tag-funkplay-group-name: 'ico_menu_tag_funkplay';
$ico-menu-tag-funkplay-group: ('ico_menu_tag_funkplay', $ico-menu-tag-funkplay, $ico-menu-tag-funkplay-2x, );
$ico-menu-tag-picks-group-name: 'ico_menu_tag_picks';
$ico-menu-tag-picks-group: ('ico_menu_tag_picks', $ico-menu-tag-picks, $ico-menu-tag-picks-2x, );
$ico-share-group-name: 'ico_share';
$ico-share-group: ('ico_share', $ico-share, $ico-share-2x, );
$ico-star-group-name: 'ico_star';
$ico-star-group: ('ico_star', $ico-star, $ico-star-2x, );
$ico-star-24-group-name: 'ico_star_24';
$ico-star-24-group: ('ico_star_24', $ico-star-24, $ico-star-24-2x, );
$ico-star-blank-24-group-name: 'ico_star_blank_24';
$ico-star-blank-24-group: ('ico_star_blank_24', $ico-star-blank-24, $ico-star-blank-24-2x, );
$logo-group-name: 'logo';
$logo-group: ('logo', $logo, $logo-2x, );
$retina-groups: ($bg-header-funkplay-off-group, $bg-header-funkplay-on-group, $bg-select-group, $btn-header-search-group, $ico-basket-group, $ico-bk-star-group, $ico-bk-star-blank-group, $ico-bk-star-half-group, $ico-camera-group, $ico-camera-small-group, $ico-close-group, $ico-delete-group, $ico-header-search-group, $ico-like-group, $ico-like-on-group, $ico-menu-tag-celeb-group, $ico-menu-tag-funkplay-group, $ico-menu-tag-picks-group, $ico-share-group, $ico-star-group, $ico-star-24-group, $ico-star-blank-24-group, $logo-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
