// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-header-funkplay-off-name: 'bg_header_funkplay_off';
$bg-header-funkplay-off-x: 141px;
$bg-header-funkplay-off-y: 0px;
$bg-header-funkplay-off-offset-x: -141px;
$bg-header-funkplay-off-offset-y: 0px;
$bg-header-funkplay-off-width: 140px;
$bg-header-funkplay-off-height: 80px;
$bg-header-funkplay-off-total-width: 281px;
$bg-header-funkplay-off-total-height: 149px;
$bg-header-funkplay-off-image: '../images/sprite/mo_icons.png';
$bg-header-funkplay-off: (141px, 0px, -141px, 0px, 140px, 80px, 281px, 149px, '../images/sprite/mo_icons.png', 'bg_header_funkplay_off', );
$bg-header-funkplay-on-name: 'bg_header_funkplay_on';
$bg-header-funkplay-on-x: 0px;
$bg-header-funkplay-on-y: 0px;
$bg-header-funkplay-on-offset-x: 0px;
$bg-header-funkplay-on-offset-y: 0px;
$bg-header-funkplay-on-width: 141px;
$bg-header-funkplay-on-height: 80px;
$bg-header-funkplay-on-total-width: 281px;
$bg-header-funkplay-on-total-height: 149px;
$bg-header-funkplay-on-image: '../images/sprite/mo_icons.png';
$bg-header-funkplay-on: (0px, 0px, 0px, 0px, 141px, 80px, 281px, 149px, '../images/sprite/mo_icons.png', 'bg_header_funkplay_on', );
$btn-header-search-name: 'btn_header_search';
$btn-header-search-x: 62px;
$btn-header-search-y: 98px;
$btn-header-search-offset-x: -62px;
$btn-header-search-offset-y: -98px;
$btn-header-search-width: 32px;
$btn-header-search-height: 21px;
$btn-header-search-total-width: 281px;
$btn-header-search-total-height: 149px;
$btn-header-search-image: '../images/sprite/mo_icons.png';
$btn-header-search: (62px, 98px, -62px, -98px, 32px, 21px, 281px, 149px, '../images/sprite/mo_icons.png', 'btn_header_search', );
$ico-header-search-name: 'ico_header_search';
$ico-header-search-x: 0px;
$ico-header-search-y: 125px;
$ico-header-search-offset-x: 0px;
$ico-header-search-offset-y: -125px;
$ico-header-search-width: 24px;
$ico-header-search-height: 24px;
$ico-header-search-total-width: 281px;
$ico-header-search-total-height: 149px;
$ico-header-search-image: '../images/sprite/mo_icons.png';
$ico-header-search: (0px, 125px, 0px, -125px, 24px, 24px, 281px, 149px, '../images/sprite/mo_icons.png', 'ico_header_search', );
$ico-like-name: 'ico_like';
$ico-like-x: 0px;
$ico-like-y: 98px;
$ico-like-offset-x: 0px;
$ico-like-offset-y: -98px;
$ico-like-width: 31px;
$ico-like-height: 27px;
$ico-like-total-width: 281px;
$ico-like-total-height: 149px;
$ico-like-image: '../images/sprite/mo_icons.png';
$ico-like: (0px, 98px, 0px, -98px, 31px, 27px, 281px, 149px, '../images/sprite/mo_icons.png', 'ico_like', );
$ico-like-on-name: 'ico_like_on';
$ico-like-on-x: 31px;
$ico-like-on-y: 98px;
$ico-like-on-offset-x: -31px;
$ico-like-on-offset-y: -98px;
$ico-like-on-width: 31px;
$ico-like-on-height: 26px;
$ico-like-on-total-width: 281px;
$ico-like-on-total-height: 149px;
$ico-like-on-image: '../images/sprite/mo_icons.png';
$ico-like-on: (31px, 98px, -31px, -98px, 31px, 26px, 281px, 149px, '../images/sprite/mo_icons.png', 'ico_like_on', );
$ico-menu-tag-celeb-name: 'ico_menu_tag_celeb';
$ico-menu-tag-celeb-x: 94px;
$ico-menu-tag-celeb-y: 98px;
$ico-menu-tag-celeb-offset-x: -94px;
$ico-menu-tag-celeb-offset-y: -98px;
$ico-menu-tag-celeb-width: 18px;
$ico-menu-tag-celeb-height: 15px;
$ico-menu-tag-celeb-total-width: 281px;
$ico-menu-tag-celeb-total-height: 149px;
$ico-menu-tag-celeb-image: '../images/sprite/mo_icons.png';
$ico-menu-tag-celeb: (94px, 98px, -94px, -98px, 18px, 15px, 281px, 149px, '../images/sprite/mo_icons.png', 'ico_menu_tag_celeb', );
$ico-menu-tag-funkplay-name: 'ico_menu_tag_funkplay';
$ico-menu-tag-funkplay-x: 231px;
$ico-menu-tag-funkplay-y: 80px;
$ico-menu-tag-funkplay-offset-x: -231px;
$ico-menu-tag-funkplay-offset-y: -80px;
$ico-menu-tag-funkplay-width: 18px;
$ico-menu-tag-funkplay-height: 18px;
$ico-menu-tag-funkplay-total-width: 281px;
$ico-menu-tag-funkplay-total-height: 149px;
$ico-menu-tag-funkplay-image: '../images/sprite/mo_icons.png';
$ico-menu-tag-funkplay: (231px, 80px, -231px, -80px, 18px, 18px, 281px, 149px, '../images/sprite/mo_icons.png', 'ico_menu_tag_funkplay', );
$ico-menu-tag-picks-name: 'ico_menu_tag_picks';
$ico-menu-tag-picks-x: 249px;
$ico-menu-tag-picks-y: 80px;
$ico-menu-tag-picks-offset-x: -249px;
$ico-menu-tag-picks-offset-y: -80px;
$ico-menu-tag-picks-width: 18px;
$ico-menu-tag-picks-height: 18px;
$ico-menu-tag-picks-total-width: 281px;
$ico-menu-tag-picks-total-height: 149px;
$ico-menu-tag-picks-image: '../images/sprite/mo_icons.png';
$ico-menu-tag-picks: (249px, 80px, -249px, -80px, 18px, 18px, 281px, 149px, '../images/sprite/mo_icons.png', 'ico_menu_tag_picks', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 80px;
$logo-offset-x: 0px;
$logo-offset-y: -80px;
$logo-width: 231px;
$logo-height: 18px;
$logo-total-width: 281px;
$logo-total-height: 149px;
$logo-image: '../images/sprite/mo_icons.png';
$logo: (0px, 80px, 0px, -80px, 231px, 18px, 281px, 149px, '../images/sprite/mo_icons.png', 'logo', );
$mo-icons-width: 281px;
$mo-icons-height: 149px;
$mo-icons-image: '../images/sprite/mo_icons.png';
$mo-icons-sprites: ($bg-header-funkplay-off, $bg-header-funkplay-on, $btn-header-search, $ico-header-search, $ico-like, $ico-like-on, $ico-menu-tag-celeb, $ico-menu-tag-funkplay, $ico-menu-tag-picks, $logo, );
$mo-icons: (281px, 149px, '../images/sprite/mo_icons.png', $mo-icons-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
